/**
 * Variables
 *
 * @import this file to use its features.
 *
 *============================================================================*/





/* Accent colors
 *============================================================================*/

$acc-primary  : cornflowerblue;
$acc-secondary: deeppink;
$acc-success  : limegreen;
$acc-warning  : crimson;





/* Background colors
 *============================================================================*/

// Light:
$bg-l-primary  : #ffffff;
$bg-l-secondary: #eeeeee;

// Dark:
$bg-d-primary  : #040404;
$bg-d-secondary: #1c1f24;





/* Foreground colors
 *============================================================================*/

// Light:
$fg-l-primary  : rgba(255,255,255,.9);
$fg-l-secondary: rgba(255,255,255,.7);
$fg-l-tertiary : rgba(255,255,255,.4);

// Dark:
$fg-d-primary  : rgba(0,0,0,.9);
$fg-d-secondary: rgba(0,0,0,.7);
$fg-d-tertiary : rgba(0,0,0,.4);





/* Fonts
 *============================================================================*/

$font-primary  : sans-serif;
$font-secondary: sans-serif;





/* @media breakpoints
 *============================================================================*/
/**
 * Phone           :    0px - 600px
 * Tablet portrait :  600px - 900px
 * Tablet landscape:  900px - 1200px
 * Desktop         : 1200px - 1800px
 * Large desktop   : 1800px +
 *
 * Source:
 * medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
 */

$screen-xs: 600px;
$screen-s : 900px;
$screen-m : 1200px;
$screen-l : 1800px;