/**
 * Contrast
 *
 * A function that calculates relative luminance of a given color. It returns
 * either black or white, based on whichever has more contrast. This is useful
 * for accessibility purposes. People with impaired vision prefer a greater
 * contrast of colors.
 *
 * Further info:
 * https://en.wikipedia.org/wiki/Relative_luminance
 * https://webaim.org/resources/contrastchecker/
 *
 *============================================================================*/





/* Main function
 *============================================================================*/

@function contrast($color) {
  $result: null;

  @if ((0.2126 * red($color) + 0.7152 * green($color) + 0.0722 * blue($color)) > 128) {
    $result: black;
  } @else {
    $result: white;
  }

  @return $result;

}





/* Example
 *============================================================================*/
/**
 * Given a button with the following background color, you can let contrast()
 * function determine whether black or white is more suited for text color.
 *
 * button {
 *   background-color: firebrick;
 *   color: contrast(firebrick); // results in white color
 * }
 */