/**
 * Example component
 *
 * This isn't a real component.
 * This file serves as a code syntax example.
 *
 *============================================================================*/





/* Structure
 *============================================================================*/

.example {
  display: inline-block;
  width: 50px;
  height: 50px;
}





/* Skin
 *============================================================================*/

.example-default {
  background-color: dodgerblue;
}

.example-danger  {
  background-color: crimson;
}





/* Example
 *============================================================================*/
/**
 * <div class="example example-default"><div>
 */