.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  border-radius: 4px;
}

.tag-primary {
  background: $color-primary;
  color: contrast($color-primary),
}

.tag-accent {
  background: $color-accent;
  color: contrast($color-accent);
}

.tag-warn {
  background: $color-warn;
  color: contrast($color-warn);
}

.tag-success {
  background: $color-success;
  color: contrast($color-success);
}