/*==================================================

  EXAMPLE

==================================================*/

@import "assets/style/essentials";
//@import "assets/style/components/bla";

accordion {
  display: block;
}

/* Style the buttons that are used to open and close the accordion panel */
accordion-toggle {
  display: inline-block;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
accordion-toggle:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
accordion-panel {
  padding: 0 18px;
  background-color: white;
  display: block;
  overflow-y: scroll;
  max-height: 0;
  transition: 0.2s;
}