

/**
 * CONTENTS
 *
 * Variables...........Globally-available variables.
 *
 * 01-Tools............Useful mixins and functions.
 * 02-Generic..........Resets, global low-spec rules.
 * 03-Layout...........Objects, layout modules, design patterns.
 * 04-Components.......Discrete, complete chunks of UI.
 * 05-Utilities........Helper classes.
 */

@import "scss/01-tools/contrast";
@import "scss/01-tools/fluid";

@import "scss/02-generic/resets";
@import "scss/02-generic/generic";

@import "scss/03-layout/grid";
@import "scss/03-layout/media";












/**
 * Intro
 *
 * Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
 * tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 * quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 * consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 * cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
 * non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 *
 *============================================================================*/






/* Heading 1
 *============================================================================*/

.element {
  color: black;
}





/* Heading 1
 *============================================================================*/
/**
 * Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
 * tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 * quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 * consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 * cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
 * non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 */

.element {
  color: black;
}





/**
 * Heading 2
 */

.element {
  color: black;
}





/**
 * Heading 2
 *
 * Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
 * tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 * quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 * consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 * cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
 * non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 */

.element {
  color: black;
}





/* Heading 3 (descriptive) */

.element {
  color: black;
}





// Comment

.element {
  color: black;
}