@charset "UTF-8";
/*==================================================

  VARIABLES

* Edit these to your preferences

==================================================*/
/*==================================================

  VARIABLE HELPERS

* DO NOT CHANGE them unless you know what you're doing

==================================================*/
/*==================================================

  GENERAL

==================================================*/
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

feFlood {
  flood-color: red; }

/*==================================================

  TYPOGRAPHY

==================================================*/
h1 {
  font-size: 36px; }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: calc(36px + 4 * ((100vw - 600px) / 1000)); } }
  @media screen and (min-width: 1600px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 32px; }
  @media screen and (min-width: 600px) {
    h2 {
      font-size: calc(32px + 4 * ((100vw - 600px) / 1000)); } }
  @media screen and (min-width: 1600px) {
    h2 {
      font-size: 36px; } }

h3 {
  font-size: 28px; }
  @media screen and (min-width: 600px) {
    h3 {
      font-size: calc(28px + 4 * ((100vw - 600px) / 1000)); } }
  @media screen and (min-width: 1600px) {
    h3 {
      font-size: 32px; } }

h4 {
  font-size: 24px; }
  @media screen and (min-width: 600px) {
    h4 {
      font-size: calc(24px + 4 * ((100vw - 600px) / 1000)); } }
  @media screen and (min-width: 1600px) {
    h4 {
      font-size: 28px; } }

h5 {
  font-size: 20px; }
  @media screen and (min-width: 600px) {
    h5 {
      font-size: calc(20px + 4 * ((100vw - 600px) / 1000)); } }
  @media screen and (min-width: 1600px) {
    h5 {
      font-size: 24px; } }

h6 {
  font-size: 16px; }
  @media screen and (min-width: 600px) {
    h6 {
      font-size: calc(16px + 4 * ((100vw - 600px) / 1000)); } }
  @media screen and (min-width: 1600px) {
    h6 {
      font-size: 20px; } }

p {
  font-size: 16px; }
  @media screen and (min-width: 600px) {
    p {
      font-size: calc(16px + 4 * ((100vw - 600px) / 1000)); } }
  @media screen and (min-width: 1600px) {
    p {
      font-size: 20px; } }

a {
  font-size: inherit;
  text-decoration-skip: ink;
  color: blue; }
  a:visited {
    color: #551a8b; }

/*==================================================

  GRID

* Modify gutter width in variables.scss
* Modify contained width in variables.scss
* For general purposes, use "col-x" class, 1 ≤ x ≤ 12
* To target tablet screens, use "col-m-x" class, 1 ≤ x ≤ 12
* To target mobile screens, use "col-s-x" class, 1 ≤ x ≤ 12

==================================================*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem; }
  .row div[class^='col'] {
    padding: 0 1.5rem 3rem; }
  .row.no-gutter {
    margin-left: 0;
    margin-right: 0; }
    .row.no-gutter div[class^='col'] {
      padding: 0; }
  .row.contained {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto; }
  .row .col-1 {
    flex-basis: 8.3333%; }
  .row .col-2 {
    flex-basis: 16.6666%; }
  .row .col-3 {
    flex-basis: 25%; }
  .row .col-4 {
    flex-basis: 33.3333%; }
  .row .col-5 {
    flex-basis: 41.6666%; }
  .row .col-6 {
    flex-basis: 50%; }
  .row .col-7 {
    flex-basis: 58.3333%; }
  .row .col-8 {
    flex-basis: 66.6666%; }
  .row .col-9 {
    flex-basis: 75%; }
  .row .col-10 {
    flex-basis: 83.3333%; }
  .row .col-11 {
    flex-basis: 91.6666%; }
  .row .col-12 {
    flex-basis: 100%; }
  .row p {
    text-align: center;
    background: lightgreen;
    margin: 0;
    padding: 2rem 0; }

@media screen and (max-width: 1024px) {
  .col-m-1 {
    flex-basis: 8.3333% !important; }

  .col-m-2 {
    flex-basis: 16.6666% !important; }

  .col-m-3 {
    flex-basis: 25% !important; }

  .col-m-4 {
    flex-basis: 33.3333% !important; }

  .col-m-5 {
    flex-basis: 41.6666% !important; }

  .col-m-6 {
    flex-basis: 50% !important; }

  .col-m-7 {
    flex-basis: 58.3333% !important; }

  .col-m-8 {
    flex-basis: 66.6666% !important; }

  .col-m-9 {
    flex-basis: 75% !important; }

  .col-m-10 {
    flex-basis: 83.3333% !important; }

  .col-m-11 {
    flex-basis: 91.6666% !important; }

  .col-m-12 {
    flex-basis: 100% !important; } }
@media screen and (max-width: 767px) {
  .col-s-1 {
    flex-basis: 8.3333% !important; }

  .col-s-2 {
    flex-basis: 16.6666% !important; }

  .col-s-3 {
    flex-basis: 25% !important; }

  .col-s-4 {
    flex-basis: 33.3333% !important; }

  .col-s-5 {
    flex-basis: 41.6666% !important; }

  .col-s-6 {
    flex-basis: 50% !important; }

  .col-s-7 {
    flex-basis: 58.3333% !important; }

  .col-s-8 {
    flex-basis: 66.6666% !important; }

  .col-s-9 {
    flex-basis: 75% !important; }

  .col-s-10 {
    flex-basis: 83.3333% !important; }

  .col-s-11 {
    flex-basis: 91.6666% !important; }

  .col-s-12 {
    flex-basis: 100% !important; } }

/*# sourceMappingURL=style.css.map */
