/*==================================================

  GENERAL

==================================================*/
*, *:before, *:after {
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  min-height: 100%; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/*==================================================

  ESSENTIALS

==================================================*/
/*==================================================

  VARIABLES

==================================================*/
/*==================================================

  FLUID VARIABLES
  
==================================================*/
/*==================================================

  FLUID MARGIN & PADDING
  
==================================================*/
/*==================================================

  FLUID FONT-SIZE

==================================================*/
/*==================================================

  SHORTHAND MARGIN & PADDING

==================================================*/
.m-a-0 {
  margin: 0rem; }

.m-t-0 {
  margin-top: 0rem; }

.m-r-0 {
  margin-right: 0rem; }

.m-b-0 {
  margin-bottom: 0rem; }

.m-l-0 {
  margin-left: 0rem; }

.m-x-0 {
  margin-right: 0rem;
  margin-left: 0rem; }

.m-y-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.m-a-1 {
  margin: 1rem; }

.m-t-1 {
  margin-top: 1rem; }

.m-r-1 {
  margin-right: 1rem; }

.m-b-1 {
  margin-bottom: 1rem; }

.m-l-1 {
  margin-left: 1rem; }

.m-x-1 {
  margin-right: 1rem;
  margin-left: 1rem; }

.m-y-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-a-2 {
  margin: 2rem; }

.m-t-2 {
  margin-top: 2rem; }

.m-r-2 {
  margin-right: 2rem; }

.m-b-2 {
  margin-bottom: 2rem; }

.m-l-2 {
  margin-left: 2rem; }

.m-x-2 {
  margin-right: 2rem;
  margin-left: 2rem; }

.m-y-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-a-3 {
  margin: 3rem; }

.m-t-3 {
  margin-top: 3rem; }

.m-r-3 {
  margin-right: 3rem; }

.m-b-3 {
  margin-bottom: 3rem; }

.m-l-3 {
  margin-left: 3rem; }

.m-x-3 {
  margin-right: 3rem;
  margin-left: 3rem; }

.m-y-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-a-4 {
  margin: 4rem; }

.m-t-4 {
  margin-top: 4rem; }

.m-r-4 {
  margin-right: 4rem; }

.m-b-4 {
  margin-bottom: 4rem; }

.m-l-4 {
  margin-left: 4rem; }

.m-x-4 {
  margin-right: 4rem;
  margin-left: 4rem; }

.m-y-4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.m-a-5 {
  margin: 5rem; }

.m-t-5 {
  margin-top: 5rem; }

.m-r-5 {
  margin-right: 5rem; }

.m-b-5 {
  margin-bottom: 5rem; }

.m-l-5 {
  margin-left: 5rem; }

.m-x-5 {
  margin-right: 5rem;
  margin-left: 5rem; }

.m-y-5 {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.p-a-0 {
  padding: 0rem; }

.p-t-0 {
  padding-top: 0rem; }

.p-r-0 {
  padding-right: 0rem; }

.p-b-0 {
  padding-bottom: 0rem; }

.p-l-0 {
  padding-left: 0rem; }

.p-x-0 {
  padding-right: 0rem;
  padding-left: 0rem; }

.p-y-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.p-a-1 {
  padding: 1rem; }

.p-t-1 {
  padding-top: 1rem; }

.p-r-1 {
  padding-right: 1rem; }

.p-b-1 {
  padding-bottom: 1rem; }

.p-l-1 {
  padding-left: 1rem; }

.p-x-1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.p-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-a-2 {
  padding: 2rem; }

.p-t-2 {
  padding-top: 2rem; }

.p-r-2 {
  padding-right: 2rem; }

.p-b-2 {
  padding-bottom: 2rem; }

.p-l-2 {
  padding-left: 2rem; }

.p-x-2 {
  padding-right: 2rem;
  padding-left: 2rem; }

.p-y-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-a-3 {
  padding: 3rem; }

.p-t-3 {
  padding-top: 3rem; }

.p-r-3 {
  padding-right: 3rem; }

.p-b-3 {
  padding-bottom: 3rem; }

.p-l-3 {
  padding-left: 3rem; }

.p-x-3 {
  padding-right: 3rem;
  padding-left: 3rem; }

.p-y-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-a-4 {
  padding: 4rem; }

.p-t-4 {
  padding-top: 4rem; }

.p-r-4 {
  padding-right: 4rem; }

.p-b-4 {
  padding-bottom: 4rem; }

.p-l-4 {
  padding-left: 4rem; }

.p-x-4 {
  padding-right: 4rem;
  padding-left: 4rem; }

.p-y-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.p-a-5 {
  padding: 5rem; }

.p-t-5 {
  padding-top: 5rem; }

.p-r-5 {
  padding-right: 5rem; }

.p-b-5 {
  padding-bottom: 5rem; }

.p-l-5 {
  padding-left: 5rem; }

.p-x-5 {
  padding-right: 5rem;
  padding-left: 5rem; }

.p-y-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

/*==================================================

  LIGHTEN & DARKEN

==================================================*/
/*==================================================

  GRID

* Modify $gutter and $contained-width to your preferences

*/
/*

==================================================*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto; }
  .row div[class^='col'] {
    padding: 0 1.5rem 3rem; }
  .row.full {
    max-width: 100%; }
  .row.no-gutter div[class^='col'] {
    padding: 0; }
  .row .col-1 {
    flex-basis: 8.3333%; }
  .row .col-2 {
    flex-basis: 16.6666%; }
  .row .col-3 {
    flex-basis: 25%; }
  .row .col-4 {
    flex-basis: 33.3333%; }
  .row .col-5 {
    flex-basis: 41.6666%; }
  .row .col-6 {
    flex-basis: 50%; }
  .row .col-7 {
    flex-basis: 58.3333%; }
  .row .col-8 {
    flex-basis: 66.6666%; }
  .row .col-9 {
    flex-basis: 75%; }
  .row .col-10 {
    flex-basis: 83.3333%; }
  .row .col-11 {
    flex-basis: 91.6666%; }
  .row .col-12 {
    flex-basis: 100%; }
  @media screen and (max-width: 1200px) {
    .row .col-m-1 {
      flex-basis: 8.3333%; }
    .row .col-m-2 {
      flex-basis: 16.6666%; }
    .row .col-m-3 {
      flex-basis: 25%; }
    .row .col-m-4 {
      flex-basis: 33.3333%; }
    .row .col-m-5 {
      flex-basis: 41.6666%; }
    .row .col-m-6 {
      flex-basis: 50%; }
    .row .col-m-7 {
      flex-basis: 58.3333%; }
    .row .col-m-8 {
      flex-basis: 66.6666%; }
    .row .col-m-9 {
      flex-basis: 75%; }
    .row .col-m-10 {
      flex-basis: 83.3333%; }
    .row .col-m-11 {
      flex-basis: 91.6666%; }
    .row .col-m-12 {
      flex-basis: 100%; } }
  @media screen and (max-width: 800px) {
    .row .col-s-1 {
      flex-basis: 8.3333%; }
    .row .col-s-2 {
      flex-basis: 16.6666%; }
    .row .col-s-3 {
      flex-basis: 25%; }
    .row .col-s-4 {
      flex-basis: 33.3333%; }
    .row .col-s-5 {
      flex-basis: 41.6666%; }
    .row .col-s-6 {
      flex-basis: 50%; }
    .row .col-s-7 {
      flex-basis: 58.3333%; }
    .row .col-s-8 {
      flex-basis: 66.6666%; }
    .row .col-s-9 {
      flex-basis: 75%; }
    .row .col-s-10 {
      flex-basis: 83.3333%; }
    .row .col-s-11 {
      flex-basis: 91.6666%; }
    .row .col-s-12 {
      flex-basis: 100%; } }

/*==================================================

  TYPOGRAPHY

==================================================*/
html {
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.5; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.link {
  text-decoration-skip: ink;
  color: #0000ee; }
  .link:visited {
    color: #551a8b; }

.tag {
  text-transform: uppercase;
  letter-spacing: .2rem; }

/*==================================================

  LISTS

==================================================*/
ul.vertical {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.vertical li {
    display: block; }

ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.horizontal li {
    display: inline-block; }

/*==================================================

  HELPERS

==================================================*/
.inline-block {
  display: inline-block; }

.block {
  display: block; }

.relative {
  position: relative; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/*==================================================

  HEADER

==================================================*/
/*==================================================

  MAIN

==================================================*/
/*==================================================

  FOOTER

==================================================*/
/*==================================================

  BUTTONS

==================================================*/
button,
.file,
input[type=button],
input[type=submit],
input[type=reset] {
  padding: 2rem 6rem;
  margin: 1rem;
  outline: none;
  border: .1rem solid black;
  border-radius: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  cursor: pointer;
  background: white;
  transition: 0.35s; }
  button svg,
  .file svg,
  input[type=button] svg,
  input[type=submit] svg,
  input[type=reset] svg {
    position: relative;
    top: .1rem;
    height: 1.2rem;
    width: 1.2rem;
    fill: black; }
  button:hover, button:focus,
  .file:hover,
  .file:focus,
  input[type=button]:hover,
  input[type=button]:focus,
  input[type=submit]:hover,
  input[type=submit]:focus,
  input[type=reset]:hover,
  input[type=reset]:focus {
    background: #e6e6e6; }
  button.progress, button.success, button.error,
  .file.progress,
  .file.success,
  .file.error,
  input[type=button].progress,
  input[type=button].success,
  input[type=button].error,
  input[type=submit].progress,
  input[type=submit].success,
  input[type=submit].error,
  input[type=reset].progress,
  input[type=reset].success,
  input[type=reset].error {
    color: transparent;
    pointer-events: none;
    user-select: none;
    position: relative; }
    button.progress svg, button.success svg, button.error svg,
    .file.progress svg,
    .file.success svg,
    .file.error svg,
    input[type=button].progress svg,
    input[type=button].success svg,
    input[type=button].error svg,
    input[type=submit].progress svg,
    input[type=submit].success svg,
    input[type=submit].error svg,
    input[type=reset].progress svg,
    input[type=reset].success svg,
    input[type=reset].error svg {
      display: none; }
  button.progress,
  .file.progress,
  input[type=button].progress,
  input[type=submit].progress,
  input[type=reset].progress {
    cursor: wait; }
    button.progress:after,
    .file.progress:after,
    input[type=button].progress:after,
    input[type=submit].progress:after,
    input[type=reset].progress:after {
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 1rem);
      left: calc(50% - 1rem);
      height: 1.8rem;
      width: 1.8rem;
      border-top: .3rem solid black;
      border-right: .3rem solid black;
      border-bottom: .3rem solid transparent;
      border-left: .3rem solid transparent;
      animation: progress-animation .75s linear infinite; }
@keyframes progress-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  button.success:after,
  .file.success:after,
  input[type=button].success:after,
  input[type=submit].success:after,
  input[type=reset].success:after {
    content: '';
    display: block;
    width: .8rem;
    height: 1.8rem;
    border-top: none;
    border-right: .2rem solid black;
    border-bottom: .2rem solid black;
    border-left: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); }
  button.error:after,
  .file.error:after,
  input[type=button].error:after,
  input[type=submit].error:after,
  input[type=reset].error:after {
    content: 'error';
    display: block;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.file input[type="file"] {
  display: none; }

/*==================================================

  GENERAL FORM LAYOUT

==================================================*/
.field {
  margin-bottom: 3rem; }
  .field span {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.4; }
  .field label {
    display: flex;
    flex-direction: column;
    position: relative; }

/*==================================================

  TEXT, EMAIL, TEL, URL, PASSWORD, SEARCH, NUMBER
  
  SELECT

  TEXTAREA

==================================================*/
.input input[type=text],
.input input[type=email],
.input input[type=tel],
.input input[type=url],
.input input[type=password],
.input input[type=search],
.input input[type=number], .select select, .textarea textarea {
  display: block;
  -webkit-appearance: textfield;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.4;
  outline: none;
  border: 1px solid;
  background: none;
  padding: 1rem;
  margin-top: .5rem; }
  .input input[type=text]::placeholder,
  .input input[type=email]::placeholder,
  .input input[type=tel]::placeholder,
  .input input[type=url]::placeholder,
  .input input[type=password]::placeholder,
  .input input[type=search]::placeholder,
  .input input[type=number]::placeholder, .select select::placeholder, .textarea textarea::placeholder {
    font-family: sans-serif;
    line-height: 1.4; }

.select select {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }
  .select select::-ms-expand {
    display: none; }
.select svg {
  pointer-events: none;
  width: 1.2rem;
  height: .8rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  fill: #141414; }

.textarea textarea {
  resize: vertical;
  overflow: auto; }

/*==================================================

  RADIO

  CHECKBOX

==================================================*/
.legend {
  display: inline-block;
  margin-bottom: 1rem; }

.field .radio, .field .checkbox {
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem; }
  .field .radio span, .field .checkbox span {
    order: 2; }
  .field .radio .control, .field .checkbox .control {
    order: 1;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: relative;
    transition: 0.35s;
    margin-right: 1rem;
    background: #eee; }
  .field .radio .control:after, .field .checkbox .control:after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.35s;
    background: #333;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }
  .field .radio input[type=radio]:focus ~ .control, .field .radio input[type=radio]:hover ~ .control, .field .radio input[type=checkbox]:focus ~ .control, .field .radio input[type=checkbox]:hover ~ .control, .field .checkbox input[type=radio]:focus ~ .control, .field .checkbox input[type=radio]:hover ~ .control, .field .checkbox input[type=checkbox]:focus ~ .control, .field .checkbox input[type=checkbox]:hover ~ .control {
    background: #d6d6d6; }
  .field .radio input[type=radio]:disabled ~ .control, .field .radio input[type=checkbox]:disabled ~ .control, .field .checkbox input[type=radio]:disabled ~ .control, .field .checkbox input[type=checkbox]:disabled ~ .control {
    background: #d6d6d6; }

.field .radio .control {
  border-radius: 50%; }
.field .radio .control:after {
  border-radius: 50%; }
.field .radio input[type=radio]:checked ~ .control:after {
  transform: translate(-50%, -50%) scale(1); }
.field .radio input[type=radio] {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.field .checkbox input[type=checkbox]:checked ~ .control:after {
  transform: translate(-50%, -50%) scale(1); }
.field .checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.field.collapse {
  display: flex;
  flex-wrap: wrap; }
  .field.collapse .legend {
    flex: 1 1 100%; }
  .field.collapse .radio, .field.collapse .checkbox {
    flex: 1 1 auto;
    margin-bottom: unset;
    margin-right: 1rem; }

/*==================================================

  TABLES

==================================================*/
.table table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.4rem; }
  .table table caption {
    text-align: left;
    padding: 3rem 1.5rem; }
  .table table tr {
    border: 1px solid #eee; }
  .table table td, .table table th {
    text-align: left;
    padding: 1.5rem; }
@media screen and (max-width: 800px) {
  .table table tr {
    display: block;
    margin-bottom: 3rem; }
  .table table td {
    display: block;
    text-align: right; }
  .table table td:before {
    content: attr(data-label);
    float: left; }
  .table table thead {
    position: absolute;
    opacity: 0;
    z-index: -1; } }

/*==================================================

  TEMPORARY

==================================================*/

/*# sourceMappingURL=style.css.map */
