
/* align-content */
/* ========================================================================== */

.a-c\:st { align-content: stretch; }
.a-c\:n { align-content: normal; }
.a-c\:s { align-content: start; }
.a-c\:e { align-content: end; }
.a-c\:c { align-content: center; }
.a-c\:b { align-content: baseline; }
.a-c\:s-a { align-content: space-around; }
.a-c\:s-b { align-content: space-between; }
.a-c\:s-e { align-content: space-evenly; }



/* align-items */
/* ========================================================================== */

.a-i\:st { align-items: stretch; }
.a-i\:n { align-items: normal; }
.a-i\:s { align-items: start; }
.a-i\:e { align-items: end; }
.a-i\:c { align-items: center; }
.a-i\:b { align-items: baseline; }



/* align-self */
/* ========================================================================== */

.a-s\:st { align-self: stretch; }
.a-s\:n { align-self: normal; }
.a-s\:s { align-self: start; }
.a-s\:e { align-self: end; }
.a-s\:c { align-self: center; }
.a-s\:b { align-self: baseline; }



/* animation */
/* ========================================================================== */

.an\:an-l { animation: var(--an-l); }



/* background */
/* ========================================================================== */

.bg\:n { background: none; }
.bg\:bg-1 { background: var(--bg-1); }
.bg\:bg-2 { background: var(--bg-2); }

.bg\:n\:hover:hover { background: none; }
.bg\:bg-1\:hover:hover { background: var(--bg-1); }
.bg\:bg-2\:hover:hover { background: var(--bg-2); }



/* border */
/* ========================================================================== */

.bo\:n { border: none; }
.bo\:bo-1 { border: var(--bo-1); }
.bo\:bo-2 { border: var(--bo-2); }



/* border-bottom */
/* ========================================================================== */

.bo-b\:n { border-bottom: none; }
.bo-b\:bo-1 { border-bottom: var(--bo-1); }
.bo-b\:bo-2 { border-bottom: var(--bo-2); }



/* border-collapse */
/* ========================================================================== */

.bo-co\:c { border-collapse: collapse; }
.bo-co\:s { border-collapse: separate; }



/* border-left */
/* ========================================================================== */

.bo-l\:n { border-left: none; }
.bo-l\:bo-1 { border-left: var(--bo-1); }
.bo-l\:bo-2 { border-left: var(--bo-2); }



/* border-radius */
/* ========================================================================== */

.bo-rd\:0 { border-radius: 0; }
.bo-rd\:\.5 { border-radius: .5rem; }
.bo-rd\:1 { border-radius: 1rem; }
.bo-rd\:2 { border-radius: 2rem; }
.bo-rd\:9 { border-radius: 9rem; }



/* border-right */
/* ========================================================================== */

.bo-r\:n { border-right: none; }
.bo-r\:bo-1 { border-right: var(--bo-1); }
.bo-r\:bo-2 { border-right: var(--bo-2); }



/* border-spacing */
/* ========================================================================== */

.bo-sp\:0 { border-spacing: 0; }
.bo-sp\:\.5 { border-spacing: .5rem; }
.bo-sp\:1 { border-spacing: 1rem; }



/* border-top */
/* ========================================================================== */

.bo-t\:n { border-top: none; }
.bo-t\:bo-1 { border-top: var(--bo-1); }
.bo-t\:bo-2 { border-top: var(--bo-2); }



/* bottom */
/* ========================================================================== */

.b\:0 { bottom: 0; }
.b\:50\% { bottom: 50%; }
.b\:100\% { bottom: 100%; }



/* box-shadow */
/* ========================================================================== */

.bx-sh\:0 { box-shadow: 0; }
.bx-sh\:sh-1 { box-shadow: var(--sh-1); }
.bx-sh\:sh-2 { box-shadow: var(--sh-2); }

.bx-sh\:0\:hover:hover { box-shadow: 0; }
.bx-sh\:sh-1\:hover:hover { box-shadow: var(--sh-1); }
.bx-sh\:sh-2\:hover:hover { box-shadow: var(--sh-2); }



/* color */
/* ========================================================================== */

.c\:fg-1 { color: var(--fg-1); }
.c\:fg-2 { color: var(--fg-2); }

.c\:fg-1\:hover:hover { color: var(--fg-1); }
.c\:fg-2\:hover:hover { color: var(--fg-2); }



/* cursor */
/* ========================================================================== */

.cs\:d { cursor: default; }
.cs\:p { cursor: pointer; }
.cs\:n { cursor: none; }



/* display */
/* ========================================================================== */

.d\:n { display: none; }
.d\:f { display: flex; }
.d\:g { display: grid; }
.d\:b { display: block; }
.d\:i { display: inline; }
.d\:i-f { display: inline-flex; }
.d\:i-g { display: inline-grid; }
.d\:i-b { display: inline-block; }

@media (max-width: 1200px) {
  .d\:n\@md { display: none; }
  .d\:f\@md { display: flex; }
  .d\:g\@md { display: grid; }
  .d\:b\@md { display: block; }
  .d\:i\@md { display: inline; }
  .d\:i-f\@md { display: inline-flex; }
  .d\:i-g\@md { display: inline-grid; }
  .d\:i-b\@md { display: inline-block; }
}

@media (max-width: 900px) {
  .d\:n\@sm { display: none; }
  .d\:f\@sm { display: flex; }
  .d\:g\@sm { display: grid; }
  .d\:b\@sm { display: block; }
  .d\:i\@sm { display: inline; }
  .d\:i-f\@sm { display: inline-flex; }
  .d\:i-g\@sm { display: inline-grid; }
  .d\:i-b\@sm { display: inline-block; }
}

@media (max-width: 600px) {
  .d\:n\@xs { display: none; }
  .d\:f\@xs { display: flex; }
  .d\:g\@xs { display: grid; }
  .d\:b\@xs { display: block; }
  .d\:i\@xs { display: inline; }
  .d\:i-f\@xs { display: inline-flex; }
  .d\:i-g\@xs { display: inline-grid; }
  .d\:i-b\@xs { display: inline-block; }
}



/* flex */
/* ========================================================================== */

.fx\:1 { flex: 1; }



/* flex-basis */
/* ========================================================================== */

.fx-b\:a { flex-basis: auto; }
.fx-b\:c { flex-basis: content; }



/* flex-direction */
/* ========================================================================== */

.f-d\:r { flex-direction: row; }
.f-d\:c { flex-direction: column; }
.f-d\:r-r { flex-direction: row-reverse; }
.f-d\:c-r { flex-direction: column-reverse; }



/* flex-grow */
/* ========================================================================== */

.fx-g\:0 { flex-grow: 0; }
.fx-g\:1 { flex-grow: 1; }
.fx-g\:a { flex-grow: auto; }



/* flex-shrink */
/* ========================================================================== */

.fx-s\:0 { flex-shrink: 0; }
.fx-s\:1 { flex-shrink: 1; }
.fx-s\:a { flex-shrink: auto; }



/* flex-wrap */
/* ========================================================================== */

.fx-w\:w { flex-wrap: wrap; }
.fx-w\:n { flex-wrap: nowrap; }
.fx-w\:w-r { flex-wrap: wrap-reverse; }



/* font-family */
/* ========================================================================== */

.f-f\:ff-1 { font-family: var(--ff-1); }
.f-f\:ff-2 { font-family: var(--ff-2); }



/* font-size */
/* ========================================================================== */

.f-s\:xx-s { font-size: xx-small; }
.f-s\:x-s { font-size: x-small; }
.f-s\:s { font-size: small; }
.f-s\:m { font-size: medium; }
.f-s\:l { font-size: large; }
.f-s\:x-l { font-size: x-large; }
.f-s\:xx-l { font-size: xx-large; }



/* font-style */
/* ========================================================================== */

.f-st\:n { font-style: normal; }
.f-st\:i { font-style: italic; }



/* font-weight */
/* ========================================================================== */

.f-w\:100 { font-weight: 100; }
.f-w\:200 { font-weight: 200; }
.f-w\:300 { font-weight: 300; }
.f-w\:400 { font-weight: 400; }
.f-w\:500 { font-weight: 500; }
.f-w\:600 { font-weight: 600; }
.f-w\:700 { font-weight: 700; }
.f-w\:800 { font-weight: 800; }
.f-w\:900 { font-weight: 900; }



/* grid */
/* ========================================================================== */

.g\:12 { grid: auto / repeat(12, 1fr); }



/* grid-column */
/* ========================================================================== */

.g-c\:1 { grid-column: span 1; }
.g-c\:2 { grid-column: span 2; }
.g-c\:3 { grid-column: span 3; }
.g-c\:4 { grid-column: span 4; }
.g-c\:5 { grid-column: span 5; }
.g-c\:6 { grid-column: span 6; }
.g-c\:7 { grid-column: span 7; }
.g-c\:8 { grid-column: span 8; }
.g-c\:9 { grid-column: span 9; }
.g-c\:10 { grid-column: span 10; }
.g-c\:11 { grid-column: span 11; }
.g-c\:12 { grid-column: span 12; }

@media (max-width: 1200px) {
  .g-c\:1\@md { grid-column: span 1; }
  .g-c\:2\@md { grid-column: span 2; }
  .g-c\:3\@md { grid-column: span 3; }
  .g-c\:4\@md { grid-column: span 4; }
  .g-c\:5\@md { grid-column: span 5; }
  .g-c\:6\@md { grid-column: span 6; }
  .g-c\:7\@md { grid-column: span 7; }
  .g-c\:8\@md { grid-column: span 8; }
  .g-c\:9\@md { grid-column: span 9; }
  .g-c\:10\@md { grid-column: span 10; }
  .g-c\:11\@md { grid-column: span 11; }
  .g-c\:12\@md { grid-column: span 12; }
}

@media (max-width: 900px) {
  .g-c\:1\@sm { grid-column: span 1; }
  .g-c\:2\@sm { grid-column: span 2; }
  .g-c\:3\@sm { grid-column: span 3; }
  .g-c\:4\@sm { grid-column: span 4; }
  .g-c\:5\@sm { grid-column: span 5; }
  .g-c\:6\@sm { grid-column: span 6; }
  .g-c\:7\@sm { grid-column: span 7; }
  .g-c\:8\@sm { grid-column: span 8; }
  .g-c\:9\@sm { grid-column: span 9; }
  .g-c\:10\@sm { grid-column: span 10; }
  .g-c\:11\@sm { grid-column: span 11; }
  .g-c\:12\@sm { grid-column: span 12; }
}

@media (max-width: 600px) {
  .g-c\:1\@xs { grid-column: span 1; }
  .g-c\:2\@xs { grid-column: span 2; }
  .g-c\:3\@xs { grid-column: span 3; }
  .g-c\:4\@xs { grid-column: span 4; }
  .g-c\:5\@xs { grid-column: span 5; }
  .g-c\:6\@xs { grid-column: span 6; }
  .g-c\:7\@xs { grid-column: span 7; }
  .g-c\:8\@xs { grid-column: span 8; }
  .g-c\:9\@xs { grid-column: span 9; }
  .g-c\:10\@xs { grid-column: span 10; }
  .g-c\:11\@xs { grid-column: span 11; }
  .g-c\:12\@xs { grid-column: span 12; }
}



/* grid-gap */
/* ========================================================================== */

.g-g\:1 { grid-gap: 1rem; }
.g-g\:2 { grid-gap: 2rem; }



/* height */
/* ========================================================================== */

.h\:a { height: auto; }
.h\:0 { height: 0; }
.h\:\.5 { height: .5rem; }
.h\:1 { height: 1rem; }
.h\:2 { height: 2rem; }
.h\:3 { height: 3rem; }
.h\:4 { height: 4rem; }
.h\:5 { height: 5rem; }
.h\:6 { height: 6rem; }
.h\:7 { height: 7rem; }
.h\:8 { height: 8rem; }
.h\:9 { height: 9rem; }
.h\:100\% { height: 100%; }
.h\:100vh { height: 100vh; }



/* justify-content */
/* ========================================================================== */

.j-c\:st { justify-content: stretch; }
.j-c\:n { justify-content: normal; }
.j-c\:s { justify-content: start; }
.j-c\:e { justify-content: end; }
.j-c\:c { justify-content: center; }
.j-c\:b { justify-content: baseline; }
.j-c\:s-a { justify-content: space-around; }
.j-c\:s-b { justify-content: space-between; }
.j-c\:s-e { justify-content: space-evenly; }



/* left */
/* ========================================================================== */

.l\:0 { left: 0; }
.l\:50\% { left: 50%; }
.l\:100\% { left: 100%; }



/* letter-spacing */
/* ========================================================================== */

.lt-s\:\.9 { letter-spacing: .9ch; }
.lt-s\:\.8 { letter-spacing: .8ch; }
.lt-s\:\.7 { letter-spacing: .7ch; }
.lt-s\:\.6 { letter-spacing: .6ch; }
.lt-s\:\.5 { letter-spacing: .5ch; }
.lt-s\:\.4 { letter-spacing: .4ch; }
.lt-s\:\.3 { letter-spacing: .3ch; }
.lt-s\:\.2 { letter-spacing: .2ch; }
.lt-s\:\.1 { letter-spacing: .1ch; }
.lt-s\:0 { letter-spacing: 0; }
.lt-s\:-\.1 { letter-spacing: -.1rem; }
.lt-s\:-\.2 { letter-spacing: -.2rem; }
.lt-s\:-\.3 { letter-spacing: -.3rem; }
.lt-s\:-\.4 { letter-spacing: -.4rem; }
.lt-s\:-\.5 { letter-spacing: -.5rem; }
.lt-s\:-\.6 { letter-spacing: -.6rem; }
.lt-s\:-\.7 { letter-spacing: -.7rem; }
.lt-s\:-\.8 { letter-spacing: -.8rem; }
.lt-s\:-\.9 { letter-spacing: -.9rem; }



/* line-height */
/* ========================================================================== */

.ln-h\:1 { line-height: 1; }
.ln-h\:1\.25 { line-height: 1.25; }
.ln-h\:1\.5 { line-height: 1.5; }



/* list-style */
/* ========================================================================== */

.li-s\:n { list-style: none; }



/* margin */
/* ========================================================================== */

.m\:a { margin: auto; }
.m\:-9 { margin: -9rem; }
.m\:-8 { margin: -8rem; }
.m\:-7 { margin: -7rem; }
.m\:-6 { margin: -6rem; }
.m\:-5 { margin: -5rem; }
.m\:-4 { margin: -4rem; }
.m\:-3 { margin: -3rem; }
.m\:-2 { margin: -2rem; }
.m\:-1 { margin: -1rem; }
.m\:-\.5 { margin: -.5rem; }
.m\:0 { margin: 0; }
.m\:\.5 { margin: .5rem; }
.m\:1 { margin: 1rem; }
.m\:2 { margin: 2rem; }
.m\:3 { margin: 3rem; }
.m\:4 { margin: 4rem; }
.m\:5 { margin: 5rem; }
.m\:6 { margin: 6rem; }
.m\:7 { margin: 7rem; }
.m\:8 { margin: 8rem; }
.m\:9 { margin: 9rem; }



/* margin-bottom */
/* ========================================================================== */

.m-b\:a { margin-bottom: auto; }
.m-b\:-9 { margin-bottom: -9rem; }
.m-b\:-8 { margin-bottom: -8rem; }
.m-b\:-7 { margin-bottom: -7rem; }
.m-b\:-6 { margin-bottom: -6rem; }
.m-b\:-5 { margin-bottom: -5rem; }
.m-b\:-4 { margin-bottom: -4rem; }
.m-b\:-3 { margin-bottom: -3rem; }
.m-b\:-2 { margin-bottom: -2rem; }
.m-b\:-1 { margin-bottom: -1rem; }
.m-b\:-\.5 { margin-bottom: -.5rem; }
.m-b\:0 { margin-bottom: 0; }
.m-b\:\.5 { margin-bottom: .5rem; }
.m-b\:1 { margin-bottom: 1rem; }
.m-b\:2 { margin-bottom: 2rem; }
.m-b\:3 { margin-bottom: 3rem; }
.m-b\:4 { margin-bottom: 4rem; }
.m-b\:5 { margin-bottom: 5rem; }
.m-b\:6 { margin-bottom: 6rem; }
.m-b\:7 { margin-bottom: 7rem; }
.m-b\:8 { margin-bottom: 8rem; }
.m-b\:9 { margin-bottom: 9rem; }



/* margin-left */
/* ========================================================================== */

.m-l\:a { margin-left: auto; }
.m-l\:-9 { margin-left: -9rem; }
.m-l\:-8 { margin-left: -8rem; }
.m-l\:-7 { margin-left: -7rem; }
.m-l\:-6 { margin-left: -6rem; }
.m-l\:-5 { margin-left: -5rem; }
.m-l\:-4 { margin-left: -4rem; }
.m-l\:-3 { margin-left: -3rem; }
.m-l\:-2 { margin-left: -2rem; }
.m-l\:-1 { margin-left: -1rem; }
.m-l\:-\.5 { margin-left: -.5rem; }
.m-l\:0 { margin-left: 0; }
.m-l\:\.5 { margin-left: .5rem; }
.m-l\:1 { margin-left: 1rem; }
.m-l\:2 { margin-left: 2rem; }
.m-l\:3 { margin-left: 3rem; }
.m-l\:4 { margin-left: 4rem; }
.m-l\:5 { margin-left: 5rem; }
.m-l\:6 { margin-left: 6rem; }
.m-l\:7 { margin-left: 7rem; }
.m-l\:8 { margin-left: 8rem; }
.m-l\:9 { margin-left: 9rem; }



/* margin-right */
/* ========================================================================== */

.m-r\:a { margin-right: auto; }
.m-r\:-9 { margin-right: -9rem; }
.m-r\:-8 { margin-right: -8rem; }
.m-r\:-7 { margin-right: -7rem; }
.m-r\:-6 { margin-right: -6rem; }
.m-r\:-5 { margin-right: -5rem; }
.m-r\:-4 { margin-right: -4rem; }
.m-r\:-3 { margin-right: -3rem; }
.m-r\:-2 { margin-right: -2rem; }
.m-r\:-1 { margin-right: -1rem; }
.m-r\:-\.5 { margin-right: -.5rem; }
.m-r\:0 { margin-right: 0; }
.m-r\:\.5 { margin-right: .5rem; }
.m-r\:1 { margin-right: 1rem; }
.m-r\:2 { margin-right: 2rem; }
.m-r\:3 { margin-right: 3rem; }
.m-r\:4 { margin-right: 4rem; }
.m-r\:5 { margin-right: 5rem; }
.m-r\:6 { margin-right: 6rem; }
.m-r\:7 { margin-right: 7rem; }
.m-r\:8 { margin-right: 8rem; }
.m-r\:9 { margin-right: 9rem; }



/* margin-top */
/* ========================================================================== */

.m-t\:a { margin-top: auto; }
.m-t\:0 { margin-top: 0; }
.m-t\:\.1 { margin-top: .1rem; }
.m-t\:\.2 { margin-top: .2rem; }
.m-t\:\.3 { margin-top: .3rem; }
.m-t\:\.4 { margin-top: .4rem; }
.m-t\:\.5 { margin-top: .5rem; }
.m-t\:\.6 { margin-top: .6rem; }
.m-t\:\.7 { margin-top: .7rem; }
.m-t\:\.8 { margin-top: .8rem; }
.m-t\:\.9 { margin-top: .9rem; }
.m-t\:1 { margin-top: 1rem; }
.m-t\:2 { margin-top: 2rem; }
.m-t\:3 { margin-top: 3rem; }
.m-t\:4 { margin-top: 4rem; }
.m-t\:5 { margin-top: 5rem; }
.m-t\:6 { margin-top: 6rem; }
.m-t\:7 { margin-top: 7rem; }
.m-t\:8 { margin-top: 8rem; }
.m-t\:9 { margin-top: 9rem; }



/* max-height */
/* ========================================================================== */

.mx-h\:a { max-height: auto; }
.mx-h\:u { max-height: unset; }
.mx-h\:100\% { max-height: 100%; }
.mx-h\:100vh { max-height: 100vh; }



/* max-width */
/* ========================================================================== */

.mx-w\:a { max-width: auto; }
.mx-w\:u { max-width: unset; }
.mx-w\:100\% { max-width: 100%; }
.mx-w\:100vw { max-width: 100vw; }
.mx-w\:ct-1 { max-width: var(--ct-1); }
.mx-w\:ct-2 { max-width: var(--ct-2); }
.mx-w\:ct-3 { max-width: var(--ct-3); }



/* min-height */
/* ========================================================================== */

.mn-h\:a { min-height: auto; }
.mn-h\:u { min-height: unset; }
.mn-h\:100\% { min-height: 100%; }
.mn-h\:100vh { min-height: 100vh; }



/* min-width */
/* ========================================================================== */

.mn-w\:a { min-width: auto; }
.mn-w\:u { min-width: unset; }
.mn-w\:100\% { min-width: 100%; }
.mn-w\:100vh { min-width: 100vh; }



/* object-fit */
/* ========================================================================== */

.ob-f\:f { object-fit: fill; }
.ob-f\:cn { object-fit: contain; }
.ob-f\:cv { object-fit: cover; }



/* opacity */
/* ========================================================================== */

.op\:1 { opacity: 1; }
.op\:\.9 { opacity: .9; }
.op\:\.8 { opacity: .8; }
.op\:\.7 { opacity: .7; }
.op\:\.6 { opacity: .6; }
.op\:\.5 { opacity: .5; }
.op\:\.4 { opacity: .4; }
.op\:\.3 { opacity: .3; }
.op\:\.2 { opacity: .2; }
.op\:\.1 { opacity: .1; }
.op\:0 { opacity: 0; }

.op\:1\:hover:hover { opacity: 1; }
.op\:\.9\:hover:hover { opacity: .9; }
.op\:\.8\:hover:hover { opacity: .8; }
.op\:\.7\:hover:hover { opacity: .7; }
.op\:\.6\:hover:hover { opacity: .6; }
.op\:\.5\:hover:hover { opacity: .5; }
.op\:\.4\:hover:hover { opacity: .4; }
.op\:\.3\:hover:hover { opacity: .3; }
.op\:\.2\:hover:hover { opacity: .2; }
.op\:\.1\:hover:hover { opacity: .1; }
.op\:0\:hover:hover { opacity: 0; }



/* overflow */
/* ========================================================================== */

.o\:a { overflow: auto; }
.o\:h { overflow: scroll; }
.o\:h { overflow: hidden; }



/* overflow-x */
/* ========================================================================== */

.o-x\:a { overflow-x: auto; }
.o-x\:s { overflow-x: scroll; }
.o-x\:h { overflow-x: hidden; }



/* overflow-y */
/* ========================================================================== */

.o-y\:a { overflow-y: auto; }
.o-y\:s { overflow-y: scroll; }
.o-y\:h { overflow-y: hidden; }



/* padding */
/* ========================================================================== */

.p\:0 { padding: 0; }
.p\:\.5 { padding: .5rem; }
.p\:1 { padding: 1rem; }
.p\:2 { padding: 2rem; }
.p\:3 { padding: 3rem; }
.p\:4 { padding: 4rem; }
.p\:5 { padding: 5rem; }
.p\:6 { padding: 6rem; }
.p\:7 { padding: 7rem; }
.p\:8 { padding: 8rem; }
.p\:9 { padding: 9rem; }



/* padding-bottom */
/* ========================================================================== */

.p-b\:0 { padding-bottom: 0; }
.p-b\:\.5 { padding-bottom: .5rem; }
.p-b\:1 { padding-bottom: 1rem; }
.p-b\:2 { padding-bottom: 2rem; }
.p-b\:3 { padding-bottom: 3rem; }
.p-b\:4 { padding-bottom: 4rem; }
.p-b\:5 { padding-bottom: 5rem; }
.p-b\:6 { padding-bottom: 6rem; }
.p-b\:7 { padding-bottom: 7rem; }
.p-b\:8 { padding-bottom: 8rem; }
.p-b\:9 { padding-bottom: 9rem; }



/* padding-left */
/* ========================================================================== */

.p-l\:0 { padding-left: 0; }
.p-l\:\.5 { padding-left: .5rem; }
.p-l\:1 { padding-left: 1rem; }
.p-l\:2 { padding-left: 2rem; }
.p-l\:3 { padding-left: 3rem; }
.p-l\:4 { padding-left: 4rem; }
.p-l\:5 { padding-left: 5rem; }
.p-l\:6 { padding-left: 6rem; }
.p-l\:7 { padding-left: 7rem; }
.p-l\:8 { padding-left: 8rem; }
.p-l\:9 { padding-left: 9rem; }



/* padding-right */
/* ========================================================================== */

.p-r\:0 { padding-right: 0; }
.p-r\:\.5 { padding-right: .5rem; }
.p-r\:1 { padding-right: 1rem; }
.p-r\:2 { padding-right: 2rem; }
.p-r\:3 { padding-right: 3rem; }
.p-r\:4 { padding-right: 4rem; }
.p-r\:5 { padding-right: 5rem; }
.p-r\:6 { padding-right: 6rem; }
.p-r\:7 { padding-right: 7rem; }
.p-r\:8 { padding-right: 8rem; }
.p-r\:9 { padding-right: 9rem; }



/* padding-top */
/* ========================================================================== */

.p-t\:0 { padding-top: 0; }
.p-t\:\.5 { padding-top: .5rem; }
.p-t\:1 { padding-top: 1rem; }
.p-t\:2 { padding-top: 2rem; }
.p-t\:3 { padding-top: 3rem; }
.p-t\:4 { padding-top: 4rem; }
.p-t\:5 { padding-top: 5rem; }
.p-t\:6 { padding-top: 6rem; }
.p-t\:7 { padding-top: 7rem; }
.p-t\:8 { padding-top: 8rem; }
.p-t\:9 { padding-top: 9rem; }



/* pointer-events */
/* ========================================================================== */

.po-e\:a { pointer-events: auto; }
.po-e\:n { pointer-events: none; }



/* position */
/* ========================================================================== */

.ps\:st { position: static; }
.ps\:r { position: relative; }
.ps\:a { position: absolute; }
.ps\:s { position: sticky; }
.ps\:f { position: fixed; }



/* resize */
/* ========================================================================== */

.rs\:n { resize: none; }
.rs\:b { resize: both; }
.rs\:h { resize: horizontal; }
.rs\:v { resize: vertical; }



/* right */
/* ========================================================================== */

.r\:0 { right: 0; }
.r\:50\% { right: 50%; }
.r\:100\% { right: 100%; }



/* text-align */
/* ========================================================================== */

.tx-a\:l { text-align: left; }
.tx-a\:r { text-align: right; }
.tx-a\:c { text-align: center; }
.tx-a\:j { text-align: justify; }



/* text-decoration */
/* ========================================================================== */

.tx-d\:n { text-decoration: none; }
.tx-d\:u { text-decoration: underline; }



/* text-overflow */
/* ========================================================================== */

.tx-o\:c { text-overflow: clip; }
.tx-o\:e { text-overflow: ellipsis; }



/* text-shadow */
/* ========================================================================== */

.tx-s\:n { text-shadow: none; }



/* text-transform */
/* ========================================================================== */

.tx-t\:n { text-transform: none; }
.tx-t\:c { text-transform: capitalize; }
.tx-t\:u { text-transform: uppercase; }
.tx-t\:l { text-transform: lowercase; }



/* top */
/* ========================================================================== */

.t\:0 { top: 0; }
.t\:50\% { top: 50%; }
.t\:100\% { top: 100%; }



/* transform */
/* ========================================================================== */

.tf\:r-0 { transform: rotate(0); }
.tf\:r-90 { transform: rotate(90deg); }
.tf\:r-180 { transform: rotate(180deg); }
.tf\:r-270 { transform: rotate(270deg); }
.tf\:r-360 { transform: rotate(360deg); }

.tf\:r-0\:hover:hover { transform: rotate(0); }
.tf\:r-90\:hover:hover { transform: rotate(90deg); }
.tf\:r-180\:hover:hover { transform: rotate(180deg); }
.tf\:r-270\:hover:hover { transform: rotate(270deg); }
.tf\:r-360\:hover:hover { transform: rotate(360deg); }



/* transition */
/* ========================================================================== */

.tr\:\.2 { transition: .2s; }
.tr\:\.4 { transition: .4s; }
.tr\:\.6 { transition: .6s; }



/* vertical-align */
/* ========================================================================== */

.v-a\:bs { vertical-align: baseline; }
.v-a\:sb { vertical-align: sub; }
.v-a\:sp { vertical-align: super; }
.v-a\:m { vertical-align: middle; }
.v-a\:t { vertical-align: top; }
.v-a\:b { vertical-align: bottom; }



/* visibility */
/* ========================================================================== */

.vs\:v { visibility: visible; }
.vs\:h { visibility: hidden; }



/* white-space */
/* ========================================================================== */

.wh-s\:n { white-space: normal; }
.wh-s\:nw { white-space: nowrap; }



/* width */
/* ========================================================================== */

.w\:a { width: auto; }
.w\:0 { width: 0; }
.w\:\.5 { width: .5rem; }
.w\:1 { width: 1rem; }
.w\:2 { width: 2rem; }
.w\:3 { width: 3rem; }
.w\:4 { width: 4rem; }
.w\:5 { width: 5rem; }
.w\:6 { width: 6rem; }
.w\:7 { width: 7rem; }
.w\:8 { width: 8rem; }
.w\:9 { width: 9rem; }
.w\:100\% { width: 100%; }
.w\:100vw { width: 100vw; }



/* z-index */
/* ========================================================================== */

.z-i\:-1 { z-index: -1; }
.z-i\:0 { z-index: 0; }
.z-i\:1 { z-index: 1; }
.z-i\:2 { z-index: 2; }
.z-i\:3 { z-index: 3; }
.z-i\:4 { z-index: 4; }
.z-i\:5 { z-index: 5; }
.z-i\:6 { z-index: 6; }
.z-i\:7 { z-index: 7; }
.z-i\:8 { z-index: 8; }
.z-i\:9 { z-index: 9; }
