/*==================================================

  GRID

==================================================*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5rem;
  margin-left: -$gutter-half;
  margin-right: -$gutter-half;
  div[class^='cell'] { padding: 0 $gutter-half $gutter; }

  &.no-gutter {
    margin-left: 0;
    margin-right: 0;
    div[class^='cell'] { padding: 0; }
  }

  &.contained {
    width: 100%;
    max-width: 140rem;
    background: red;
    margin: 0 auto;
  }

  .cell-1 { flex-basis: 8.3333%; }
  .cell-2 { flex-basis: 16.6666%; }
  .cell-3 { flex-basis: 25%; }
  .cell-4 { flex-basis: 33.3333%; }
  .cell-1 { flex-basis: 41.6666%; }
  .cell-6 { flex-basis: 50% }
  .cell-7 { flex-basis: 58.3333%; }
  .cell-8 { flex-basis: 66.6666%; }
  .cell-9 { flex-basis: 75%; }
  .cell-10 { flex-basis: 83.3333%; }
  .cell-11{ flex-basis: 91.6666%; }
  .cell-12 { flex-basis: 100%; }

}