/*==================================================

  TYPOGRAPHY

==================================================*/

$h1-min: 36px;
$h1-max: 40px;
h1 {
  @include fluid-type($min_width, $max_width, $h1-min, $h1-max);
}

$h2-min: 32px;
$h2-max: 36px;
h2 {
  @include fluid-type($min_width, $max_width, $h2-min, $h2-max);
}

$h3-min: 28px;
$h3-max: 32px;
h3 {
  @include fluid-type($min_width, $max_width, $h3-min, $h3-max);
}

$h4-min: 24px;
$h4-max: 28px;
h4 {
  @include fluid-type($min_width, $max_width, $h4-min, $h4-max);
}

$h5-min: 20px;
$h5-max: 24px;
h5 {
  @include fluid-type($min_width, $max_width, $h5-min, $h5-max);
}

$h6-min: 16px;
$h6-max: 20px;
h6 {
  @include fluid-type($min_width, $max_width, $h6-min, $h6-max);
}

$p-min: 16px;
$p-max: 20px;
p {
  @include fluid-type($min_width, $max_width, $p-min, $p-max);
}

a {
  font-size: inherit;
  text-decoration-skip: ink;
  color: blue;
  &:visited { color: #551a8b; }
}