/*==================================================

  VARIABLES

==================================================*/

$gutter: 3rem;
$contained-width: 140rem;

/*==================================================

  VARIABLE HELPERS

* These are used in other components, we suggest you do not change them unless you know what you're doing

==================================================*/

$gutter-half: $gutter / 2;