@import "read-format-variables";

@mixin read-format($theme) {

  .read-format {

    h1, h2, h3 {
      margin: 1.5em 0 .5em 0;
    }

    h4, h5, h6 {
      margin: 1em 0 .5em 0;
    }

    p, table, img {
      margin: 0 0 .5em 0;
    }

    ul, ol {
      margin: -.25em 0 .5em 0;
    }

    a {
      text-decoration: underline;
    }

    hr {
      margin: .5em 0 .5em 0;
    }

  }

}