/*==================================================

  Modal
  
==================================================*/


/*
 * General
 */

.modal {
  display         : none; /* See .active */
  align-items     : center;
  justify-content : center;
  position        : fixed;
  top             : 0;
  left            : 0;
  z-index         : -1; /* See .active */
  width           : 100%;
  height          : 100%;
  background      : rgba(0,0,0,.5);

  &.active {
    display : flex;
    z-index : 10;
  }

}

/*
 * Modal content
 */

.modal-content {
  box-shadow: 0 .4rem .8rem rgba(0,0,0,.4);
  margin    : 2rem;
  background: white;

  .modal-body {
    display   : block;
    overflow-y: scroll;
    padding   : 2rem;
    max-width : 80rem;
  }

  .modal-header {
    display       : block;
    padding       : 2rem;
    background    : #eee;
    border-bottom : .1rem solid #ddd;
  }

  .modal-footer {
    display   : block;
    padding   : 2rem;
    text-align: right;
    background: #eee;
    border-top: .1rem solid #ddd;
  }

}