/*==================================================

  Form

==================================================*/


/*
 * Clearing default style
 */


.field,
.select,
.textarea,
fieldset {
  display   : flex;
  flex-flow : column wrap;
  margin    : 0 0 1rem;

  legend,
  span {
    color: #666;
  }

}


/*
 * Select
 */

.select {


}


/*
 * Textarea
 */

.textarea {

  textarea {
    @extend %shared;
  }

}

/*
 * Checkbox
 */

.checkbox {
  display     : flex;
  flex-flow   : row wrap;
  align-items : center;
  cursor      : pointer;

  .control {
    position      : relative;
    width         : 1.6rem;
    height        : 1.6rem;
    margin        : .5rem;
    border        : .1rem solid #ccc;
    border-radius : .2rem;
    background    : white;

    // Click overlay
    &:before {
      content       : '';
      position      : absolute;
      top           : 50%;
      left          : 50%;
      z-index       : 1;
      width         : 3.2rem;
      height        : 3.2rem;
      border-radius : 50%;
      background    : transparent;
      transform     : translate3d(-50%,-50%,0);
      transition    : .2s;
    }

    // Control mark
    &:after {
      content       : '';
      position      : absolute;
      top           : 50%;
      left          : 50%;
      z-index       : 2;
      width         : .5rem;
      height        : 1rem;
      border-bottom : .2rem solid black;
      border-right  : .2rem solid black;
      transform     : translate3d(-50%,-40%,0) rotate3d(0,0,1,40deg) scale3d(0,0,0);
      transition    : .2s;
    }

  }

  // Checkbox checked
  input[type=checkbox] {

    &:hover ~ .control:before,
    &:focus ~ .control:before {
      background: rgba(30,144,255,.15);
    }

    &:checked ~ .control:after {
      transform: translate3d(-50%,-60%,0) rotate3d(0,0,1,40deg) scale3d(1,1,1);
    }

    &:disabled ~ .control {
      opacity: .3;
    }

  }

}


/*
 * Radio-select
 */

.select {
  cursor: pointer;

  .control {
    width         : 100%;
    border-top    : .2rem solid #ccc;
    border-right  : none;
    border-bottom : .2rem solid #ccc;
    border-left   : .2rem solid #ccc;
    padding       : 1rem 0;
    color         : #aaa;
    text-align    : center;
    background    : white;
    transition    : .2s;
  }

  &:nth-child(2) .control {
    border-top-left-radius    : .3rem;
    border-bottom-left-radius : .3rem;
  }
  &:nth-last-child(1) .control {
    border-right              : .2rem solid #ccc;
    border-top-right-radius   : .3rem;
    border-bottom-right-radius: .3rem;
  }

  // Selected
  input[type=radio] {

    &:focus ~ .control,
    &:hover ~ .control {
      box-shadow: inset 0 0 0 2px rgba(30,144,255,.4);
    }

    &:checked ~ .control {
      box-shadow: inset 0 0 0 2px rgba(30,144,255,.8);
      color     : black;
    }

    &:focus:checked ~ .control {
      background: rgba(30,144,255,.15);
    }

    &:disabled ~ .control {
    }

  }
}


/*
 * Toggle
 */

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;

  .toggle-text {
    flex: 1;
    padding-right: 2rem;

    .toggle-title {}
    .toggle-desc { opacity: .5; }
  }

  .control {
    position      : relative;
    --width       : 4rem;
    --height      : 2.6rem;
    width         : var(--width);
    height        : var(--height);
    border-radius : 400rem;
    box-shadow    : inset 0 .1rem .3rem 0 rgba(0,0,0,.4);
    background    : #ccc;
    transition    : .2s;

    &:after {
      content       : '';
      position      : absolute;
      top           : .3rem;
      left          : .3rem;
      width         : calc(var(--height) - 0.6rem);
      height        : calc(var(--height) - 0.6rem);
      border-radius : 50%;
      box-shadow    : 0 .2rem .4rem 0 rgba(0,0,0,.24);
      background    : white;
      transition    : .2s;
    }

  }

  // Toggle checked
  input[type=checkbox] {

    &:hover ~ .control {
      box-shadow: 0 0 0 2px rgba(30,144,255,.4);
    }

    &:focus ~ .control {
      box-shadow: 0 0 0 2px rgba(30,144,255,.4);
    }

    &:checked ~ .control {
      background: rgba(80, 200, 80, .6);

      &:after {
        left: calc(var(--width) - var(--height) + .3rem);
      }

    }



  }
}


/*
 * Fieldset
 */

fieldset {
  border    : none;
  padding   : 0;

  .fields {
    display   : flex;
    flex-flow : row nowrap;

    label {
      flex: 1 1 auto;
    }

    label + label {
      margin-left: 1rem;
    }

  }

  .selector {
    display   : flex;
    flex-flow : row nowrap;

    label {
      flex: 1 1 auto;
    }

  }

}