$font-family-base     : 'PT Sans', sans-serif;
$font-family-heading  : 'PT Sans Narrow', sans-serif;
$font-size-base       : 16px;
$font-size-heading-inc: 8px;
$font-weight-base     : normal;
$font-weight-heading  : 700;
$line-height-base     : 1.5;
$line-height-heading  : 1.2;
$hr-height            : 2px;