/*==================================================

  Example

==================================================*/

@mixin example($theme) {

  $primary    : map-get($theme, primary);
  $accent     : map-get($theme, accent);
  $warn       : map-get($theme, warn);
  $success    : map-get($theme, success);
  $foreground : map-get($theme, foreground);
  $background : map-get($theme, background);

  .example {
    @include get-property-color(background, map_get($background, hover), $theme);
    border: 1px solid $primary;
    color : map_get($background, hover);
  }

}


/*==================================================

  Old

==================================================*/

/*
 * Ripple
 */

/*

%ripple {
  @include get-ripple-color($theme);

  &:before {
    content             : "";
    opacity             : 0;
    pointer-events      : none;
    position            : absolute;
    top                 : 0;
    left                : 0;
    width               : 100%;
    height              : 100%;
    background-repeat   : no-repeat;
    background-position : 50%;
    transform           : scale(10, 10);
    transition          : transform .5s, opacity 1s;
  }

  &:active:before {
    opacity   : .3;
    transform : scale(0, 0);
    transition: 0s;
  }

}

*/