@mixin example($theme) {

  $primary    : map-get($theme, primary);
  $accent     : map-get($theme, accent);
  $warn       : map-get($theme, warn);
  $success    : map-get($theme, success);
  $foreground : map-get($theme, foreground);
  $background : map-get($theme, background);

  .example {
    @include get-property-color(background, map_get($background, hover), $theme);
    border: 1px solid $primary;
    color: map_get($background, hover);
  }

}