/*==================================================

  Accordion

==================================================*/

@mixin accordion($theme) {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);


  /*
   * General
   */

  .accordion {
    display       : block;
    overflow      : hidden;
    box-shadow    : $box-shadow;
    background    : map_get($background, card);
    transition    : .2s;
  }

  /*
   * Accordion summary
   */

  .accordion-summary {
    position            : relative;
    display             : flex;
    align-items         : center;
    cursor              : pointer;
    user-select         : none;
    -webkit-user-select : none;
    padding             : 1rem 4rem 1rem 1rem;
    margin              : 0;
    color               : map_get($foreground, text-primary);
    transition          : .2s;

    &:after {
      content   : '▸';
      position  : absolute;
      top       : 50%;
      right     : 1rem;
      transform : translateY(-50%);
      transition: .2s;
    }

    &:hover {
      background: map_get($background, hover);
    }

  }


  /*
   * Accordion content
   */

  .accordion-content {
    padding: 1rem;
  }


  /*
   * Accordion active
   */

  .accordion.active > .accordion-summary:after {
    transform: translateY(-50%) rotate(90deg);
  }

  .accordion.active + .accordion {
    margin-top: 1rem;
  }

  .accordion + .active {
    margin-top: 1rem;
  }

}