/*==================================================

  Form

==================================================*/

$border: .1rem solid #ccc;

/*
 * Clearing default values
 */

%hide-input {

  input[type=checkbox],
  input[type=radio]{
    position: absolute;
    z-index : -1;
    opacity : 0;
  }

}

%normalize-textarea {
  -webkit-appearance: textfield;
  resize            : vertical;
  overflow          : auto;
}

%normalize-select {
  cursor            : pointer;
  appearance        : none;
  -moz-appearance   : none;
  -webkit-appearance: none;

  &::-ms-expand {
    display: none;
  }

}


/*
 * Form group title
 */

.form-group-title {
  margin-top    : 6rem;
  margin-bottom : 2rem;
  padding-bottom: 1rem;
  border-bottom : $border;
  font-size     : 2.4rem;

  &:first-of-type {
    margin-top: 0;
  }

}


/*
 * Field
 * Select, textarea, textual inputs
 */

.field {
  display   : flex;
  flex-flow : column nowrap;

  textarea {
    @extend %normalize-textarea;
  }

  input,
  select,
  textarea {
    width         : 100%;
    padding       : 1rem 2rem 1rem .5rem;
    border        : $border;
    border-radius : .3rem;
    outline       : none;
    margin        : 0;
    font-family   : sans-serif;
    font-size     : 1.4rem;
    background    : white;

    &::placeholder {}

    &:hover {}

    &:focus {}

    &:valid {}

    &:invalid {}

  }

  &.select {
    position: relative;

    select {
      @extend %normalize-select;
    }

    &:after {
      content       : url('assets/imgs/dropdown.svg');
      pointer-events: none;
      position      : absolute;
      right         : 1rem;
      bottom        : .6rem;
    }

  }

}


/*
 * Toggle
 */

.toggle {
  @extend %hide-input;
  display         : flex;
  flex-flow       : row nowrap;
  align-items     : center;
  justify-content : space-between;

  .toggle-text {
    flex          : 1;
    padding-right : 1rem;
  }

  .control {
    position      : relative;
    --width       : 4rem;
    --height      : 2.6rem;
    width         : var(--width);
    height        : var(--height);
    border-radius : 400rem;
    box-shadow    : inset 0 .1rem .3rem 0 rgba(0,0,0,.4);
    background    : #ccc;
    transition    : .2s;

    &:after {
      content       : '';
      position      : absolute;
      top           : .3rem;
      left          : .3rem;
      width         : calc(var(--height) - 0.6rem);
      height        : calc(var(--height) - 0.6rem);
      border-radius : 50%;
      box-shadow    : 0 .2rem .4rem 0 rgba(0,0,0,.24);
      background    : white;
      transition    : .2s;
    }

  }

  input[type=checkbox] {

    &:hover ~ .control {}

    &:focus ~ .control {}

    &:checked ~ .control {}

  }

}


/*
 * Checkbox
 */

.checkbox {
  @extend %hide-input;
  display     : flex;
  flex-flow   : row wrap;
  align-items : center;

  .control {
    position      : relative;
    width         : 1.6rem;
    height        : 1.6rem;
    margin        : .5rem;
    border        : $border;
    border-radius : .2rem;
    background    : white;

    &:before {
      content       : '';
      position      : absolute;
      top           : 50%;
      left          : 50%;
      z-index       : 1;
      width         : 3.2rem;
      height        : 3.2rem;
      border-radius : 50%;
      background    : transparent;
      transform     : translate3d(-50%,-50%,0);
      transition    : .2s;
    }

    &:after {
      content       : '';
      position      : absolute;
      top           : 50%;
      left          : 50%;
      z-index       : 2;
      width         : .5rem;
      height        : 1rem;
      border-bottom : .2rem solid black;
      border-right  : .2rem solid black;
      transform     : translate3d(-50%,-40%,0) rotate3d(0,0,1,40deg) scale3d(0,0,0);
      transition    : .2s;
    }

  }

  input[type=checkbox] {

    &:hover ~ .control {}

    &:focus ~ .control {}

    &:checked ~ .control {}

  }

}


/*
 * Selector
 */

.selector {
  display   : flex;
  flex-flow : row nowrap;

  .radio-select {
    @extend %hide-input;
    flex: 1 1 auto;

    .control {
      width         : 100%;
      border-top    : .2rem solid #ccc;
      border-right  : none;
      border-bottom : .2rem solid #ccc;
      border-left   : .2rem solid #ccc;
      padding       : 1rem 0;
      text-align    : center;
      background    : white;
      transition    : .2s;
    }

    &:first-of-type .control {
      border-top-left-radius    : .3rem;
      border-bottom-left-radius : .3rem;
    }
    &:last-of-type .control {
      border-right              : .2rem solid #ccc;
      border-top-right-radius   : .3rem;
      border-bottom-right-radius: .3rem;
    }

    input[type=radio] {

      &:hover ~ .control {}

      &:focus ~ .control {}

      &:checked ~ .control {}

    }

  }

}