/*==================================================

  Grid

==================================================*/

@mixin grid($theme) {

  .grid {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    max-width       : 120rem;
    width           : 100%;
    margin          : 0 auto;

    & > [class*="col"] { padding: 1rem; }

    &.full { max-width: 100%; }

    &.nogutter > [class*="col"] { padding: 0; }

    .o-first{ order: 0; }
    .o-last { /* Execute */ order: 66; }
    .col-0  { display: none; }
    .col-1  { display: block; flex-basis: 8.3333%; width: 8.3333%; }
    .col-2  { display: block; flex-basis: 16.6666%; width: 16.6666%; }
    .col-3  { display: block; flex-basis: 25%; width: 25%; }
    .col-4  { display: block; flex-basis: 33.3333%; width: 33.3333%; }
    .col-5  { display: block; flex-basis: 41.6666%; width: 41.6666%; }
    .col-6  { display: block; flex-basis: 50%; width: 50%; }
    .col-7  { display: block; flex-basis: 58.3333%; width: 58.3333%; }
    .col-8  { display: block; flex-basis: 66.6666%; width: 66.6666%; }
    .col-9  { display: block; flex-basis: 75%; width: 75%; }
    .col-10 { display: block; flex-basis: 83.3333%; width: 83.3333%; }
    .col-11 { display: block; flex-basis: 91.6666%; width: 91.6666%; }
    .col-12 { display: block; flex-basis: 100%; width: 100%; }

    @media screen and (max-width: $screen-m) {
      .o-m-first{ order: 0; }
      .o-m-last { /* Execute */ order: 66; }
      .col-m-0  { display: none; }
      .col-m-1  { display: block; flex-basis: 8.3333%; width: 8.3333%; }
      .col-m-2  { display: block; flex-basis: 16.6666%; width: 16.6666%; }
      .col-m-3  { display: block; flex-basis: 25%; width: 25%; }
      .col-m-4  { display: block; flex-basis: 33.3333%; width: 33.3333%; }
      .col-m-5  { display: block; flex-basis: 41.6666%; width: 41.6666%; }
      .col-m-6  { display: block; flex-basis: 50%; width: 50%; }
      .col-m-7  { display: block; flex-basis: 58.3333%; width: 58.3333%; }
      .col-m-8  { display: block; flex-basis: 66.6666%; width: 66.6666%; }
      .col-m-9  { display: block; flex-basis: 75%; width: 75%; }
      .col-m-10 { display: block; flex-basis: 83.3333%; width: 83.3333%; }
      .col-m-11 { display: block; flex-basis: 91.6666%; width: 91.6666%; }
      .col-m-12 { display: block; flex-basis: 100%; width: 100%; }
    }

    @media screen and (max-width: $screen-s) {
      .o-s-first{ order: 0; }
      .o-s-last { /* Execute */ order: 66; }
      .col-s-0  { display: none; }
      .col-s-1  { display: block; flex-basis: 8.3333%; width: 8.3333%; }
      .col-s-2  { display: block; flex-basis: 16.6666%; width: 16.6666%; }
      .col-s-3  { display: block; flex-basis: 25%; width: 25%; }
      .col-s-4  { display: block; flex-basis: 33.3333%; width: 33.3333%; }
      .col-s-5  { display: block; flex-basis: 41.6666%; width: 41.6666%; }
      .col-s-6  { display: block; flex-basis: 50%; width: 50%; }
      .col-s-7  { display: block; flex-basis: 58.3333%; width: 58.3333%; }
      .col-s-8  { display: block; flex-basis: 66.6666%; width: 66.6666%; }
      .col-s-9  { display: block; flex-basis: 75%; width: 75%; }
      .col-s-10 { display: block; flex-basis: 83.3333%; width: 83.3333%; }
      .col-s-11 { display: block; flex-basis: 91.6666%; width: 91.6666%; }
      .col-s-12 { display: block; flex-basis: 100%; width: 100%; }
    }

    @media screen and (max-width: $screen-xs) {
      .o-xs-first{ order: 0; }
      .o-xs-last { /* Execute */ order: 66; }
      .col-xs-0  { display: none; }
      .col-xs-1  { display: block; flex-basis: 8.3333%; width: 8.3333%; }
      .col-xs-2  { display: block; flex-basis: 16.6666%; width: 16.6666%; }
      .col-xs-3  { display: block; flex-basis: 25%; width: 25%; }
      .col-xs-4  { display: block; flex-basis: 33.3333%; width: 33.3333%; }
      .col-xs-5  { display: block; flex-basis: 41.6666%; width: 41.6666%; }
      .col-xs-6  { display: block; flex-basis: 50%; width: 50%; }
      .col-xs-7  { display: block; flex-basis: 58.3333%; width: 58.3333%; }
      .col-xs-8  { display: block; flex-basis: 66.6666%; width: 66.6666%; }
      .col-xs-9  { display: block; flex-basis: 75%; width: 75%; }
      .col-xs-10 { display: block; flex-basis: 83.3333%; width: 83.3333%; }
      .col-xs-11 { display: block; flex-basis: 91.6666%; width: 91.6666%; }
      .col-xs-12 { display: block; flex-basis: 100%; width: 100%; }
    }

  }

}