/*==================================================

  Layout

==================================================*/

@mixin layout($theme) {

  $primary    : map-get($theme, primary);
  $accent     : map-get($theme, accent);
  $warn       : map-get($theme, warn);
  $success    : map-get($theme, success);
  $foreground : map-get($theme, foreground);
  $background : map-get($theme, background);

  .div {
    @include get-prop-color(background-color, map_get($background, background), 0, $theme);
  }

}