/*==================================================

  Tables

==================================================*/

@mixin tables($theme) {

  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  /*
   * Simple table
   */

  .simple-table {
    border-collapse : collapse;
    width           : 100%;
    box-shadow      : $box-shadow;
    text-align      : left;
    background      : map_get($background, card);

    tr {
      border-bottom: .1rem solid map_get($foreground, divider);

      &:nth-child(2n-1) {
        background: map_get($background, odd-rows);
      }

      &:hover {
        background: map_get($background, hover);
      }

    }

    thead tr:nth-child(1) {
      background: map_get($background, card);
    }

    tbody tr:nth-last-child(1) {
      border-bottom: none;
    }

    th {
      padding     : 1.6rem .8rem;
      font-size   : 1.1rem;
      font-weight : bold;
      color       : map_get($foreground, text-secondary);

      &:nth-child(1) {
        padding: .8rem .8rem .8rem 2.4rem;
      }

      &:nth-last-child(1) {
        padding: .8rem 2.4rem .8rem .8rem;
      }

    }

    td {
      padding   : .8rem;
      font-size : 1.2rem;
      color     : map_get($foreground, text-primary);

      &:nth-child(1) {
        padding: .8rem .8rem .8rem 2.4rem;
      }

      &:nth-last-child(1) {
        padding: .8rem 2.4rem .8rem .8rem;
      }

    }

  }

}