/*==================================================

  Base

==================================================*/

@mixin base($theme) {

  $background: map-get($theme, background);


  /*
   * Box sizing
   */

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  /*
   * Page setup
   */

  body {
    margin    : 0;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 100vh;
    background: map_get($background, background);
  }

}