/*==================================================

  Base

==================================================*/


/*
 * Box sizing
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/*
 * Page setup
 */

html {
  overflow-y: scroll;
  background: if(map-get($theme, dark), #212121, white);
}

body {
  margin    : 0;
  overflow-x: hidden;
  min-height: 100vh;
}