/*==================================================

  Images

==================================================*/

@mixin images($theme) {

  img {
    max-width     : 100%;
    font-style    : italic;
    vertical-align: middle;
  }

  .img-full {
    width : 100%;
    height: 100%;
  }

  .img-cover {
    object-fit: cover;
  }

  .img-contain {
    object-fit: contain;
  }

}