/*==================================================

  Typography

==================================================*/

@mixin typography($theme) {

  $foreground: map-get($theme, foreground);


  /*
   * Base setup
   */

  html {
    font-family   : sans-serif;
    font-size     : 62.5%;
    line-height   : 1.5;
    color         : map_get($foreground, text-secondary);
    word-wrap     : break-word;
    overflow-wrap : break-word;
  }

  body {
    font-size: 1.4rem;
  }


  /*
   * Resets
   */

  h1, h2, h3, h4, h5, h6,
  p, ul, ol {
    margin: 0;
  }


  /*
   * Elements
   */

  h1, h2, h3, h4, h5, h6 {
    color       : map_get($foreground, text-primary);
    font-weight : normal;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2.0rem;
  }

  h6 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.4rem;
  }

  button {
    font-size: 1.4rem;
  }

  a {
    display         : inline-block;
    cursor          : pointer;
    color           : unset;
    text-decoration : none;
  }

  span {
    display: inline-block;
  }

  b, strong {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  hr {
    display     : block;
    width       : 100%;
    height      : .1rem;
    margin      : 1rem 0;
    border-width: .1rem 0 0;
    border-style: solid;
    border-color: map_get($foreground, divider);
  }


  /*
   * Custom
   */

  .link {
    cursor              : pointer;
    text-decoration     : underline;
    text-decoration-skip: ink;
  }

}