/**
 * Variables
 *
 * TODO: add description
 *
 *============================================================================*/



/* Breakpoints
 *============================================================================*/

$breakpoints: (
        md: 1200px,
        sm: 900px,
        xs: 600px
);



/* Properties
 *============================================================================*/

$properties: (
        align-content: (
                media: false,
                hover: false,
                active: false,
                values: (
                        'stretch': 'stretch',
                        'start': 'flex-start',
                        'pero': 'flex-end'
                ),
        ),
        test: (
                short: 'test',
                values: $breakpoints
        ),
        overflow: (
                short: 'of',
                values: ('auto', 'hidden'),
        )
);


@each $properties-key, $properties-value in $properties {

  // If property has a shorthand version
  @if map-get($properties-value, 'short') and map-get($properties-value, 'short') != '' {

    // Values can be maps or lists
    @if type-of(map-get($properties-value, 'values')) == map == true {
      @debug $properties-key is a map;
    } @else {
      @debug $properties-key is a list;
    }

    @debug map-get($properties-value, 'values');

    // Hover & Focus style
    @if map-get($properties-value, 'hover') == true {
      @debug hover is true;
    }

    // Responsive style
    @if map-get($properties-value, 'media') == true {
      @debug responsive is true;
    }
  }
  // If property doesn't have a shorthand version
  @else {
    @debug No shorthand value for $properties-key
  }
}



/* Colors
 *============================================================================*/

$colors: (
        main: (dodgerblue, white),
        warn: (crimson, white)
);

$light: (
        light: 30%,
        lighter: 60%,
        lightest: 90%
);

$dark: (
        dark: -30%,
        darker: -60%,
        darkest: -90%
);



/* Sizes
 *============================================================================*/

$unit: 4px;

$sizes: (
        0: $unit * 0,
        1: $unit * 1,
        2: $unit * 2,
        3: $unit * 3,
        4: $unit * 4,
        5: $unit * 5,
        6: $unit * 6,
        auto: auto
);
