/**
 * Positioning
 *
 * TODO: add description
 *
 *============================================================================*/



/* position
 *============================================================================*/

.pos-static   { position: static; }
.pos-sticky   { position: sticky; }
.pos-relative { position: relative; }
.pos-absolute { position: absolute; }
.pos-fixed    { position: fixed; }

@each $key, $value in $breakpoints {
  @media (max-width: $value) {
    .pos-static-#{$key}   { position: static; }
    .pos-sticky-#{$key}   { position: sticky; }
    .pos-relative-#{$key} { position: relative; }
    .pos-absolute-#{$key} { position: absolute; }
    .pos-fixed-#{$key}    { position: fixed; }
  }
}



/* z-index
 *============================================================================*/

/* TODO: add content */



/* top
 *============================================================================*/

/* TODO: add content */



/* right
 *============================================================================*/

/* TODO: add content */



/* bottom
 *============================================================================*/

/* TODO: add content */



/* left
 *============================================================================*/

/* TODO: add content */
