/**
 * Typography
 *
 * TODO: add description
 *
 *============================================================================*/



/* color (foreground color)
 *============================================================================*/

@each $key, $value in $colors {

  // Foreground
  .fg-#{$key} {
    color: var(--fg-#{$key});
  }

  // Foreground light variations
  @each $_key, $_value in $light {
    .fg-#{$key}-#{$_key} {
      color: var(--fg-#{$key}-#{$_key});
    }
  }

  // Foreground dark variations
  @each $_key, $_value in $dark {
    .fg-#{$key}-#{$_key} {
      color: var(--fg-#{$key}-#{$_key});
    }
  }

  // Foreground reverse
  .fg-rev-#{$key} {
    color: var(--bg-#{$key});
  }

  // Foreground reverse light variations
  @each $_key, $_value in $light {
    .fg-rev-#{$key}-#{$_key} {
      color: var(--bg-#{$key}-#{$_key});
    }
  }

  // Foreground reverse dark variations
  @each $_key, $_value in $dark {
    .fg-rev-#{$key}-#{$_key} {
      color: var(--bg-#{$key}-#{$_key});
    }
  }
}



/* font-family
 *============================================================================*/

/* TODO: add content */



/* font-size
 *============================================================================*/

/* TODO: add content */



/* font-style
 *============================================================================*/

/* TODO: add content */



/* font-weight
 *============================================================================*/

/* TODO: add content */



/* letter-spacing
 *============================================================================*/

/* TODO: add content */



/* text-align
 *============================================================================*/

/* TODO: add content */



/* text-decoration
 *============================================================================*/

/* TODO: add content */



/* text-transform
 *============================================================================*/

/* TODO: add content */



/* white-space
 *============================================================================*/

/* TODO: add content */



/* word-break
 *============================================================================*/

/* TODO: add content */
