@use "sass:color";

/**
 * Colors
 *
 *============================================================================*/



/* Background colors
 *============================================================================*/
/**
 * TODO: description
 */

@each $key, $value in $colors {
  .bg-#{$key}-lightest { background-color: scale-color(nth($value, 1), $lightness: 90%); }
  .bg-#{$key}-lighter { background-color: scale-color(nth($value, 1), $lightness: 60%); }
  .bg-#{$key}-light { background-color: scale-color(nth($value, 1), $lightness: 30%); }
  .bg-#{$key} { background-color: nth($value, 1); }
  .bg-#{$key}-dark { background-color: scale-color(nth($value, 1), $lightness: -30%); }
  .bg-#{$key}-darker { background-color: scale-color(nth($value, 1), $lightness: -60%); }
  .bg-#{$key}-darkest { background-color: scale-color(nth($value, 1), $lightness: -90%); }
}



/* Background colors reversed
 *============================================================================*/
/**
 * TODO: description
 */

@each $key, $value in $colors {
  .bg-rev-#{$key}-lightest { background-color: scale-color(nth($value, 2), $lightness: 90%); }
  .bg-rev-#{$key}-lighter { background-color: scale-color(nth($value, 2), $lightness: 60%); }
  .bg-rev-#{$key}-light { background-color: scale-color(nth($value, 2), $lightness: 30%); }
  .bg-rev-#{$key} { background-color: nth($value, 2); }
  .bg-rev-#{$key}-dark { background-color: scale-color(nth($value, 2), $lightness: -30%); }
  .bg-rev-#{$key}-darker { background-color: scale-color(nth($value, 2), $lightness: -60%); }
  .bg-rev-#{$key}-darkest { background-color: scale-color(nth($value, 2), $lightness: -90%); }
}



/* Foreground colors
 *============================================================================*/
/**
 * TODO: description
 */

@each $key, $value in $colors {
  .fg-#{$key}-lightest { color: scale-color(nth($value, 2), $lightness: 90%); }
  .fg-#{$key}-lighter { color: scale-color(nth($value, 2), $lightness: 60%); }
  .fg-#{$key}-light { color: scale-color(nth($value, 2), $lightness: 30%); }
  .fg-#{$key} { color: nth($value, 2); }
  .fg-#{$key}-dark { color: scale-color(nth($value, 2), $lightness: -30%); }
  .fg-#{$key}-darker { color: scale-color(nth($value, 2), $lightness: -60%); }
  .fg-#{$key}-darkest { color: scale-color(nth($value, 2), $lightness: -90%); }
}



/* Foreground colors reversed
 *============================================================================*/
/**
 * TODO: description
 */

@each $key, $value in $colors {
  .fg-rev-#{$key}-lightest { color: scale-color(nth($value, 1), $lightness: 90%); }
  .fg-rev-#{$key}-lighter { color: scale-color(nth($value, 1), $lightness: 60%); }
  .fg-rev-#{$key}-light { color: scale-color(nth($value, 1), $lightness: 30%); }
  .fg-rev-#{$key} { color: nth($value, 1); }
  .fg-rev-#{$key}-dark { color: scale-color(nth($value, 1), $lightness: -30%); }
  .fg-rev-#{$key}-darker { color: scale-color(nth($value, 1), $lightness: -60%); }
  .fg-rev-#{$key}-darkest { color: scale-color(nth($value, 1), $lightness: -90%); }
}
