//
// Settings
//
// TODO: add description
//
// =============================================================================



// Reference maps
// =============================================================================
// Create your own custom maps that you can use or reuse in the properties map

$overflow: (hidden, auto);



// Properties
// =============================================================================
// Syntax for adding/editing properties is the following:
//
// property: (
//   values: [map or list],
//   short: [string],
//   variables: [boolean],
//   media: [boolean],
//   hover: [boolean],
//   active: [boolean]
// )

$properties: (
        // align-content: (),
        // align-items: (),
        // align-self: (),
        // background-color: (),
        // border: (),
        // border-radius: (),
        // bottom: (),
        // box-shadow: (),
        // color: (),
        // cursor: (),
        // display: (),
        // float: (),
        // flex-basis: (),
        // flex-direction: (),
        // flex-grow: (),
        // flex-shrink: (),
        // flex-wrap: (),
        // font-family: (),
        // font-size: (),
        // font-style: (),
        // font-weight: (),
        // height: (),
        // justify-content: (),
        // left: (),
        // letter-spacing: (),
        // line-height: (),
        // margin: (),
        // opacity: (),
        // order: (),
        // outline: (),
        // overflow: (),
        // pointer-events: (),
        // width: (),
        // padding: (),
        // position: (),
        // right: (),
        // text-align: (),
        // text-decoration: (),
        // text-shadow: (),
        // text-transform: (),
        // top: (),
        // transition: (),
        // vertical-align: (),
        // white-space: (),
        // word-break: (),
        // z-index: (),
);



// Breakpoints
// =============================================================================
// Don't rename this map, but feel free to change or add new breakpoints

$breakpoints: (
        md: 1200px,
        sm: 900px,
        xs: 600px
);
