//
// Utilities
//
// A map of utility classes.
//
// =============================================================================



// Reference maps
// =============================================================================
// Create your own custom maps that you can use or reuse in the properties map

$overflow: (hidden, auto);

$spacing: (
        0: 0,
        1: .25rem,
        2: .5rem,
        3: .75rem,
        4: 1rem,
        5: 1.5rem,
        6: 2rem
);

$grid-column: (
        0:  span 0,
        1:  span 1,
        2:  span 2,
        3:  span 3,
        4:  span 4,
        5:  span 5,
        6:  span 6,
        7:  span 7,
        8:  span 8,
        9:  span 9,
        10: span 10,
        11: span 11,
        12: span 12
);



// Breakpoints
// =============================================================================
// Don't rename this map, but feel free to change or add new breakpoints

$breakpoints: (
        md: 1200px,
        sm: 900px,
        xs: 600px
);



// Properties
// =============================================================================
// Syntax for adding/editing properties is the following:
//
// property: (
//   values: [map or list],
//   short: [string],
//   media: [boolean],
//   hover: [boolean],
//   active: [boolean]
// )

// Sorted alphabetically for better compression and overview.
$properties: (
        align-content: (
                short: ac,
                values: (
                        stretch: stretch,
                        center: center,
                        start: flex-start,
                        end: flex-end,
                        base: baseline,
                        between: space-between,
                        around: space-around,
                        evenly: space-evenly
                )
        ),
        align-items: (
                short: ai,
                values: (
                        stretch: stretch,
                        center: center,
                        start: flex-start,
                        end: flex-end,
                        base: baseline
                )
        ),
        align-self: (
                short: as,
                values: (
                        auto: auto,
                        center: center,
                        start: flex-start,
                        end: flex-end,
                        base: baseline
                )
        ),
        background-color: (
                short: bg,
                values: (
                        accent: var(--accent),
                        accent-c: var(--accent-contrast),
                        success: var(--success),
                        success-c: var(--success-contrast),
                        error: var(--error),
                        error-c: var(--error-contrast)
                )
        ),
        // border: (),
        // border-radius: (),
        // bottom: (),
        // box-shadow: (),
        // color: (),
        color: (
                short: c,
                values: (
                        accent: var(--accent),
                        accent-c: var(--accent-contrast),
                        success: var(--success),
                        success-c: var(--success-contrast),
                        error: var(--error),
                        error-c: var(--error-contrast)
                )
        ),
        cursor: (
                values: (pointer, auto)
        ),
        display: (
                short: d,
                values: (
                        none: none,
                        block: block,
                        flex: flex,
                        iblock: inline-block,
                        iflex: inline-flex,
                        inline: inline,
                        grid: grid
                )
        ),
        // float: (),
        // flex-basis: (),
        flex-direction: (
                short: fd,
                values: (
                        row: row,
                        col: column,
                        row-rev: row-reverse,
                        col-rev: column-reverse
                )
        ),
        // flex-grow: (),
        // flex-shrink: (),
        flex-wrap: (
                short: fw,
                values: (
                        wrap: wrap,
                        nowrap: nowrap,
                        wrap-rev: wrap-reverse
                )
        ),
        // font-family: (),
        // font-size: (),
        // font-style: (),
        // font-weight: (),
        grid-column: (
                short: gc,
                values: $grid-column,
                media: true
        ),
        grid-gap: (
                short: gg,
                values: $spacing
        ),
        grid-template-columns: (
                short: gtc,
                values: (12: repeat(12, 1fr))
        ),
        // height: (),
        // justify-content: (),
        // left: (),
        // letter-spacing: (),
        // line-height: (),
        margin: (
                short: m-a,
                values: map-merge($spacing, (auto: auto))
        ),
        margin-top: (
                short: m-t,
                values: map-merge($spacing, (auto: auto))
        ),
        margin-bottom: (
                short: m-b,
                values: map-merge($spacing, (auto: auto))
        ),
        margin-left: (
                short: m-l,
                values: map-merge($spacing, (auto: auto))
        ),
        margin-right: (
                short: m-r,
                values: map-merge($spacing, (auto: auto))
        ),
        // opacity: (),
        // order: (),
        // outline: (),
        overflow: (
                short: of,
                values: $overflow
        ),
        overflow-x: (
                short: of-x,
                values: $overflow
        ),
        overflow-y: (
                short: of-y,
                values: $overflow
        ),
        // pointer-events: (),
        // width: (),
        padding: (
                short: p-a,
                values: $spacing
        ),
        padding-top: (
                short: p-t,
                values: $spacing
        ),
        padding-bottom: (
                short: p-b,
                values: $spacing
        ),
        padding-left: (
                short: p-l,
                values: $spacing
        ),
        padding-right: (
                short: p-r,
                values: $spacing
        ),
        position: (
                short: pos,
                values: (
                        rel: relative,
                        abs: absolute,
                        fixed: fixed,
                        sticky: sticky,
                        static: static,
                )
        ),
        // right: (),
        text-align: (
                short: ta,
                values: (left, right, center, justify)
        ),
        // text-decoration: (),
        // text-shadow: (),
        // text-transform: (),
        // top: (),
        // transition: (),
        // vertical-align: (),
        // visibility: (),
        // white-space: (),
        // word-break: (),
        // z-index: (),
);
