//
// Utilities
//
// A map of utility classes.
//
// =============================================================================



// Reference maps
// =============================================================================
// Create your own custom maps that you can use or reuse in the properties map

$overflow: (hidden, auto);

$spacing: (
        0: 0,
        1: 1rem,
        2: 2rem,
        3: 3rem,
        4: 4rem,
        5: 5rem,
        6: 6rem,
);

$colors: (
        inherit:  inherit,
        main:     var(--main),
        main-c:   var(--main-contrast),
        main-b:   var(--main-border),
        dark:     var(--dark),
        dark-c:   var(--dark-contrast),
        dark-b:   var(--dark-border),
        panel:    var(--panel),
        panel-c:  var(--panel-contrast),
        panel-b:  var(--panel-border),
        accent:   var(--accent),
        accent-c: var(--accent-contrast),
        accent-b: var(--accent-border),
);

$grid-column: (
        0:  span 0,
        1:  span 1,
        2:  span 2,
        3:  span 3,
        4:  span 4,
        5:  span 5,
        6:  span 6,
        7:  span 7,
        8:  span 8,
        9:  span 9,
        10: span 10,
        11: span 11,
        12: span 12
);

$position: (
        0:   0%,
        100: 100%
);



// Breakpoints
// =============================================================================
// Don't rename this map, but feel free to change or add new breakpoints

$breakpoints: (
        md: 1200px,
        sm: 900px,
        xs: 600px
);



// Properties
// =============================================================================
// Syntax for adding/editing properties is the following:
//
// property: (
//   values: [map or list],
//   short: [string],
//   media: [boolean],
//   hover: [boolean],
//   active: [boolean]
// )

// Sorted alphabetically for better compression and overview.
$properties: (
        align-content: (
                short: ac,
                values: (
                        stretch: stretch,
                        center: center,
                        start: flex-start,
                        end: flex-end,
                        base: baseline,
                        between: space-between,
                        around: space-around,
                        evenly: space-evenly
                )
        ),
        align-items: (
                short: ai,
                values: (
                        stretch: stretch,
                        center: center,
                        start: flex-start,
                        end: flex-end,
                        base: baseline
                )
        ),
        align-self: (
                short: as,
                values: (
                        auto: auto,
                        center: center,
                        start: flex-start,
                        end: flex-end,
                        base: baseline
                )
        ),
        background-color: (
                short: bg,
                values: $colors
        ),
        background-image: (
                short: bgi,
                values: (football: url("https://images.unsplash.com/photo-1489944440615-453fc2b6a9a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3564&q=80"))
        ),
        background-position: (
                short: bgp,
                values: (center)
        ),
        background-size: (
                short: bgs,
                values: (cover)
        ),
        border: (
                short: ba,
                values: ( 1: 1px solid )
        ),
        border-top: (
                short: bt,
                values: ( 1: 1px solid )
        ),
        border-bottom: (
                short: bb,
                values: ( 1: 1px solid )
        ),
        border-left: (
                short: bl,
                values: ( 1: 1px solid )
        ),
        border-right: (
                short: br,
                values: ( 1: 1px solid )
        ),
        border-color: (
                short: bc,
                values: $colors
        ),
        border-radius: (
                short: brad,
                values: $spacing
        ),
        bottom: (
                short: bottom,
                values: $position
        ),
        box-shadow: (
                short: bs,
                values: (1: 0 4px 8px rgba(0,0,0,.24))
        ),
        color: (
                short: c,
                values: $colors
        ),
        cursor: (
                values: (pointer, auto)
        ),
        display: (
                short: d,
                values: (
                        none: none,
                        block: block,
                        flex: flex,
                        iblock: inline-block,
                        iflex: inline-flex,
                        inline: inline,
                        grid: grid
                )
        ),
        // float: (),
        // flex-basis: (),
        flex-direction: (
                short: flexd,
                values: (
                        row: row,
                        col: column,
                        row-rev: row-reverse,
                        col-rev: column-reverse
                )
        ),
        flex-grow: (
                short: flexg,
                values: (0, 1, auto)
        ),
        flex-shrink: (
                short: flexs,
                values: (0, 1, auto)
        ),
        flex-wrap: (
                short: flexw,
                values: (
                        wrap: wrap,
                        nowrap: nowrap,
                        wrap-rev: wrap-reverse
                )
        ),
        // font-family: (),
        font-size: (
                short: fs,
                values: map-merge($spacing, (inherit: inherit))
        ),
        // font-style: (),
        font-weight: (
                short: fw,
                values: (
                        bold: bold,
                        normal: normal
                )
        ),
        grid-column: (
                short: gc,
                values: $grid-column,
                media: true
        ),
        grid-gap: (
                short: gg,
                values: $spacing
        ),
        grid-template-columns: (
                short: gtc,
                values: (12: repeat(12, 1fr))
        ),
        // height: (),
        // justify-content: (),
        left: (
                short: left,
                values: $position
        ),
        // letter-spacing: (),
        // line-height: (),
        list-style: (
                short: ls,
                values: (none)
        ),
        margin: (
                short: ma,
                values: map-merge($spacing, (auto: auto))
        ),
        margin-top: (
                short: mt,
                values: map-merge($spacing, (auto: auto))
        ),
        margin-bottom: (
                short: mb,
                values: map-merge($spacing, (auto: auto))
        ),
        margin-left: (
                short: ml,
                values: map-merge($spacing, (auto: auto))
        ),
        margin-right: (
                short: mr,
                values: map-merge($spacing, (auto: auto))
        ),
        max-width: (
                short: maxw,
                values: (
                        s: 40rem,
                        m: 60rem,
                        l: 80rem,
                        100: 100%
                )
        ),
        // opacity: (),
        // order: (),
        // outline: (),
        overflow: (
                short: of,
                values: $overflow
        ),
        overflow-x: (
                short: ofx,
                values: $overflow
        ),
        overflow-y: (
                short: ofy,
                values: $overflow
        ),
        // pointer-events: (),
        width: (
                short: w,
                values: (100: 100%)
        ),
        padding: (
                short: pa,
                values: $spacing
        ),
        padding-top: (
                short: pt,
                values: $spacing
        ),
        padding-bottom: (
                short: pb,
                values: $spacing
        ),
        padding-left: (
                short: pl,
                values: $spacing
        ),
        padding-right: (
                short: pr,
                values: $spacing
        ),
        position: (
                short: pos,
                values: (
                        rel: relative,
                        abs: absolute,
                        fixed: fixed,
                        sticky: sticky,
                        static: static,
                )
        ),
        right: (
                short: right,
                values: $position
        ),
        text-align: (
                short: ta,
                values: (left, right, center, justify)
        ),
        text-decoration: (
                short: td,
                hover: true,
                values: (none, underline)
        ),
        text-shadow: (
                short: ts,
                values: (1: 0 0 2px rgba(0,0,0,.5))
        ),
        // text-transform: (),
        top: (
                short: top,
                values: $position
        ),
        // transition: (),
        // vertical-align: (),
        // visibility: (),
        // white-space: (),
        // word-break: (),
        // z-index: (),
);
