/**
 * Variables
 *
 *============================================================================*/



/* Breakpoints
 *============================================================================*/
/**
 * TODO: description
 */

$breakpoints: (
        lg: 1800px,
        md: 1200px,
        sm: 900px,
        xs: 600px
);



/* Colors
 *============================================================================*/
/**
 * TODO: description
 * color-name: (main-color, contrast-color)
 */

$colors: (
        primary: (dodgerblue, white),
        accent: (crimson, white)
);



/* Space sizes
 *============================================================================*/
/**
 * TODO: description
 */

$sizes: (
        0: 0,
        ¼: .25rem,
        ½: .5rem,
        ¾: .75rem,
        1: 1rem,
        2: 2rem,
        3: 3rem,
        4: 4rem
);
