/**
 * Variables
 *
 * TODO: add description
 *
 *============================================================================*/



/* Breakpoints
 *============================================================================*/

$breakpoints: (
        md: 1200px,
        sm: 900px,
        xs: 600px
);



/* Colors (name: (background, foreground))
 *============================================================================*/

$colors: (
        main: (dodgerblue, white),
        warn: (crimson, white)
);
