/*==================================================

  Accordion

==================================================*/


/*
 * General
 */

.accordion {
  display     : block;
  overflow    : hidden;
  transition  : .2s;

  &.active > .accordion_summary:after { transform: rotate(-90deg); }

}


/*
 * Accordion summary
 */

.accordion_summary {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  cursor          : pointer;
  user-select     : none;
  padding         : 1rem;
  background      : #eee;
  color           : #444;
  transition      : 0.2s;

  &:after {
    content     : url('assets/imgs/caret.svg');
    transition  : .2s;
  }

  &:hover { background: #ddd; }

}