/*==================================================

  BUTTONS

==================================================*/

button,
input[type=button],
input[type=submit],
input[type=reset] {

  // Box
  padding: 2rem 6rem;
  margin: 1rem;
  outline: none;
  border: .1rem solid black;
  border-radius: 0;
  // Font
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  // Style
  cursor: pointer;
  background: white;
  transition: $transition;

  // SVG
  svg {
    position: relative;
    top: .1rem;
    margin-left: .5rem;
    height: 1.2rem;
    width: 1.2rem;
    fill: black;
  }

  // Hover & Focus
  &:hover, &:focus { background: darken(white, 10%); }
  // Disabled
  &:disabled {}
  // Active
  &:active {}
  // States
  &.progress, &.success, &.error {
    color: transparent;
    pointer-events: none;
    user-select: none;
    position: relative;
    svg {display: none;}
  }
  &.progress {
    cursor: wait;
    &:after {
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 1rem);
      left: calc(50% - 1rem);
      height: 1.8rem;
      width: 1.8rem;
      border-top: .3rem solid black;
      border-right: .3rem solid black;
      border-bottom: .3rem solid transparent;
      border-left: .3rem solid transparent;
      animation: progress-animation .75s linear infinite;
      @keyframes progress-animation {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }
  }
  &.success {
    &:after {
      content: '';
      display: block;
      width: .8rem;
      height: 1.8rem;
      border-top: none;
      border-right: .2rem solid black;
      border-bottom: .2rem solid black;
      border-left: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }
  &.error {
    &:after {
      content: 'error';
      display: block;
      color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}


/*==================================================

  FILE

==================================================*/

.file {

  // Box
  width: auto;

  // Custom file
  label {
    // Box
    display: inline-block;
    padding: 2rem 6rem;
    margin: 1rem;
    border: .1rem solid black;
    // Font
    color: black;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    // Style
    cursor: pointer;
    background: white;
    transition: $transition;

    // Hover & Focus
    &:hover, &:focus { background: darken(white, 10%); }

    // Custom SVG arrow
    svg {
      // Box
      pointer-events: none;
      width: 1.6rem;
      height: 1.6rem;
      position: relative;
      top: .4rem;
      margin-right: .4rem;
      // Style
      fill: black;
    }
  }

  // Hiding default input
  input[type="file"] { display: none; }
}