/*==================================================

  BUTTONS

==================================================*/

button,
input[type=button],
input[type=submit],
input[type=reset] {

  // Box attributes
  padding: 2rem 6rem;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 0;

  // Font
  font-family: $font-bold;
  color: black;;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;

  // Style
  cursor: pointer;
  background: yellow;
  transition: $transition;

  // Hover & Focus
  &:hover, &:focus {
    background: lighten(yellow, 10%);
  }

  // Disabled
  &:disabled {}

  // Active
  &:active {}

}

/*==================================================

  INPUT[TYPE=IMAGE]

* TODO: Style separately because it needs some hacks

==================================================*/