/*==================================================

  GENERAL FORM LAYOUT

==================================================*/

.field {
  label {
    border: 1px solid;
    display: block;
    position: relative;
    span {
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }

}

%shared {
  // Box
  display: block;
  width: 100%;
  -webkit-appearance: textfield;
  border: none;
  outline: none;
  // Font
  font-size: 1.4rem;
  line-height: 1.4;
  // Style
  background: #eee;
  // Focus
  &:focus, &:hover {}
  // Valid
  &:valid {}
  // Invalid
  &:invalid {}
  // Placeholder
  &::placeholder {
    font-family: sans-serif;
    line-height: 1.4;
  }
}


/*==================================================

  TEXT, EMAIL, TEL, URL, PASSWORD, SEARCH, NUMBER

==================================================*/

.input {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=url],
  input[type=password],
  input[type=search],
  input[type=number] {
    @extend %shared;
  }
}


/*==================================================

  SELECT

==================================================*/

.select {
  select {
    @extend %shared;
    cursor: pointer;
    // Remove default arrow cross-browser
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    &::-ms-expand { display: none; }
  }
  // Custom SVG arrow
  svg {
    // Box
    pointer-events: none;
    width: 1.2rem;
    height: .8rem;
    position: absolute;
    bottom: 0;
    right: 0;
    // Style
    fill: #141414;
  }
}


/*==================================================

  TEXTAREA

==================================================*/

.textarea {
  textarea {
    @extend %shared;
    // Resizing options
    resize: vertical;
    overflow: auto;
  }
}


/*==================================================

  RADIO & CHECKBOX SHARED

==================================================*/

%radio-checkbox {
  cursor: pointer;

  // Text
  span { padding-left: 3rem; }

  // Control box
  .control {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: $transition;
    background: #eee;
  }

  // Indicator
  .control:after {
    // Box
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: $transition;
    // Style
    background: #333;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);
  }

  // Indicator – states
  input[type=radio] {
    // Hover & Focus
    &:focus ~ .control, &:hover ~ .control { background: darken(#eee,10%); }
    // Disabled
    &:disabled ~ .control { background: darken(#eee,10%); }
  }
}


/*==================================================

  RADIO & CHECKBOX SINGLE ROW

==================================================*/

.field.flex {
  .radio, .checkbox {
    flex: 1 1 auto;
    text-align: center;
    span {
      display: block;
      padding-left: 0;
    }
    .control {
      position: static;
      transform: translateY(0);
    }
  }
}


/*==================================================

  RADIO

==================================================*/

.radio {
  @extend %radio-checkbox;
  .control { border-radius: 50%; }
  .control:after { border-radius: 50%; }
  // Checked
  input[type=radio]:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }
  // Hiding default radio
  input[type=radio] { position: absolute; opacity: 0; z-index: -1; }
}




/*==================================================

  CHECKBOX

==================================================*/

.checkbox {
  @extend %radio-checkbox;
  // Checked
  input[type=checkbox]:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }
  // Hiding default checkbox
  input[type=checkbox] { position: absolute; opacity: 0; z-index: -1; }
}