/*==================================================

  FIELD

==================================================*/

.field {
  display: inline-block;
  width: 100%;
  &.auto { width: auto; }
}


/*==================================================

  TEXT, EMAIL, TEL, URL, PASSWORD, SEARCH, NUMBER

==================================================*/

// Text
.field label {

  // Box attributes
  display: block;

  // Font
  @include font-size(1.4rem, 1.2rem);

}

// Custom field
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
input[type=search],
input[type=number] {

  // Box attributes
  -webkit-appearance: textfield;
  display: block;
  width: 100%;
  margin-top: .5rem;
  padding: 1rem 1.5rem;
  border: .1rem solid black;

  // Font
  @include font-size(1.6rem, 1.4rem);
  line-height: 1.4;
  color: black;

  // Style
  background: white;
  transition: $transition;

  // Focus
  &:focus { background: darken(white,2%); }

  // Valid
  &:valid {}

  // Invalid
  &:invalid {}

  // Placeholder
  &::Placeholder {
    line-height: 1.4;
    color: black;
    opacity: .5;
  }

}


/*==================================================

  SELECT

==================================================*/

.select {

  // Box attributes
  display: inline-block;
  width: 100%;
  position: relative;

  select {

    @extend input[type=text];

    // Box attributes
    padding-right: 5rem;
    border-radius: 0;

    // Remove default arrow cross-browser
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    }

  }

  // Custom SVG arrow
  svg {

    // Box attributes
    pointer-events: none;
    width: 1.2rem;
    height: .8rem;
    position: absolute;
    bottom: 2.3rem;
    right: 2rem;
    transform: translateY(50%);

    // Style
    fill: #141414;

  }
}


/*==================================================

  RADIO

==================================================*/

.radio {

  margin-bottom: 1.5rem;

  // Text
  label {

    // Box attributes
    position: relative;
    padding-left: 3rem;
    cursor: pointer;

    // Font
    @include font-size(1.6rem, 1.4rem);
    line-height: 1.4;

  }

  // Box
  .control {

    // Box attributes
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 50%;

    // Transform
    transform: translateY(-50%);

    // Style
    background: #eee;
    transition: $transition;

  }

  // Indicator
  .control:after { 

    // Box attributes
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;

    // Transform
    transform: translate(-50%,-50%) scale(0);
    transition: $transition;
  
    // Style
    background: #333;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);

  }

  // Indicator – states
  label input[type=radio] {

    // Hover & Focus
    &:focus ~ .control, &:hover ~ .control { background: darken(#eee,10%); }

    // Checked
    &:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }

    // Disabled
    &:disabled ~ .control { background: darken(#eee,10%); }
    
  }

  // Hiding default radio
  label input[type=radio] { position: absolute; opacity: 0; z-index: -1; }
}


/*==================================================

  CHECKBOX

==================================================*/

.checkbox {

  margin-bottom: 1.5rem;

  // Text
  label {

    // Box attributes
    position: relative;
    padding-left: 3rem;
    cursor: pointer;

    // Font
    @include font-size(1.6rem, 1.4rem);
    line-height: 1.4;

  }

  // Box
  .control {

    // Box attributes
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 50%;

    // Transform
    transform: translateY(-50%);

    // Style
    background: #eee;
    transition: $transition;

  }

  // Indicator
  .control:after { 

    // Box attributes
    content: '';
    display: block;
    width: 1.2rem;
    height: .5rem;
    border-bottom: .4rem solid black;
    border-left: .4rem solid black;
    position: absolute;
    top: calc(50% - .3rem);
    left: 50%;

    // Transform
    transform: translate(-50%,-50%) rotate(-45deg) scale(0);
    transition: $transition;
  
    // Style
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);

  }

  // Indicator – states
  label input[type=checkbox] {

    // Hover & Focus
    &:focus ~ .control, &:hover ~ .control { background: darken(#eee,10%); }

    // Checked
    &:checked ~ .control:after { transform: translate(-50%,-50%) rotate(-45deg) scale(1); }

    // Disabled
    &:disabled ~ .control { background: darken(#eee,10%); }
    
  }

  // Hiding default checkbox
  label input[type=checkbox] { position: absolute; opacity: 0; z-index: -1; }
}


/*==================================================

  TEXTAREA

==================================================*/

textarea {

  @extend input[type=text];

  // Style
  resize: vertical;
  overflow: auto;

}


/*==================================================

  FILE

==================================================*/

.file {

  width: auto;

  // Custom file
  label {

    // Box attributes
    display: inline-block;
    padding: 2rem 6rem;
    margin: 1rem;
    border: .1rem solid black;

    // Font
    color: black;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;

    // Style
    cursor: pointer;
    background: white;
    transition: $transition;

    // Hover & Focus
    &:hover, &:focus { background: darken(white, 10%); }

    // Custom SVG arrow
    svg {

      // Box attributes
      pointer-events: none;
      width: 1.6rem;
      height: 1.6rem;
      position: relative;
      top: .4rem;
      margin-right: .4rem;

      // Style
      fill: black;
    }

  }

  // Hiding default input
  input[type="file"] { display: none; }

}