/*==================================================

  GENERAL FORM LAYOUT

==================================================*/

.field {
  margin-bottom: 2rem;
  label {
    border: 1px solid;
    display: block;
    position: relative;
    span {
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }
}

%shared {
  // Box
  display: block;
  width: 100%;
  -webkit-appearance: textfield;
  border: none;
  outline: none;
  // Font
  font-size: 1.4rem;
  line-height: 1.4;
  // Style
  background: #eee;
  // Focus
  &:focus, &:hover {}
  // Valid
  &:valid {}
  // Invalid
  &:invalid {}
  // Placeholder
  &::placeholder {
    font-family: sans-serif;
    line-height: 1.4;
  }
}


/*==================================================

  TEXT, EMAIL, TEL, URL, PASSWORD, SEARCH, NUMBER

==================================================*/

.input {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=url],
  input[type=password],
  input[type=search],
  input[type=number] {
    @extend %shared;
  }
}


/*==================================================

  SELECT

==================================================*/

.select {
  select {
    @extend %shared;
    cursor: pointer;
    // Remove default arrow cross-browser
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    &::-ms-expand { display: none; }
  }
  // Custom SVG arrow
  svg {
    // Box
    pointer-events: none;
    width: 1.2rem;
    height: .8rem;
    position: absolute;
    bottom: 0;
    right: 0;
    // Style
    fill: #141414;
  }
}


/*==================================================

  TEXTAREA

==================================================*/

.textarea {
  textarea {
    @extend %shared;
    // Resizing options
    resize: vertical;
    overflow: auto;
  }
}


/*==================================================

  RADIO

==================================================*/

.radio {
  cursor: pointer;
  // Text
  span { padding-left: 3rem; }
  // Control box
  .control {
    // Box
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    // Transform
    transform: translateY(-50%);
    transition: $transition;
    // Style
    background: #eee;
  }

  // Indicator
  .control:after { 
    // Box
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    // Transform
    transform: translate(-50%,-50%) scale(0);
    transition: $transition;
    // Style
    background: #333;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);
  }

  // Indicator – states
  input[type=radio] {
    // Hover & Focus
    &:focus ~ .control, &:hover ~ .control { background: darken(#eee,10%); }
    // Checked
    &:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }
    // Disabled
    &:disabled ~ .control { background: darken(#eee,10%); }
  }

  // Hiding default radio
  input[type=radio] { position: absolute; opacity: 0; z-index: -1; }
}


/*==================================================

  CHECKBOX

==================================================*/

.checkbox {
  // Box
  margin-bottom: 1.5rem;

  // Text
  label {
    // Box
    position: relative;
    padding-left: 3rem;
    cursor: pointer;
    // Font
    @include font-size(1.6rem, 1.4rem);
    line-height: 1.4;

  }

  // Control box
  .control {
    // Box
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 50%;
    // Transform
    transform: translateY(-50%);
    transition: $transition;
    // Style
    background: #eee;
  }

  // Indicator
  .control:after { 
    // Box
    content: '';
    display: block;
    width: 1.2rem;
    height: .5rem;
    border-bottom: .4rem solid black;
    border-left: .4rem solid black;
    position: absolute;
    top: calc(50% - .3rem);
    left: 50%;
    // Transform
    transform: translate(-50%,-50%) rotate(-45deg) scale(0);
    transition: $transition;
    // Style
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);
  }

  // Indicator – states
  label input[type=checkbox] {
    // Hover & Focus
    &:focus ~ .control, &:hover ~ .control { background: darken(#eee,10%); }
    // Checked
    &:checked ~ .control:after { transform: translate(-50%,-50%) rotate(-45deg) scale(1); }
    // Disabled
    &:disabled ~ .control { background: darken(#eee,10%); }
  }

  // Hiding default checkbox
  label input[type=checkbox] { position: absolute; opacity: 0; z-index: -1; }
}