/*==================================================

  HEADER

==================================================*/

header {
  background: black;
  height: 80px;
  width: 100%;
}

/*==================================================

  MAIN

==================================================*/

main {
}

/*==================================================

  FOOTER

==================================================*/

footer{
  background: black;
  height: 120px;
  width: 100%;
}