/*==================================================

  HEADER

==================================================*/

.header{
  background: #FFFFFF;
}

/*==================================================

  MAIN

==================================================*/

h1{
  font-size: 36px;
}

/*==================================================

  FOOTER

==================================================*/
footer {
  justify-content: center;
  text-align: center;
  align-items: flex-end;
}

.navbar {
  display: flex;
}
.navbar .col-6{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar p{
  color: #333A42;
  font-size: 14px;
  font-family: "open sans light";
}
.navbar button{
  text-align: center;
  background: #E65100;
  padding: 2rem 6rem;
  margin: 1rem;
  outline: none;
  border: .1rem solid black;
  border-radius: 4px;
  color:white;
  &:hover, &:focus { background: darken(white, 10%); }
}
.team{
  background: linear-gradient(to right, #465362 , #A2A9B0);
  padding: 50px;
  color: white;
}
.members{
  padding: 40px;
  display: flex;
}

.join{
  background: #465362;
  padding: 60px;
  text-align: center;
}
.join h4{
  color: white;
}
.join p{
  color: #61BFE5;
  padding: 20px;
}
.join button{
  color: #E65100;
  background:white ;
  border-radius: 4px;
}
.resorsi {
  padding: 80px;
}

.blog{
  padding: 100px;
  text-align: center;
}
.projects{
  padding: 40px;
}
.slike{
  flex-basis: 66.6%;
  justify-content: space-around;
  display: flex;
  padding: 10px;
}
.boxovi{
  flex-basis: 66.6%;
  justify-content: space-around;
  display: flex;
  padding: 10px;
}
.box{
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border:1px solid #CDD8E7
}
.drugo{
  flex-basis: 66.6%;
  padding: 20px;
}
.inputi{
  flex-basis: 66.6%;
  padding: 20px;
}
.email{
  width: 100%;
  padding: 5px;
}
label{
  font-size: 14px;
  padding: 5px;
}
.button{
  padding: 20px;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}
.button button{
  background: #E65100;
  color: white;
  box-shadow: 0px 2px 4px;
  border-radius: 4px;
}