/*==================================================

  HEADER

==================================================*/

.header{
  background: #FFFFFF;
}

/*==================================================

  MAIN

==================================================*/

h1{
  font-size: 36px;
}

/*==================================================

  FOOTER

==================================================*/
footer {
  justify-content: center;
  text-align: center;
  align-items: flex-end;
}

.navbar {
  display: flex;
}
.navbar .col-6{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar p{
  color: #333A42;
  font-size: 14px;
  font-family: "open sans light";
}
.navbar button{
  text-align: center;
  background: #E65100;
  padding: 2rem 6rem;
  margin: 1rem;
  outline: none;
  border: .1rem solid black;
  border-radius: 4px;
  color:white;
  &:hover, &:focus { background: darken(white, 10%); }
}
.team{
  background: linear-gradient(to right, #465362 , #A2A9B0);
  padding: 50px;
  color: white;
}
.members{
  padding: 40px;
  display: flex;
}

.join{
  background: #465362;
  padding: 60px;
  text-align: center;
}
.join h4{
  color: white;
}
.join p{
  color: white;
  padding: 20px;
}
.join button{
  color: #E65100;
  background:white ;
  border-radius: 4px;
}
.resorsi{
  padding: 80px;
}
.row .ajmo{
  display: flex;
  flex-wrap: wrap;
 border: 1px solid #CDD8E7;
  align-items: center;
  flex-basis: 33%;
  justify-content: center;
}
.ngeovi{
  padding: 20px;
}
.boxovi{
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.row .col-8{
  display: flex;
}
.row .col-3{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CDD8E7;
}
.ngeovi .row .col-5{
  flex-basis: inherit;
}
.ngeovi .row .col-5 p{
  padding: 10px;
}
.blog{
  padding: 100px;
  text-align: center;
}
