/*==================================================

  BUTTONS

==================================================*/

button {

  // Box attributes
  padding: 2rem 6rem;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 0;

  // Font
  font-family: $font-bold;
  color: $color-text-light;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;

  // Style
  cursor: pointer;
  background: $color-bg;
  transition: $transition;

  // Hover & Focus
  &:hover, &:focus {
    background: lighten($color-bg, 10%);
  }

  // Disabled
  &:disabled {}

  // Active
  &:active {}

}