form h3 {margin: 4rem 0 0;} // TODO: REMOVE

/*==================================================

  FIELD & LABEL

==================================================*/

$input-min: 1.6rem; // Smallest font size
$input-max: 2rem; // Largest font size

$label-min: 1.4rem; // Smallest font size
$label-max: 1.6rem; // Largest font size

.field {

  label {

    // Box attributes
    display: block;
    margin-bottom: .5rem;

    // Font
    @include fluid-type($min_width, $max_width, $label-min, $label-max);
    font-family: $font-bold;
  
  }
}


/*==================================================

  TEXT, EMAIL, TEL, URL, PASSWORD, SEARCH

==================================================*/

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
input[type=search] {

  // Box attributes
  display: block;
  width: 100%;
  padding: .5rem;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid;
  border-left: none;
  
  // Font
  @include fluid-type($min_width, $max_width, $input-min, $input-max);
  font-family: $font-regular;
  line-height: 1.4;

  // Style
  background: white;
  transition: $transition;

  // Focus
  &:focus { background: darken(white,5%); }

  // Valid
  &:valid {}

  // Invalid
  &:invalid {}

  // Placeholder
  &::Placeholder {

    // Font
    @include fluid-type($min_width, $max_width, $input-min, $input-max);
    font-family: $font-regular;
    line-height: 1.4;

  }
}


/*==================================================

  RADIO

==================================================*/

.radio {

  label {

    // Box attributes
    position: relative;
    padding-left: 3rem;

    // Font
    @include fluid-type($min_width, $max_width, $input-min, $input-max);
    font-family: $font-regular;
    line-height: 1.4;

    // Style
    cursor: pointer;

    input[type=radio] {

      // Hiding default
      position: absolute; opacity: 0; z-index: -1;

      // Hover & Focus
      &:focus ~ .control, &:hover ~ .control { background: darken(#eee,10%); }

      // Checked
      &:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }

      // Disabled
      &:disabled ~ .control { background: darken(#eee,10%); }
    }
  }

  .control {

    // Box attributes
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 50%;

    // Transform
    transform: translateY(-50%);

    // Style
    background: #eee;
    transition: $transition;

    // Custom input checked initial state 
    &:after { 

      // Box attributes
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;

      // Transform
      transform: translate(-50%,-50%) scale(0);
    
      // Style
      background: #333;
      box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);
      transition: $transition;

    }
  }
}


/*==================================================

  CHECKBOX

==================================================*/

.checkbox {
  
    label {
  
      // Box attributes
      position: relative;
      padding-left: 3rem;
  
      // Font
      @include fluid-type($min_width, $max_width, $input-min, $input-max);
      font-family: $font-regular;
      line-height: 1.4;
  
      // Style
      cursor: pointer;
  
      input[type=checkbox] {
  
        // Hiding default
        position: absolute; opacity: 0; z-index: -1;
  
        // Hover & Focus
        &:focus ~ .control, &:hover ~ .control { background: darken(#eee,10%); }
  
        // Checked
        &:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }
  
        // Disabled
        &:disabled ~ .control { background: darken(#eee,10%); }
      }
    }
  
    .control {
  
      // Box attributes
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 0;
      top: 50%;
  
      // Transform
      transform: translateY(-50%);
  
      // Style
      background: #eee;
      transition: $transition;
  
      // Custom input checked initial state 
      &:after { 
  
        // Box attributes
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
  
        // Transform
        transform: translate(-50%,-50%) scale(0);
      
        // Style
        background: #333;
        box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);
        transition: $transition;
  
      }
    }
  }


/*==================================================

  BUTTON, SUBMIT, RESET, IMAGE

==================================================*/

/*==================================================

  FILE

==================================================*/

/*==================================================

  NUMBER

==================================================*/

/*==================================================

  RANGE

==================================================*/

/*==================================================

  COLOR

==================================================*/

/*==================================================

  DATE, DATETIME-LOCAL, MONTH, WEEK, TIME

==================================================*/