// Comment out elements you won't use to reduce css

/*==================================================

  INPUT VARIABLES

==================================================*/

// Text of an input
$input-min: 1.6rem; // Smallest font size
$input-max: 2rem; // Largest font size

// Special labels (e.g. text above fields)
$label-min: 1.4rem; // Smallest font size
$label-max: 1.6rem; // Largest font size


/*==================================================

  FIELD & LABEL

==================================================*/

.field {

  label {

    // Box attributes
    display: block;
    margin-bottom: .5rem;

    // Font
    @include fluid-type($min_width, $max_width, $label-min, $label-max);
    font-family: $font-bold;
  
    svg {

      // Box attributes
      margin-right: .5rem;
      height: 1.8rem;
      width: 1.8rem;
      position: relative;
      top: .3rem;

      // Style
      fill: white;

    }
  }
}


/*==================================================

  TEXT, EMAIL, TEL, URL, PASSWORD, SEARCH, NUMBER

==================================================*/

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
input[type=search],
input[type=number] {

  // Box attributes
  display: block;
  width: 100%;
  padding: .5rem;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid;
  border-left: none;
  
  // Font
  @include fluid-type($min_width, $max_width, $input-min, $input-max);
  font-family: $font-regular;
  line-height: 1.4;

  // Style
  background: white;
  transition: $transition;

  // Focus
  &:focus { background: darken(white,5%); }

  // Valid
  &:valid {}

  // Invalid
  &:invalid {}

  // Placeholder
  &::Placeholder {

    // Font
    @include fluid-type($min_width, $max_width, $input-min, $input-max);
    font-family: $font-regular;
    line-height: 1.4;

  }
}


/*==================================================

  RADIO

==================================================*/

.radio {

  label {

    // Box attributes
    position: relative;
    padding-left: 3rem;

    // Font
    @include fluid-type($min_width, $max_width, $input-min, $input-max);
    font-family: $font-regular;
    line-height: 1.4;

    // Style
    cursor: pointer;

    input[type=radio] {

      // Hiding default
      position: absolute; opacity: 0; z-index: -1;

      // Hover & Focus
      &:focus ~ .control, &:hover ~ .control { background: darken(#eee,10%); }

      // Checked
      &:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }

      // Disabled
      &:disabled ~ .control { background: darken(#eee,10%); }
    }
  }

  .control {

    // Box attributes
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 50%;

    // Transform
    transform: translateY(-50%);

    // Style
    background: #eee;
    transition: $transition;

    // Custom input checked initial state 
    &:after { 

      // Box attributes
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;

      // Transform
      transform: translate(-50%,-50%) scale(0);
    
      // Style
      background: #333;
      box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);
      transition: $transition;

    }
  }
}


/*==================================================

  CHECKBOX

==================================================*/

.checkbox {
  
  label {

    // Box attributes
    position: relative;
    padding-left: 3rem;

    // Font
    @include fluid-type($min_width, $max_width, $input-min, $input-max);
    font-family: $font-regular;
    line-height: 1.4;

    // Style
    cursor: pointer;

    input[type=checkbox] {

      // Hiding default
      position: absolute; opacity: 0; z-index: -1;

      // Hover & Focus
      &:focus ~ .control, &:hover ~ .control { background: darken(#eee,10%); }

      // Checked
      &:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }

      // Disabled
      &:disabled ~ .control { background: darken(#eee,10%); }
    }
  }

  .control {

    // Box attributes
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 50%;

    // Transform
    transform: translateY(-50%);

    // Style
    background: #eee;
    transition: $transition;

    // Custom input checked initial state 
    &:after { 

      // Box attributes
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;

      // Transform
      transform: translate(-50%,-50%) scale(0);
    
      // Style
      background: #333;
      box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);
      transition: $transition;

    }
  }
}


/*==================================================

  FILE

==================================================*/

.file {

  // Remove default input
  input[type="file"] { display: none; }

  label {

    // Box attributes
    display: inline-block;
    padding: 2rem 6rem;

    // Font
    font-family: $font-bold;
    color: $color-text-light;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;

    // Style
    cursor: pointer;
    background: $color-bg;
    transition: $transition;

    // Hover & Focus
    &:hover, &:focus { background: lighten($color-bg, 10%); }

  }
}


/*==================================================

  RANGE

==================================================*/


/*==================================================

  COLOR

==================================================*/


/*==================================================

  DATE, DATETIME-LOCAL, MONTH, WEEK, TIME

==================================================*/