@mixin accordion($theme) {

  $primary    : map-get($theme, primary);
  $accent     : map-get($theme, accent);
  $warn       : map-get($theme, warn);
  $success    : map-get($theme, success);
  $foreground : map-get($theme, foreground);
  $background : map-get($theme, background);


  /*
   * General
   */

  .accordion {
    display: block;
    overflow: hidden;
    margin-bottom: 0;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    border: none;
    background: map_get($background, card);
    transition: .2s;
  }


  /*
   * Accordion summary
   */

  .accordion-summary {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    padding: 1rem 4rem 1rem 1rem;
    margin: 0;
    color: map_get($foreground, text-primary);
    transition: .2s;

    &:after {
      content: '▸';
      position: absolute;
      top: 50%;
      right: 1rem;
      font-size: 14px;
      transform: translateY(-50%);
      transition: .2s;
    }

    &:hover {
      background: map_get($background, hover);
    }

  }


  /*
   * Accordion content
   */

  .accordion-content {
    padding: 1rem;
  }


  /*
   * Accordion active
   */

  .accordion.active > .accordion-summary:after {
    transform: translateY(-50%) rotate(90deg);
  }

  .accordion.active + .accordion {
    margin-top: 1rem;
  }

  .accordion + .active {
    margin-top: 1rem;
  }

}