@mixin tags($theme) {

  $primary    : map-get($theme, primary);
  $accent     : map-get($theme, accent);
  $warn       : map-get($theme, warn);
  $success    : map-get($theme, success);
  $foreground : map-get($theme, foreground);
  $background : map-get($theme, background);


  /*
   * Shared
   */

  %tags-shared {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    border-radius: 4px;
  }


  /*
   * Tags
   */

  .tag-primary {
    @extend %tags-shared;
    background: $primary;
    color: contrast($primary),
  }

  .tag-accent {
    @extend %tags-shared;
    background: $accent;
    color: contrast($accent);
  }

  .tag-warn {
    @extend %tags-shared;
    background: $warn;
    color: contrast($warn);
  }

  .tag-success {
    @extend %tags-shared;
    background: $success;
    color: contrast($success);
  }

}
