/*==================================================

  Accordion

==================================================*/


/*
 * General
 */

.accordion {
  display: block;
  overflow: hidden;
  transition: .2s;
  padding: 0 2rem;

  & > .accordion_summary > svg { transition: .2s; }
  &.active > .accordion_summary > svg { transform: rotate(-90deg); }

}


/*
 * Accordion summary
 */

.accordion_summary {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  cursor          : pointer;
  padding         : 1rem;
  background      : #eee;
  color           : #444;
  transition      : 0.2s;

  &:hover { background: #ccc; }

}