/*==================================================

  Accordion

==================================================*/


/*
 * General
 */

accordion { display: block; }


/*
 * Accordion toggle
 */

accordion-toggle {
  display     : block;
  cursor      : pointer;
  background  : #eee;
  color       : #444;
  transition  : 0.2s;

  &:hover { background: #ccc; }

  img {
    transition: .2s;
    transform: rotate(0);
  }

}


/*
 * Accordion panel
 */

accordion-panel {
  display         : block;
  overflow        : hidden;
  padding-top     : 0; /* Important */
  padding-bottom  : 0; /* Important */
  background      : white;
  transition      : 0.2s;
}


/*
 * Accordion opened
 */

accordion[opened] > accordion-toggle > img {
  transform: rotate(180deg);
}