/*==================================================

  BUTTONS

==================================================*/

/*
 * Preset style for:
 *
 * button,
 * input[type=button],
 * input[type=submit],
 * input[type=reset],
 * .file (input[type=file])
 */

button,
input[type=button],
input[type=submit],
input[type=reset],
.file {

  /* Basic */
  display: inline-block;
  cursor: pointer;

  /* Box model */
  padding: 2rem 6rem;
  margin: 1rem;
  outline: none;
  border: .1rem solid black;
  border-radius: 0;

  /* Background */
  background: white;

  /* Typography */
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;

  /* Correct alignment inside buttons */
  svg, img { vertical-align: middle; }

  /* Hover & Focus */
  &:hover, &:focus {}
  /* Disabled */
  &:disabled {}
  /* Active */
  &:active {}

  /* Hiding default input[type=file] */
  input[type="file"] { display: none; }

}

/*
 * # Examples #
 *
 * Normal button:
 * <button>Button</button>
 *
 * Button with SVG:
 * <button>
 *   <span>Btn SVG</span>
 *   <svg width="16" height="16" viewBox="1221 2035 18 12"><path d="M1221 2042h14.17l-3.58 3.59 1.41 1.41 6-6-6-6-1.41 1.41 3.58 3.59H1221z"/></svg>
 * </button>
 *
 * Button with IMG:
 * <button>
 *   <img height="16" width="16" src="assets/img/zap.svg" alt="Zap">
 *   <span>Btn IMG</span>
 * </button>
 *
 * input[type=button], input[type=submit], input[type=reset]:
 * <input type="button" value="button">
 * <input type="reset" value="reset">
 * <input type="submit" value="submit">
 *
 * input[type=file]
 * <label class="file" for="file">
 *   <svg height="16" width="16" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/></svg>
 *   <span>File</span>
 *   <input id="file" type="file">
 * </label>
 */