/*==================================================

  BUTTON STATES

==================================================*/


/*
 * Hiding button content
 */

[btn].loading,
[btn].success,
[btn].error {
  color           : transparent;
  pointer-events  : none;
  position        : relative;

  svg, img { opacity: 0; }

}


/*
 * Loading
 */

[btn].loading {
  background: rgba(40,120,200,.6);

  &:after {
    content       : '';
    display       : block;
    position      : absolute;
    top           : 50%;
    left          : 50%;
    height        : 1.8rem;
    width         : 1.8rem;
    border-radius : 50%;
    border-top    : .2rem solid white;
    border-right  : .2rem solid white;
    border-bottom : .2rem solid transparent;
    border-left   : .2rem solid transparent;
    animation     : progress-animation .75s linear infinite;

    @keyframes progress-animation {
      0%    { transform: translate(-50%,-50%) rotate(0deg); }
      100%  { transform: translate(-50%,-50%) rotate(360deg); }
    }

  }

}


/*
 * Success
 */

[btn].success {
  background: rgba(80,200,80,.6);

  &:after {
    content   : 'success';
    display   : block;
    position  : absolute;
    top       : 50%;
    left      : 50%;
    color     : white;
    transform : translate(-50%,-50%);
  }

}


/*
 * Error
 */

[btn].error {
  background: rgba(200,40,40,.6);

  &:after {
    content   : 'error';
    display   : block;
    position  : absolute;
    top       : 50%;
    left      : 50%;
    color     : white;
    transform : translate(-50%,-50%);
  }
  
}