/*==================================================

  BUTTONS

==================================================*/


/*
 * Shared style
 */

[btn] {
  display         : inline-block;
  cursor          : pointer;
  padding         : 1rem 2rem;
  border          : none;
  border-radius   : .2rem;
  font-size       : 1.4rem;
  font-weight     : 500;
  font-family     : 'Montserrat', sans-serif;
  text-transform  : uppercase;
  transition      : .2s;

  span, svg, img { vertical-align: middle; }

}


/*
 * Primary
 */

[btn*="primary"] {
  background  : $color-primary;
  color       : $white;
  fill        : $white;

  &:hover, &:focus {}
  &:active {}
  &:disabled {
    cursor      : not-allowed;
    box-shadow  : none;
    color       : #aaa;
    fill        : #aaa;
    background  : #eee;
  }

}


/*
 * Full
 */

[btn*="full"] { width: 100%; }