/*==================================================

  DROPDOWN

==================================================*/

/* -- Dropdown parent -- */
[dropdown] {

  /* Basic */
  display: inline-block;
  cursor: pointer;

  /* -- Dropdown menu -- */
  [dropdown-menu] {

    /* Basic */
    visibility: hidden;
    opacity: 0;

    /* Positioning */
    position: absolute;
    z-index: -1;

    /* Box model */
    padding: 1rem 0;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

    /* Transform */
    transform: scale3d(.85,.85,1);

    /* Transition */
    transition: .1s;

    /* -- Dropdown items -- */
    & > div {

      /* Box model */
      padding: .5rem 6rem .5rem 2rem;
      min-width: 20rem;

      /* Typography */
      font-size: 1.4rem;

      /* Transition */
      transition: .2s;

      /* Hover */
      &:hover { background: #ddd; }

    }

  }

  /* -- Dropdown active state -- */
  &:hover [dropdown-menu] {

    /* Basic */
    visibility: visible;
    opacity: 1;

    /* Positioning */
    z-index: 1;

    /* Transform */
    transform: scale3d(1,1,1);

  }

}

[dropdown*="top-left"] [dropdown-menu] {
  top: 0;
  left: 0;
  transform-origin: 0 0;
}

[dropdown*="top-right"] [dropdown-menu] {
  top: 0;
  right: 0;
  transform-origin: 100% 0;
}

[dropdown*="bottom-left"] [dropdown-menu] {
  bottom: 0;
  left: 0;
  transform-origin: 0 100%;
}

[dropdown*="bottom-right"] [dropdown-menu] {
  bottom: 0;
  right: 0;
  transform-origin: 100% 100%;
}

/*

<span dropdown="top-left">
    <span>Dropdown</span>
    <div dropdown-menu>
        <div>View all projects</div>
        <div>Create new project</div>
        <hr>
        <div>Dolor sit amet</div>
        <div>Lorem ipsum</div>
    </div>
</span>

*/