/*==================================================

  DROPDOWN

==================================================*/


/*
 * General
 */

dropdown {
  position  : relative;
  display   : inline-block;
}


/*
 * Dropdown toggle
 */

dropdown-toggle {
  display : inline-block;
  cursor  : pointer;
}


/*
 * Dropdown item
 */

dropdown-item {
  display : block;
  padding : .5rem 1rem;
  cursor  : pointer;

  &:hover { background: #eee; }

}


/*
 * Dropdown menu - initial
 */

dropdown-menu {
  opacity       : 0; /* See Dropdown menu - active */
  position      : absolute;
  z-index       : -1; /* See Dropdown menu - active */
  min-width     : 20rem;
  border-radius : .2rem;
  box-shadow    : 0 .2rem .4rem 0 rgba(0,0,0,.2);
  padding       : 1rem 0;
  background    : $white;
  transform     : scale3d(.8,.8,1); /* See Dropdown menu - active */
  transition    : .2s;
}


/*
 * Dropdown menu - active
 */

dropdown.active dropdown-menu {
  opacity   : 1;
  z-index   : 1;
  transform : scale3d(1,1,1);
}


/*
 * Anchoring
 */

dropdown-menu[anchor="top-left"] {
  top               : 0;
  left              : 0;
  transform-origin  : 0 0;
  text-align        : left;
}

dropdown-menu[anchor="top-right"] {
  top               : 0;
  right             : 0;
  transform-origin  : 100% 0;
  text-align        : right;
}

dropdown-menu[anchor="bottom-left"] {
  bottom            : 0;
  left              : 0;
  transform-origin  : 0 100%;
  text-align        : left;
}

dropdown-menu[anchor="bottom-right"] {
  bottom            : 0;
  right             : 0;
  transform-origin  : 100% 100%;
  text-align        : right;
}