form {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.3);
  width: 100%;
  max-width: 100rem;
  margin: 2rem auto;
  padding: 2rem;
}

/*==================================================

  FORM ELEMENTS (FE)

==================================================*/

/*
 *
 */

/*
 *
 */

.field {
  margin-bottom: 1rem;
}


/*
 *
 */

textarea {
  -webkit-appearance: textfield;
  resize: vertical;
  overflow: auto;
}

select {
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-ms-expand { display: none; }
}

input[type=checkbox],
input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/*
 *
 */

.fe_text,
.fe_textarea,
.fe_select {

  span {

    /* Basic */
    display: block;

    /* Typography */
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #666;
  }

  input,
  textarea,
  select {

    /* Basic */
    display: block;
    overflow: auto;
    resize: vertical;
    -webkit-appearance: textfield;

    /* Box model */
    width: 100%;
    padding: 1rem;
    margin: 0;
    border: 1px solid #ccc;

    /* Background */
    background: white;

    /* Typography */
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;

    /* Focus */
    &:focus, &:hover {}
    /* Valid */
    &:valid {}
    /* Invalid */
    &:invalid {}

    /* Placeholder */
    &::placeholder {
      font-family: sans-serif;
      font-size: 1.5rem;
      line-height: 1.5;
    }

  }
}


/*
 *
 */

.fe_select svg {
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}


/*
 *
 */

.fe_toggle {

  /* Basic */
  display: flex;
  align-items: center;
  cursor: pointer;

  span {

    /* Basic */
    display: inline-block;

    /* Typography */
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;

  }

  .switch {

    /* Variables */
    --width: 5rem;
    --height: 3rem;

    /* Basic */
    display: inline-block;

    /* Box model */
    width: var(--width);
    height: var(--height);
    border-radius: calc(var(--width) / 2);

    /* Position */
    position: relative;

    /* Background */
    background: #ccc;

    /* Transition */
    transition: .35s;

    &:after {
      content: '';
      display: block;
      width: calc(var(--height) - 0.6rem);
      height: calc(var(--height) - 0.6rem);
      background: white;
      position: absolute;
      top: .3rem;
      left: .3rem;
      border-radius: 50%;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
      transition: .35s;
    }
  }

  input[type=checkbox]:checked ~ .switch {
    background: palegreen;
    &:after { left: calc(var(--width) - var(--height) + .3rem); }
  }

}

/*==================================================

  asd

==================================================*/

.legend { display: inline-block; margin-bottom: 1rem; }

%radio, %checkbox {
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  // Text
  span { order: 2; }
  // Control box
  .control {
    order: 1;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: relative;
    transition: $transition;
    margin-right: 1rem;
    background: #eee;
  }
  // Indicator
  .control:after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: $transition;
    background: #333;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);
  }
  // Indicator – states
  input[type=radio], input[type=checkbox] {
    // Hover & Focus
    &:focus ~ .control, &:hover ~ .control { background: darken(#eee,10%); }
    // Disabled
    &:disabled ~ .control { background: darken(#eee,10%); }
  }
}

.field .radio {
  @extend %radio;
  .control { border-radius: 50%; }
  .control:after { border-radius: 50%; }
  // Checked
  input[type=radio]:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }
}

.field .checkbox {
  @extend %checkbox;
  // Checked
  input[type=checkbox]:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }
}

.field.collapse {
  display: flex;
  flex-wrap: wrap;
  .legend { flex: 1 1 100%; }
  .radio, .checkbox { flex: 1 1 auto; margin-bottom: unset; margin-right: 1rem;}
}