// TODO: REFACTOR

/*==================================================

  GENERAL FORM LAYOUT

==================================================*/

.field {
  margin-bottom: 3rem;
  span {
    // Position
    display: inline-block;
    // Font
    font-size: 1.4rem;
    line-height: 1.4;
  }

  label {
    // Display & Position
    display: flex;
    flex-direction: column;
    position: relative;
  }
}


/*==================================================

  TEXT, EMAIL, TEL, URL, PASSWORD, SEARCH, NUMBER
  
  SELECT

  TEXTAREA

==================================================*/

%input {
  // Display & Position
  display: block;
  -webkit-appearance: textfield;
  width: 100%;
  // Font
  font-size: 1.4rem;
  line-height: 1.4;
  // Style
  outline: none;
  border: 1px solid;
  background: none;
  padding: 1rem;
  margin-top: .5rem;

  // Focus
  &:focus, &:hover {}
  // Valid
  &:valid {}
  // Invalid
  &:invalid {}

  // Placeholder
  &::placeholder {
    font-family: sans-serif;
    line-height: 1.4;
  }
}

.input {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=url],
  input[type=password],
  input[type=search],
  input[type=number] {
    @extend %input;
  }
}

.select {
  select {
    @extend %input;
    cursor: pointer;
    // Remove default arrow cross-browser
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    &::-ms-expand { display: none; }
  }
  // Custom SVG arrow
  svg {
    // Box
    pointer-events: none;
    width: 1.2rem;
    height: .8rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    // Style
    fill: #141414;
  }
}

.textarea {
  textarea {
    @extend %input;
    // Resizing options
    resize: vertical;
    overflow: auto;
  }
}


/*==================================================

  RADIO

  CHECKBOX

==================================================*/

.legend { display: inline-block; margin-bottom: 1rem; }

%radio, %checkbox {
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  // Text
  span { order: 2; }
  // Control box
  .control {
    order: 1;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: relative;
    transition: $transition;
    margin-right: 1rem;
    background: #eee;
  }
  // Indicator
  .control:after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: $transition;
    background: #333;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);
  }
  // Indicator – states
  input[type=radio], input[type=checkbox] {
    // Hover & Focus
    &:focus ~ .control, &:hover ~ .control { background: darken(#eee,10%); }
    // Disabled
    &:disabled ~ .control { background: darken(#eee,10%); }
  }
}

.field .radio {
  @extend %radio;
  .control { border-radius: 50%; }
  .control:after { border-radius: 50%; }
  // Checked
  input[type=radio]:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }
  // Hiding default radio
  input[type=radio] { position: absolute; opacity: 0; z-index: -1; }
}

.field .checkbox {
  @extend %checkbox;
  // Checked
  input[type=checkbox]:checked ~ .control:after { transform: translate(-50%,-50%) scale(1); }
  // Hiding default checkbox
  input[type=checkbox] { position: absolute; opacity: 0; z-index: -1; }
}

.field.collapse {
  display: flex;
  flex-wrap: wrap;
  .legend { flex: 1 1 100%; }
  .radio, .checkbox { flex: 1 1 auto; margin-bottom: unset; margin-right: 1rem;}
}