/*==================================================

  Forms

==================================================*/

label {
  display: flex;
  border: 1px solid;
  font-size: 2rem;
  margin: 2rem 0;
  padding: 1rem;
  flex-direction: column;

  &[direction="vertical"] {
    flex-direction: column;
  }
  &[direction="horizontal"] {
    flex-direction: row;
    span { flex-basis: 200px; }
    input { flex: 1 1 auto; }
  }
}