/*==================================================

  FORM ELEMENTS (FE)

==================================================*/

/*==================================================
  GENERAL
==================================================*/

label[class^='fe_'] > * {
  vertical-align: middle;
  display: inline-block;
}

.field {
  margin-bottom: 1rem;
}


/*==================================================
  Hiding default styles
==================================================*/

textarea {
  -webkit-appearance: textfield;
  resize: vertical;
  overflow: auto;
}

select {
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-ms-expand { display: none; }
}

input[type=checkbox],
input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


/*==================================================
  TEXT, TEXTAREA, SELECT
==================================================*/

.fe_text,
.fe_textarea,
.fe_select {

  span {

    /* Typography */
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #666;

  }

  input,
  textarea,
  select {

    /* Box model */
    width: 100%;
    padding: 1rem;
    margin: 0;
    border: 1px solid #ccc;

    /* Background */
    background: white;

    /* Typography */
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;

    /* -- Focus -- */
    &:focus, &:hover {}
    /* -- Valid -- */
    &:valid {}
    /* -- Invalid -- */
    &:invalid {}

    /* -- Placeholder -- */
    &::placeholder {
      font-family: sans-serif;
      font-size: 1.5rem;
      line-height: 1.5;
    }

  }
}

/* -- Select custom dropdown arrow -- */
.fe_select {
  &-container {
    width: 100%;
    position: relative;
  }
  svg {
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
}


/*==================================================
  TOGGLE
==================================================*/

.fe_toggle {

  /* Basic */
  cursor: pointer;

  /* -- Toggle text -- */
  span {

    /* Typography */
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;

  }

  /* -- Toggle box -- */
  .switch {

    /* -- Variables -- */
    --width: 3.5rem;
    --height: 2rem;

    /* Box model */
    width: var(--width);
    height: var(--height);
    border-radius: calc(var(--width) / 2);

    /* Position */
    position: relative;

    /* Background */
    background: #ccc;

    /* Transition */
    transition: .35s;

    /* -- Toggle indicator -- */
    &:after {

      /* Basic */
      content: '';
      display: block;

      /* Position */
      position: absolute;
      top: .3rem;
      left: .3rem;

      /* Box model */
      width: calc(var(--height) - 0.6rem);
      height: calc(var(--height) - 0.6rem);
      border-radius: 50%;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);

      /* Background */
      background: white;

      /* Transition */
      transition: .35s;

    }

  }

  /* -- Checked -- */
  input[type=checkbox]:checked ~ .switch {
    background: palegreen;
    &:after { left: calc(var(--width) - var(--height) + .3rem); }
  }

}


/*==================================================
  RADIO & CHECKBOX
==================================================*/

.fe_radio,
.fe_checkbox {

  /* Basic */
  display: block;
  cursor: pointer;

  /* Box model */
  padding: 1rem 0;

  /* -- Control text -- */
  span {

    /* Typography */
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;

  }

  /* -- Control box -- */
  .control {

    /* Position */
    position: relative;

    /* Box model */
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;

    /* Background */
    background: #eee;

    /* Transition */
    transition: .35s;

    /* -- Control indicator -- */
    &:after {
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
      transition: .35s;
      background: #333;
      box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,0.2);
    }
  }

  /* -- States -- */
  input[type=radio],
  input[type=checkbox] {

    /* -- Hover & Focus -- */
    &:focus ~ .control,
    &:hover ~ .control {
      background: darken(#eee,10%);
    }

    /* -- Disabled -- */
    &:disabled ~ .control {
      background: darken(#eee,10%);
    }

    /* -- Checked -- */
    &:checked ~ .control:after {
      transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
    }

  }

}

/* -- Round radio input -- */
.fe_radio {
  .control { border-radius: 50%; }
  .control:after { border-radius: 50%; }
}

/*

<div class="field">
  <label class="fe_text asd" for="id_text">
    <span>Text</span>
    <input id="id_text" name="id_text" type="text" placeholder="Text placeholder" autocomplete="on" autofocus>
  </label>
</div>

<div class="field">
  <label class="fe_text" for="id_email">
    <span>Email</span>
    <input id="id_email" name="id_email" type="email" placeholder="Email placeholder" autocomplete="email">
  </label>
</div>

<div class="field">
  <label class="fe_text" for="id_tel">
    <span>Tel</span>
    <input id="id_tel" name="id_tel" type="tel" placeholder="Tel placeholder" autocomplete="tel">
  </label>
</div>

<div class="field">
  <label class="fe_text" for="id_url">
    <span>URL</span>
    <input id="id_url" name="id_url" type="url" placeholder="URL placeholder" autocomplete="url">
  </label>
</div>

<div class="field">
  <label class="fe_text" for="id_password">
    <span>Password</span>
    <input id="id_password" name="id_password" type="password" placeholder="Password placeholder">
  </label>
</div>

<div class="field">
  <label class="fe_text" for="id_search">
    <span>Search</span>
    <input id="id_search" name="id_search" type="search" placeholder="Search placeholder" autocomplete="on">
  </label>
</div>

<div class="field">
  <label class="fe_text" for="id_number">
    <span>Number</span>
    <input id="id_number" name="id_number" type="number" placeholder="Number placeholder" autocomplete="num">
  </label>
</div>

<div class="field">
  <label class="fe_textarea" for="id_textarea">
    <span>Textarea</span>
    <textarea name="" id="id_textarea" rows="3" placeholder="Textarea placeholder"></textarea>
  </label>
</div>

<div class="field">
  <label class="fe_select" for="id_select">
    <span>Select</span>
    <div class="fe_select-container">
      <select id="id_select" name="id_select">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
      </select>
      <svg height="12" width="12" fill="#cccccc" viewBox="520 2957 10 5"><path d="M520 2957l5 5 5-5z"/></svg>
    </div>
  </label>
</div>

<div class="field">
  <label class="fe_toggle p-a-1" for="id_toggle">
    <span class="m-r-1">Toggle</span>
    <input id="id_toggle" name="toggle" type="checkbox">
    <div class="switch"></div>
  </label>
</div>

<div class="field">
  <label class="fe_radio" for="id_radio-1">
    <input id="id_radio-1" name="radio" type="radio">
    <div class="control"></div>
    <span>Radio option 1</span>
  </label>
  <label class="fe_radio" for="id_radio-2">
    <input id="id_radio-2" name="radio" type="radio">
    <div class="control"></div>
    <span>Radio option 2</span>
  </label>
  <label class="fe_radio" for="id_radio-3">
    <input id="id_radio-3" name="radio" type="radio">
    <div class="control"></div>
    <span>Radio option 3</span>
  </label>
  <label class="fe_radio" for="id_radio-4">
    <input id="id_radio-4" name="radio" type="radio" disabled>
    <div class="control"></div>
    <span>Radio option disabled</span>
  </label>
</div>

<div class="field">
  <label class="fe_checkbox" for="id_checkbox-1">
    <input id="id_checkbox-1" name="checkbox" type="checkbox">
    <div class="control"></div>
    <span>Checkbox option 1</span>
  </label>
  <label class="fe_checkbox" for="id_checkbox-2">
    <input id="id_checkbox-2" name="checkbox" type="checkbox">
    <div class="control"></div>
    <span>Checkbox option 2</span>
  </label>
  <label class="fe_checkbox" for="id_checkbox-3">
    <input id="id_checkbox-3" name="checkbox" type="checkbox">
    <div class="control"></div>
    <span>Checkbox option 3</span>
  </label>
  <label class="fe_checkbox" for="id_checkbox-4">
    <input id="id_checkbox-4" name="checkbox" type="checkbox" disabled>
    <div class="control"></div>
    <span>Checkbox option disabled</span>
  </label>
</div>

*/