/*==================================================

  GRID

==================================================*/


/*
 * General
 */

grid {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : center;
  width           : 100%;
  margin          : 0 auto;

  max-width: 1200px; /* Default */
  &[size="small"]   { max-width: 900px; }
  &[size="medium"]  { max-width: 1200px; }
  &[size="large"]   { max-width: 1500px; }
  &[size="full"]    { max-width: 100%; }

  column { padding: 10px; } /* Default */
  &[gutter="small"] column  { padding: 5px; }
  &[gutter="medium"] column { padding: 10px; }
  &[gutter="large"] column  { padding: 20px; }

}


/*
 * Column sizes (general)
 */

column {
  &.span-1  { flex-basis: 8.3333%; }
  &.span-2  { flex-basis: 16.6666%; }
  &.span-3  { flex-basis: 25%; }
  &.span-4  { flex-basis: 33.3333%; }
  &.span-5  { flex-basis: 41.6666%; }
  &.span-6  { flex-basis: 50% }
  &.span-7  { flex-basis: 58.3333%; }
  &.span-8  { flex-basis: 66.6666%; }
  &.span-9  { flex-basis: 75%; }
  &.span-10 { flex-basis: 83.3333%; }
  &.span-11 { flex-basis: 91.6666%; }
  &.span-12 { flex-basis: 100%; }
}


/*
 * Column sizes (medium screen size)
 */

@media screen and (max-width: $screen-m) {
  column {
    &.span-m-1  { flex-basis: 8.3333%; }
    &.span-m-2  { flex-basis: 16.6666%; }
    &.span-m-3  { flex-basis: 25%; }
    &.span-m-4  { flex-basis: 33.3333%; }
    &.span-m-5  { flex-basis: 41.6666%; }
    &.span-m-6  { flex-basis: 50% }
    &.span-m-7  { flex-basis: 58.3333%; }
    &.span-m-8  { flex-basis: 66.6666%; }
    &.span-m-9  { flex-basis: 75%; }
    &.span-m-10 { flex-basis: 83.3333%; }
    &.span-m-11 { flex-basis: 91.6666%; }
    &.span-m-12 { flex-basis: 100%; }
  }
}


/*
 * Column sizes (small screen size)
 */

@media screen and (max-width: $screen-s) {
  column {
    &.span-s-1  { flex-basis: 8.3333%; }
    &.span-s-2  { flex-basis: 16.6666%; }
    &.span-s-3  { flex-basis: 25%; }
    &.span-s-4  { flex-basis: 33.3333%; }
    &.span-s-5  { flex-basis: 41.6666%; }
    &.span-s-6  { flex-basis: 50% }
    &.span-s-7  { flex-basis: 58.3333%; }
    &.span-s-8  { flex-basis: 66.6666%; }
    &.span-s-9  { flex-basis: 75%; }
    &.span-s-10 { flex-basis: 83.3333%; }
    &.span-s-11 { flex-basis: 91.6666%; }
    &.span-s-12 { flex-basis: 100%; }
  }
}


/*
 * Column sizes (extra small screen size)
 */

@media screen and (max-width: $screen-xs) {
  column {
    &.span-xs-1  { flex-basis: 8.3333%; }
    &.span-xs-2  { flex-basis: 16.6666%; }
    &.span-xs-3  { flex-basis: 25%; }
    &.span-xs-4  { flex-basis: 33.3333%; }
    &.span-xs-5  { flex-basis: 41.6666%; }
    &.span-xs-6  { flex-basis: 50% }
    &.span-xs-7  { flex-basis: 58.3333%; }
    &.span-xs-8  { flex-basis: 66.6666%; }
    &.span-xs-9  { flex-basis: 75%; }
    &.span-xs-10 { flex-basis: 83.3333%; }
    &.span-xs-11 { flex-basis: 91.6666%; }
    &.span-xs-12 { flex-basis: 100%; }
  }
}