/*==================================================

  Layout

==================================================*/


/*
 * Header
 */

header {
  position    : fixed;
  top         : 0;
  left        : 0;
  z-index     : 2;
  width       : 100%;
  background  : white;
  transition  : .2s;

  &.scrolled { box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); }

}


/*
 * Header content
 */

header-content {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  width           : 100%;
  max-width       : 120rem;
  margin          : 0 auto;
  padding         : 0 1rem;

  #logo {
    display     : flex;
    align-items : center;
    padding     : 1rem;
  }

  nav a {
    padding : 1rem;
    display : inline-block;

    &:hover { color: dodgerblue; }

    &[hide="xs"]  { @media (max-width: $screen-xs) { display: none; } }
    &[hide="s"]   { @media (max-width: $screen-s) { display: none; } }
    &[hide="m"]   { @media (max-width: $screen-m) { display: none; } }

    &[show]       { display: none; }
    &[show="xs"]  { @media (max-width: $screen-xs) { display: inline-block; } }
    &[show="s"]   { @media (max-width: $screen-s) { display: inline-block; } }
    &[show="m"]   { @media (max-width: $screen-m) { display: inline-block; } }

  }

}


/*
 * Main
 */

main {
  display         : flex;
  align-items     : center;
  justify-content : center;
  position        : relative;
  z-index         : 1;
  min-height      : 100vh;
  background      : #eee;
}


/*
 * Footer
 */

footer {
  display         : flex;
  align-items     : center;
  justify-content : center;
  min-height      : 150px;
  position        : relative;
  z-index         : 1;
  background      : #666;
  color           : white;
}


/*
 * Aside
 */

aside {
  position    : fixed;
  top         : 0;
  left        : 0;
  z-index     : -1;
  width       : 100%;
  height      : 100%;
  background  : rgba(0,0,0,0);
  transition  : .2s;
}


/*
 * Aside navigation menu
 */

aside nav {
  display         : flex;
  flex-direction  : column;
  overflow-y      : auto;
  position        : absolute;
  background      : white;
  padding         : 1rem;
  transition      : .2s;

  a {
    padding: 1rem 2rem;

    &:hover { color: dodgerblue; }

  }

  &[side="top"] {
    align-items : center;
    top         : 0;
    left        : 0;
    width       : 100%;
    text-align  : center;
    transform   : translate3d(0,-100%,0); /* See below .active */
  }
  &[side="right"] {
    top           : 0;
    right         : 0;
    height        : 100%;
    padding-left  : 10rem;
    text-align    : right;
    transform     : translate3d(100%,0,0); /* See below .active */
  }
  &[side="bottom"] {
    align-items : center;
    bottom      : 0;
    left        : 0;
    width       : 100%;
    text-align  : center;
    transform   : translate3d(0,100%,0); /* See below .active */
  }
  &[side="left"] {
    top           : 0;
    left          : 0;
    height        : 100%;
    padding-right : 10rem;
    text-align    : left;
    transform     : translate3d(-100%,0,0); /* See below .active */
  }

}


/*
 * Aside active state
 */

aside.active {
  z-index     : 10;
  background  : rgba(0,0,0,.5);

  nav { transform: translate3d(0,0,0); }

}