/*==================================================

  LISTS

==================================================*/

/* -- Vertical list -- */
ul.vertical {
  list-style: none;
  margin: 0;
  padding: 0;
  li { display: block; }
}

/* -- Horizontal list -- */
ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
  li { display: inline-block; }
}

/*

<ul class="vertical">
  <li> ... </li>
  ...
</ul>

<ul class="horizontal">
  <li> ... </li>
  ...
</ul>

*/