/*==================================================

  Modal
  
==================================================*/


/*
 * General
 */

[class*="modal"][id] {
  display         : none; /* See .active */
  align-items     : center;
  justify-content : center;
  position        : fixed;
  top             : 0;
  left            : 0;
  z-index         : -1; /* See .active */
  width           : 100%;
  height          : 100%;
  background      : rgba(0,0,0,.5);

  &[class*="--size-s"] .modal_body  { max-width: 40rem; }
  &[class*="--size-m"] .modal_body  { max-width: 80rem; }
  &[class*="--size-l"] .modal_body  { max-width: 120rem; }

  &.active {
    display : flex;
    z-index : 10;
  }

}

/*
 * Modal content
 */

.modal_content {
  box-shadow    : 0 .4rem .8rem rgba(0,0,0,.4);
  margin        : 2rem;
  background    : white;

  .modal_body {
    display     : block;
    overflow-y  : scroll;
    padding     : 2rem;
    max-width   : 120rem; /* Default */
  }

  .modal_header {
    display       : block;
    padding       : 2rem;
    background    : #eee;
    border-bottom : .1rem solid #ddd;
  }

  .modal_footer {
    display     : block;
    padding     : 2rem;
    text-align  : right;
    background  : #eee;
    border-top  : .1rem solid #ddd;
  }

}