/*==================================================

  GRID

==================================================*/

.grid {

  border: 1px solid;
  div[class^="col"] {border: 1px solid red;}

  /* Grid */
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  /* -- Container  -- */
  width: 100%;
  max-width: 1200px;
  margin: 5rem auto;

  /* -- Gutter -- */
  grid-gap: 3rem;
  padding: 0 1.5rem;

  /* -- Helper classes -- */
  &.full-screen { max-width: 100%; }
  &.no-gutter { padding: 0; grid-gap: 0; }

  /* -- Large screen sizes -- */
  .col-1 { grid-column: span 1; }
  .col-2 { grid-column: span 2; }
  .col-3 { grid-column: span 3; }
  .col-4 { grid-column: span 4; }
  .col-5 { grid-column: span 5; }
  .col-6 { grid-column: span 6; }
  .col-7 { grid-column: span 7; }
  .col-8 { grid-column: span 8; }
  .col-9 { grid-column: span 9; }
  .col-10 { grid-column: span 10; }
  .col-11 { grid-column: span 11; }
  .col-12 { grid-column: span 12; }

  /* -- Medium screen sizes -- */
  @media screen and (max-width: 1200px) {
    .col-m-1 { grid-column: span 1; }
    .col-m-2 { grid-column: span 2; }
    .col-m-3 { grid-column: span 3; }
    .col-m-4 { grid-column: span 4; }
    .col-m-5 { grid-column: span 5; }
    .col-m-6 { grid-column: span 6;  }
    .col-m-7 { grid-column: span 7; }
    .col-m-8 { grid-column: span 8; }
    .col-m-9 { grid-column: span 9; }
    .col-m-10 { grid-column: span 10; }
    .col-m-11{ grid-column: span 11; }
    .col-m-12 { grid-column: span 12; }
  }

  /* -- Small screen sizes -- */
  @media screen and (max-width: 800px) {
    .col-s-1 { grid-column: span 1; }
    .col-s-2 { grid-column: span 2; }
    .col-s-3 { grid-column: span 3; }
    .col-s-4 { grid-column: span 4; }
    .col-s-5 { grid-column: span 5; }
    .col-s-6 { grid-column: span 6; }
    .col-s-7 { grid-column: span 7; }
    .col-s-8 { grid-column: span 8; }
    .col-s-9 { grid-column: span 9; }
    .col-s-10 { grid-column: span 10; }
    .col-s-11{ grid-column: span 11; }
    .col-s-12 { grid-column: span 12; }
  }

}


@supports not (display: grid) {

  .grid {

    border: 1px solid;
    div[class^="col"] {border: 1px solid red;}

    /* Flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* -- Container  -- */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    /* -- Gutter -- */
    div[class^='col'] { padding: 1.5rem; }

    /* -- Helper classes -- */
    &.full-screen { max-width: 100%; }
    &.no-gutter { div[class^='col'] { padding: 0; } }

    /* -- Large screen sizes -- */
    .col-1 { flex-basis: 8.3333%; }
    .col-2 { flex-basis: 16.6666%; }
    .col-3 { flex-basis: 25%; }
    .col-4 { flex-basis: 33.3333%; }
    .col-5 { flex-basis: 41.6666%; }
    .col-6 { flex-basis: 50% }
    .col-7 { flex-basis: 58.3333%; }
    .col-8 { flex-basis: 66.6666%; }
    .col-9 { flex-basis: 75%; }
    .col-10 { flex-basis: 83.3333%; }
    .col-11 { flex-basis: 91.6666%; }
    .col-12 { flex-basis: 100%; }

    /* -- Medium screen sizes -- */
    @media screen and (max-width: 1200px) {
      .col-m-1 { flex-basis: 8.3333%; }
      .col-m-2 { flex-basis: 16.6666%; }
      .col-m-3 { flex-basis: 25%; }
      .col-m-4 { flex-basis: 33.3333%; }
      .col-m-5 { flex-basis: 41.6666%; }
      .col-m-6 { flex-basis: 50%;  }
      .col-m-7 { flex-basis: 58.3333%; }
      .col-m-8 { flex-basis: 66.6666%; }
      .col-m-9 { flex-basis: 75%; }
      .col-m-10 { flex-basis: 83.3333%; }
      .col-m-11{ flex-basis: 91.6666%; }
      .col-m-12 { flex-basis: 100%; }
    }

    /* -- Small screen sizes -- */
    @media screen and (max-width: 800px) {
      .col-s-1 { flex-basis: 8.3333%; }
      .col-s-2 { flex-basis: 16.6666%; }
      .col-s-3 { flex-basis: 25%; }
      .col-s-4 { flex-basis: 33.3333%; }
      .col-s-5 { flex-basis: 41.6666%; }
      .col-s-6 { flex-basis: 50%; }
      .col-s-7 { flex-basis: 58.3333%; }
      .col-s-8 { flex-basis: 66.6666%; }
      .col-s-9 { flex-basis: 75%; }
      .col-s-10 { flex-basis: 83.3333%; }
      .col-s-11{ flex-basis: 91.6666%; }
      .col-s-12 { flex-basis: 100%; }
    }

  }
}

/*

<div class="grid">
  <div class="col-3"> ... </div>
  <div class="col-3"> ... </div>
  <div class="col-3"> ... </div>
  <div class="col-3"> ... </div>
</div>

medium screens.
<div class="grid">
  <div class="col-3 col-m-6"> ... </div>
  <div class="col-3 col-m-6"> ... </div>
  <div class="col-3 col-m-6"> ... </div>
  <div class="col-3 col-m-6"> ... </div>
</div>

<div class="grid full-screen no-gutter">
  <div class="col-3"> ... </div>
  <div class="col-3"> ... </div>
  <div class="col-3"> ... </div>
  <div class="col-3"> ... </div>
</div>

*/