@import "../variables";

/**
 * Generic
 *
 * Style for generic & low-spec HTML elements.
 *
 *============================================================================*/





/* HTML
 *============================================================================*/

html {
  font-family: $font-primary;
  line-height: 1.5;
  font-size: 16px;
  color: $fg-d-secondary;
}





/* Headings
 *============================================================================*/

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  line-height: 1.2;
  font-weight: 700;
  color: $fg-d-primary;
}

h1 { font-size: 40px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }
h4 { font-size: 28px; }
h5 { font-size: 24px; }
h6 { font-size: 20px; }