@import "../variables";

/*------------------------------------*\
  # BASIC PAGE SETUP
\*------------------------------------*/

/**
 * 1. Best practice box-sizing. Source:
 *    css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 * 2. Causes 1rem to be equal to 10px. Only helpful if you're using rem.
 * 3. Forces long words to break into new line instead of overflowing.
 * 4. Default color for text.
 * 5. Default font family.
 * 6. Default font size
 */

*, *:before, *:after {
  box-sizing: inherit; /* [1] */
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box; /* [1] */
  font-size: 62.5%; /* [2] */
  word-wrap: break-word; /* [3] */
  overflow-wrap: break-word; /* [3] */
  line-height: 1.5;
  font-family: $font-primary; /* [4] */
  color: $fg-light-secondary; /* [5] */
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  font-size: 16px; /* [6] */
}





/*------------------------------------*\
  # HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1.2;
  color: $fg-light-primary;
}

h1 { font-size: 40px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }
h4 { font-size: 28px; }
h5 { font-size: 24px; }
h6 { font-size: 20px; }





/*------------------------------------*\
  # HR
\*------------------------------------*/

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #808080;
}