/**
 * Resets
 *
 * Style resets in order to synchronize different browser default styles.
 *
 *============================================================================*/





/* Margin resets
 *============================================================================*/

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin:  0;
}

// Remove trailing margins from nested lists
li > ol, ul {
    margin-bottom: 0;
}





/* Table spacing
 *============================================================================*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}





/* Inline -> inline-block
 *============================================================================*/

span,
a {
  display: inline-block;
}





/* Semantic markup
 *============================================================================*/

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

// Prevent material icons from being italic
i.material-icons {
  font-style: normal;
}





/* Hyperlink reset
 *============================================================================*/

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}