@mixin form-field($theme) {

  $primary    : map-get($theme, primary);
  $accent     : map-get($theme, accent);
  $warn       : map-get($theme, warn);
  $success    : map-get($theme, success);
  $foreground : map-get($theme, foreground);
  $background : map-get($theme, background);

  .form-field {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5em;
  }

}