@mixin form-toggle($theme) {

  $primary    : map-get($theme, primary);
  $accent     : map-get($theme, accent);
  $warn       : map-get($theme, warn);
  $success    : map-get($theme, success);
  $foreground : map-get($theme, foreground);
  $background : map-get($theme, background);

  .toggle {
    cursor: pointer;

    .control {
      position: relative;
      width: 4rem;
      height: 1.6rem;
      border-radius: 400rem;
      background: map_get($background, hover);
      transition: .2s;

      &:before {
        content: '';
        position: absolute;
        top: -1.6rem;
        left: -1.2rem;
        z-index: 1;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        background: transparent;
        transition: .2s;
      }

      &:after {
        content: '';
        position: absolute;
        top: -.4rem;
        left: 0;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        box-shadow: 0 .1rem .4rem 0 rgba(0,0,0,.4);
        background: map_get($foreground, toggle);
        transition: .2s;
      }

    }

    input[type=checkbox] {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:hover ~ .control:before,
      &:focus ~ .control:before {
        background: fade-out($accent,.75);
      }

      &:checked ~ .control {

        &:after {
          left: 1.6rem;
          box-shadow: 0 .1rem .4rem 0 rgba(0,0,0,.6);
          background: $accent;
        }

        &:before {
          left: .4rem;
        }

      }

    }

  }

}