/*==================================================

  Theme

==================================================*/

$theme: (
  dark    : false,
  primary : #3f51b5,
  accent  : #ffd740,
  warn    : #f44336,
);