/*==================================================

  Theme

==================================================*/


/*
 * Theme background colors
 */

$light-theme-background: (
  background: white,
  card      : white,
  hover     : rgba(0,0,0,.12),
  odd-rows  : rgba(0,0,0,.04),
  field     : #fafafa,
  ripple    : radial-gradient(circle, black 10%, transparent 10.01%)
);

$dark-theme-background: (
  background: #212121,
  card      : #424242,
  hover     : #636363,
  odd-rows  : rgba(255,255,255,.08),
  field     : #2f2f2f,
  ripple    : radial-gradient(circle, white 10%, transparent 10.01%)
);


/*
 * Theme foreground colors
 */

$light-theme-foreground: (
  text-primary  : rgba(0,0,0,.9),
  text-secondary: rgba(0,0,0,.6),
  disabled      : rgba(0,0,0,.26),
  divider       : rgba(0,0,0,.2),
  border        : rgba(0,0,0,.2),
  toggle        : #5f5f5f,
);

$dark-theme-foreground: (
  text-primary  : rgba(255,255,255,.9),
  text-secondary: rgba(255,255,255,.6),
  disabled      : rgba(255,255,255,.3),
  divider       : rgba(255,255,255,.2),
  border        : rgba(255,255,255,.2),
  toggle        : #c0c0c0,
);


/*
 * Function to get proper colors
 */

@function get-light-theme($primary, $accent, $warn: #f15a5a, $success: #4eba6f) {
  @return (
    primary   : $primary,
    accent    : $accent,
    warn      : $warn,
    success   : $success,
    foreground: $light-theme-foreground,
    background: $light-theme-background
  );
}

@function get-dark-theme($primary, $accent, $warn: #f15a5a, $success: #4eba6f) {
  @return (
    primary   : $primary,
    accent    : $accent,
    warn      : $warn,
    success   : $success,
    foreground: $dark-theme-foreground,
    background: $dark-theme-background
  );
}