/*==================================================

  Tools

==================================================*/


/*
 * Fluid function
 */

$low-screen-limit : 600px;
$high-screen-limit: 1600px;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid($max, $min, $prop) {
  & {
    #{$prop}: $min;
    @media screen and (min-width: $low-screen-limit) {
      #{$prop}: calc(#{$min} + #{strip-unit($max - $min)} * ((100vw - #{$low-screen-limit}) / #{strip-unit($high-screen-limit - $low-screen-limit)}));
    }
    @media screen and (min-width: $high-screen-limit) {
      #{$prop}: $max;
    }
  }
}


/*
 * Contrast function
 */

// For text
@function contrast($value) {
  $result: null;
  @if ((0.2126 * red($value) + 0.7152 * green($value) + 0.0722 * blue($value)) > 128) {
    $result: rgba(0,0,0,.9);
  }
  @else {
    $result: rgb(255,255,255);
  }
  @return $result;
}

// For ripple
@function contrast-ripple($value) {
  $result: null;
  @if ((0.2126 * red($value) + 0.7152 * green($value) + 0.0722 * blue($value)) > 128) {
    $result: #000;
  }
  @else {
    $result: #FFF;
  }
  @return $result;
}