/*==================================================

  Variables

==================================================*/

/*
 * Theme colors
 */

$my-theme: get-light-theme(
        $primary: pink,
        $accent: purple
);

$my-second-theme: get-light-theme(
        $primary: darkgreen,
        $accent: cyan
);


/*
 * Screen sizes
 */

$screen-xs: 450px;
$screen-s : 800px;
$screen-m : 1200px;