/*==================================================

  VARIABLES

* Edit, add, remove these as you wish
* Remember to remove them in other files if your remove them here

==================================================*/

// Fonts
$font-text: 'PTR'; // TODO: remove
$font-buttons: 'PTB'; // TODO: used in buttons.scss, remove there if removing here

// Colors
$color-bg-button: steelblue; // TODO: used in buttons.scss, remove there if removing here
$color-text-button: white; // TODO: used in buttons.scss, remove there if removing here

// Other
$transition: all .25s ease; // TODO: used in buttons.scss, remove there if removing here


/*==================================================

  VARIABLE HELPERS

* Zeus will smite you if you change anything here

==================================================*/

// Fluid typography
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// Lighten & Darken
@function lighten($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function darken($color, $percentage) {
  @return mix(black, $color, $percentage);
}