// Colors
$color-primary: #eee;
$color-accent : #c3002f;
$color-warn   : #f15a5a;
$color-success: #4eba6f;

// Typography - colors
$text-primary  : rgba(0,0,0,.9);
$text-secondary: rgba(0,0,0,.6);

// Typography - headings
$font-family-heading: 'Open Sans', sans-serif;
$font-weight-heading: 700;
$line-height-heading: 1.2;
$font-size-h1       : 40px;
$font-size-h2       : 36px;
$font-size-h3       : 32px;
$font-size-h4       : 28px;
$font-size-h5       : 24px;
$font-size-h6       : 20px;

// Typography - text
$font-family-text: 'Open Sans', sans-serif;
$font-weight-text: normal;
$line-height-text: 1.5;
$font-size-text  : 12px;

// Grid
$grid-size         : 1400px;
$grid-gutter       : 20px;
$grid-breakpoint-l : 1200px;
$grid-breakpoint-m : 1024px;
$grid-breakpoint-s : 768px;
$grid-breakpoint-xs: 450px;
