// Colors
$color-primary: #955ba5;
$color-accent : #f0c419;
$color-warn   : #f15a5a;
$color-success: #4eba6f;

// Typography - headings
$font-family-heading: 'PT Sans Narrow', sans-serif;
$font-size-h1       : 40px;
$font-size-h2       : 36px;
$font-size-h3       : 32px;
$font-size-h4       : 28px;
$font-size-h5       : 24px;
$font-size-h6       : 20px;
$font-weight-heading: 700;
$line-height-heading: 1.2;

// Typography - text
$font-family-text   : 'PT Sans', sans-serif;
$font-weight-text   : normal;
$font-size-text     : 16px;
$line-height-text   : 1.5;