@import "../00-setup/breakpoints";

/**
 * Utilities
 *
 * Utility classes that make life simple.
 *
 *============================================================================*/





/* Flex
 *============================================================================*/

.flex        { display: flex; }
.iflex       { display: inline-flex; }

.fw-wrap     { flex-wrap: wrap; }
.fw-nowrap   { flex-wrap: nowrap; }
.fw-wrap-rev { flex-wrap: wrap-reverse; }

.fd-row      { flex-direction: row; }
.fd-row-rev  { flex-direction: row-reverse; }
.fd-col      { flex-direction: column; }
.fd-col-rev  { flex-direction: column-reverse; }

.ai-stretch  { align-items: stretch; }
.ai-start    { align-items: flex-start; }
.ai-end      { align-items: flex-end; }
.ai-center   { align-items: center; }
.ai-base     { align-items: baseline; }

.jc-start    { justify-content: flex-start; }
.jc-end      { justify-content: flex-end; }
.jc-center   { justify-content: center; }
.jc-around   { justify-content: space-around; }
.jc-between  { justify-content: space-between; }
.jc-evenly   { justify-content: space-evenly; }





/* Flex children
 *============================================================================*/

.f1 { flex: 1; }
.f2 { flex: 2; }
.f3 { flex: 3; }





/* Displays
 *============================================================================*/

.block  { display: block; }
.iblock { display: inline-block; }





/* Backgrounds
 *============================================================================*/


.bg {
  background-color: var(--theme);
  color: var(--primary);
}
@each $group-name, $group in $colors-themes {
  .bg-#{$group-name} {
    background-color: var(--#{$group-name}-theme);
    color: var(--#{$group-name}-primary);
  }
}





/* Colors
 *============================================================================*/

.c {
  color: var(--theme);
}

.c1 {
  color: var(--primary);
}

.c2 {
  color: var(--secondary);
}

@each $group-name, $group in $colors-themes {
  .c-#{$group-name} {
    color: var(--#{$group-name}-theme);
  }
}





/* Borders
 *============================================================================*/

.b-a { border       : 2px solid; }
.b-t { border-top   : 2px solid; }
.b-r { border-right : 2px solid; }
.b-b { border-bottom: 2px solid; }
.b-l { border-left  : 2px solid; }





/* Fonts
 *============================================================================*/

@each $group-name, $group in $fonts {
  .font-#{$group-name} {
    font-family: var(--font-#{$group-name});
  }
}





/* Text controls
 *============================================================================*/

.ta-left      { text-align: left; }
.ta-center    { text-align: center; }
.ta-right     { text-align: right; }
.ta-justify   { text-align: justify; }

.ws-nowrap    { white-space: nowrap; }
.ws-normal    { white-space: normal; }

.fs-small     { font-size: 0.8em; }
.fs-large     { font-size: 1.3em; }





/* Object controls
 *============================================================================*/

.obj-cover   { object-fit: cover; }
.obj-contain { object-fit: contain; }





/* Positions
 *============================================================================*/

.relative { position: relative; }





/* Width & height
 *============================================================================*/

.w-full  { width: 100%; }
.w-auto  { width: auto; }

.h-full  { height: 100%; }
.h-auto  { height: auto; }

.mw-full { max-width: 100%; }





/* Hide & show
 *============================================================================*/

.hide-xs { @media (max-width: $screen-xs) { display: none; } }
.hide-s  { @media (max-width: $screen-s)  { display: none; } }
.hide-m  { @media (max-width: $screen-m)  { display: none; } }
.hide-l  { @media (max-width: $screen-l)  { display: none; } }

.show-xs { @media (min-width: $screen-xs + 1px) { display: none; } }
.show-s  { @media (min-width: $screen-s + 1px)  { display: none; } }
.show-m  { @media (min-width: $screen-m + 1px)  { display: none; } }
.show-m  { @media (min-width: $screen-l + 1px)  { display: none; } }





/* Paddings
 *============================================================================*/

.p-a-0   { padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; }





/* Margins
 *============================================================================*/

.m-a-0   { margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; }