/*==================================================

  Helpers

==================================================*/


/*
 * Flexbox component
 */

flexbox {
  display         : flex;
  height          : 100%;
  flex-direction  : column; /* Default */
  align-items     : center; /* Default */
  justify-content : center; /* Default */

  &[flex-direction="row"]     { flex-direction: row; }
  &[flex-direction="column"]  { flex-direction: column; }

  &[align-items="center"]     { align-items: center; }
  &[align-items="flex-start"] { align-items: flex-start; }
  &[align-items="flex-end"]   { align-items: flex-end; }

  &[justify-content="center"]         { justify-content: center; }
  &[justify-content="flex-start"]     { justify-content: flex-start; }
  &[justify-content="flex-end"]       { justify-content: flex-end; }
  &[justify-content="space-around"]   { justify-content: space-around; }
  &[justify-content="space-between"]  { justify-content: space-between; }
  &[justify-content="space-evenly"]   { justify-content: space-evenly; }

}


/*
 * Text align
 */

[text-align="left"]   { text-align: left; }
[text-align="center"] { text-align: center; }
[text-align="right"]  { text-align: right; }


/*
 * All sides margins
 */

[margin="tiny"]   { @include fluid(10px, 5px, margin); }
[margin="small"]  { @include fluid(20px, 10px, margin); }
[margin="medium"] { @include fluid(40px, 20px, margin); }
[margin="large"]  { @include fluid(80px, 40px, margin); }
[margin="huge"]   { @include fluid(160px, 80px, margin); }


/*
 * Vertical margins
 */

[margin-vertical="tiny"] {
  @include fluid(10px, 5px, margin-top);
  @include fluid(10px, 5px, margin-bottom);
}

[margin-vertical="small"] {
  @include fluid(20px, 10px, margin-top);
  @include fluid(20px, 10px, margin-bottom);
}

[margin-vertical="medium"] {
  @include fluid(40px, 20px, margin-top);
  @include fluid(40px, 20px, margin-bottom);
}

[margin-vertical="large"] {
  @include fluid(80px, 40px, margin-top);
  @include fluid(80px, 40px, margin-bottom);
}

[margin-vertical="huge"] {
  @include fluid(160px, 80px, margin-top);
  @include fluid(160px, 80px, margin-bottom);
}


/*
 * Horizontal margins
 */

[margin-horizontal="tiny"] {
  @include fluid(10px, 5px, margin-left);
  @include fluid(10px, 5px, margin-right);
}

[margin-horizontal="small"] {
  @include fluid(20px, 10px, margin-left);
  @include fluid(20px, 10px, margin-right);
}

[margin-horizontal="medium"] {
  @include fluid(40px, 20px, margin-left);
  @include fluid(40px, 20px, margin-right);
}

[margin-horizontal="large"] {
  @include fluid(80px, 40px, margin-left);
  @include fluid(80px, 40px, margin-right);
}

[margin-horizontal="huge"] {
  @include fluid(160px, 80px, margin-top);
  @include fluid(160px, 80px, margin-bottom);
}


/*
 * Each side margins
 */

[margin-top="tiny"]     { @include fluid(10px, 5px, margin-top); }
[margin-right="tiny"]   { @include fluid(10px, 5px, margin-right); }
[margin-bottom="tiny"]  { @include fluid(10px, 5px, margin-bottom); }
[margin-left="tiny"]    { @include fluid(10px, 5px, margin-left); }

[margin-top="small"]    { @include fluid(20px, 10px, margin-top); }
[margin-right="small"]  { @include fluid(20px, 10px, margin-right); }
[margin-bottom="small"] { @include fluid(20px, 10px, margin-bottom); }
[margin-left="small"]   { @include fluid(20px, 10px, margin-left); }

[margin-top="medium"]   { @include fluid(40px, 20px, margin-top); }
[margin-right="medium"] { @include fluid(40px, 20px, margin-right); }
[margin-bottom="medium"]{ @include fluid(40px, 20px, margin-bottom); }
[margin-left="medium"]  { @include fluid(40px, 20px, margin-left); }

[margin-top="large"]    { @include fluid(80px, 40px, margin-top); }
[margin-right="large"]  { @include fluid(80px, 40px, margin-right); }
[margin-bottom="large"] { @include fluid(80px, 40px, margin-bottom); }
[margin-left="large"]   { @include fluid(80px, 40px, margin-left); }

[margin-top="huge"]     { @include fluid(160px, 80px, margin-top); }
[margin-right="huge"]   { @include fluid(160px, 80px, margin-right); }
[margin-bottom="huge"]  { @include fluid(160px, 80px, margin-bottom); }
[margin-left="huge"]    { @include fluid(160px, 80px, margin-left); }


/*
 * All sides margins
 */

[padding="tiny"]   { @include fluid(10px, 5px, padding); }
[padding="small"]  { @include fluid(20px, 10px, padding); }
[padding="medium"] { @include fluid(40px, 20px, padding); }
[padding="large"]  { @include fluid(80px, 40px, padding); }
[padding="huge"]   { @include fluid(160px, 80px, padding); }


/*
 * Vertical paddings
 */

[padding-vertical="tiny"] {
  @include fluid(10px, 5px, padding-top);
  @include fluid(10px, 5px, padding-bottom);
}

[padding-vertical="small"] {
  @include fluid(20px, 10px, padding-top);
  @include fluid(20px, 10px, padding-bottom);
}

[padding-vertical="medium"] {
  @include fluid(40px, 20px, padding-top);
  @include fluid(40px, 20px, padding-bottom);
}

[padding-vertical="large"] {
  @include fluid(80px, 40px, padding-top);
  @include fluid(80px, 40px, padding-bottom);
}

[padding-vertical="huge"] {
  @include fluid(160px, 80px, padding-top);
  @include fluid(160px, 80px, padding-bottom);
}


/*
 * Horizontal paddings
 */

[padding-horizontal="tiny"] {
  @include fluid(10px, 5px, padding-left);
  @include fluid(10px, 5px, padding-right);
}

[padding-horizontal="small"] {
  @include fluid(20px, 10px, padding-left);
  @include fluid(20px, 10px, padding-right);
}

[padding-horizontal="medium"] {
  @include fluid(40px, 20px, padding-left);
  @include fluid(40px, 20px, padding-right);
}

[padding-horizontal="large"] {
  @include fluid(80px, 40px, padding-left);
  @include fluid(80px, 40px, padding-right);
}

[padding-horizontal="huge"] {
  @include fluid(160px, 80px, padding-top);
  @include fluid(160px, 80px, padding-bottom);
}


/*
 * Each side paddings
 */

[padding-top="tiny"]      { @include fluid(10px, 5px, padding-top); }
[padding-right="tiny"]    { @include fluid(10px, 5px, padding-right); }
[padding-bottom="tiny"]   { @include fluid(10px, 5px, padding-bottom); }
[padding-left="tiny"]     { @include fluid(10px, 5px, padding-left); }

[padding-top="small"]     { @include fluid(20px, 10px, padding-top); }
[padding-right="small"]   { @include fluid(20px, 10px, padding-right); }
[padding-bottom="small"]  { @include fluid(20px, 10px, padding-bottom); }
[padding-left="small"]    { @include fluid(20px, 10px, padding-left); }

[padding-top="medium"]    { @include fluid(40px, 20px, padding-top); }
[padding-right="medium"]  { @include fluid(40px, 20px, padding-right); }
[padding-bottom="medium"] { @include fluid(40px, 20px, padding-bottom); }
[padding-left="medium"]   { @include fluid(40px, 20px, padding-left); }

[padding-top="large"]     { @include fluid(80px, 40px, padding-top); }
[padding-right="large"]   { @include fluid(80px, 40px, padding-right); }
[padding-bottom="large"]  { @include fluid(80px, 40px, padding-bottom); }
[padding-left="large"]    { @include fluid(80px, 40px, padding-left); }

[padding-top="huge"]      { @include fluid(160px, 80px, padding-top); }
[padding-right="huge"]    { @include fluid(160px, 80px, padding-right); }
[padding-bottom="huge"]   { @include fluid(160px, 80px, padding-bottom); }
[padding-left="huge"]     { @include fluid(160px, 80px, padding-left); }