/*==================================================

  MIXINS

==================================================*/

/*==================================================
  FLUID
==================================================*/

$min-vw: 900px;
$max-vw: 1500px;

/* -- Don't change -- */
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-box($max, $min, $prop) {

  $maxTop: 0;
  $maxRight: 0;
  $maxBottom: 0;
  $maxLeft: 0;

  $minTop: 0;
  $minRight: 0;
  $minBottom: 0;
  $minLeft: 0;

  @if length($max) == 1 {
    $maxTop: $max;
    $maxRight: $max;
    $maxBottom: $max;
    $maxLeft: $max;
  }
  @if length($max) == 2 {
    $maxTop: nth($max, 1);
    $maxRight: nth($max, 2);
    $maxBottom: nth($max, 1);
    $maxLeft: nth($max, 2);
  }
  @if length($max) == 3 {
    $maxTop: nth($max, 1);
    $maxRight: nth($max, 2);
    $maxBottom: nth($max, 3);
    $maxLeft: nth($max, 2);
  }
  @if length($max) == 4 {
    $maxTop: nth($max, 1);
    $maxRight: nth($max, 2);
    $maxBottom: nth($max, 3);
    $maxLeft: nth($max, 4);
  }

  @if length($min) == 1 {
    $minTop: $min;
    $minRight: $min;
    $minBottom: $min;
    $minLeft: $min;
  }
  @if length($min) == 2 {
    $minTop: nth($min, 1);
    $minRight: nth($min, 2);
    $minBottom: nth($min, 1);
    $minLeft: nth($min, 2);
  }
  @if length($min) == 3 {
    $minTop: nth($min, 1);
    $minRight: nth($min, 2);
    $minBottom: nth($min, 3);
    $minLeft: nth($min, 2);
  }
  @if length($min) == 4 {
    $minTop: nth($min, 1);
    $minRight: nth($min, 2);
    $minBottom: nth($min, 3);
    $minLeft: nth($min, 4);
  }

  & {
    #{$prop}-top: $minTop;
    #{$prop}-right: $minRight;
    #{$prop}-bottom: $minBottom;
    #{$prop}-left: $minLeft;

    @media screen and (min-width: $min-vw) {
      #{$prop}-top: calc(#{$minTop} + #{strip-unit($maxTop - $minTop)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      #{$prop}-right: calc(#{$minRight} + #{strip-unit($maxRight - $minRight)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      #{$prop}-bottom: calc(#{$minBottom} + #{strip-unit($maxBottom - $minBottom)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      #{$prop}-left: calc(#{$minLeft} + #{strip-unit($maxLeft - $minLeft)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }
    @media screen and (min-width: $max-vw) {
      #{$prop}-top: $maxTop;
      #{$prop}-right: $maxRight;
      #{$prop}-bottom: $maxBottom;
      #{$prop}-left: $maxLeft;
    }
  }
}


@mixin fluid($max, $min, $prop) {
  & {
    #{$prop}: $min;
    @media screen and (min-width: $min-vw) {
      #{$prop}: calc(#{$min} + #{strip-unit($max - $min)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }
    @media screen and (min-width: $max-vw) {
      #{$prop}: $max;
    }
  }
}


/*==================================================
  OVERLAY
==================================================*/

/*
 * @include overlay(rgba(0,0,0,.5));
 */

@mixin overlay($overlayColor) {

  background-color: $overlayColor;
  background-blend-mode: overlay;

  /* -- IE10+ fallback -- */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    position: relative;
    &:after {
      content: '';
      display: block;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $overlayColor;
    }
    & > * {
      position: relative;
      z-index: 1;
    }
  }

  /* -- Microsoft Edge fallback -- */
  @supports (-ms-ime-align: auto) {
    position: relative;
    &:after {
      content: '';
      display: block;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $overlayColor;
    }
    & > * {
      position: relative;
      z-index: 1;
    }
  }

}