/*==================================================

  TYPOGRAPHY

==================================================*/


/*
 * Base
 */

html {
  font-family : 'Open Sans', sans-serif;
  font-size   : 62.5%;
  line-height : 1.5;
}

body { font-size: 2rem; }


/*
 * Resets
 */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration : none;
  color           : unset;
}

hr {
  display     : block;
  height      : .1rem;
  border      : 0;
  border-top  : .1rem solid #ccc;
  margin      : .4rem 0;
  padding     : 0;
}


/*
 * Headings
 */

h1 { font-size: 3.6rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.8rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 2.0rem; }
h6 { font-size: 1.6rem; }


/*
 * Paragraph
 */

p { font-size: 1.4rem; }


/*
 * Link style
 */

.link {
  text-decoration: underline;
  text-decoration-skip: ink;

  &:link    { color: dodgerblue; }
  &:visited { color: mediumpurple; }

}


/*
 * Vertical list
 */

ul[vertical] {
  list-style  : none;
  margin      : 0;
  padding     : 0;

  li { display: block; }

}


/*
 * Horizontal list
 */

ul[horizontal] {
  list-style  : none;
  margin      : 0;
  padding     : 0;

  li { display: inline-block; }

}