/*==================================================

  TYPOGRAPHY

==================================================*/

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 { font-size: 3.6rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.8rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 2.0rem; }
h6 { font-size: 1.6rem; }

p {  font-size: 1.4rem; }

a {
  text-decoration: none;
  color: unset;
}

/*==================================================
  HELPER CLASSES
==================================================*/

.link {
  text-decoration: underline;
  text-decoration-skip: ink;
  &:link { color: dodgerblue; }
  &:visited { color: mediumpurple; }
}

.tag {
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  opacity: .7;
}