/*==================================================

  VARIABLES

==================================================*/


/*
 * Screen sizes
 */

$screen-xs  : 450px;
$screen-s   : 800px;
$screen-m   : 1200px;

/*
 * Colors
 */

$color-primary  : rgb(0,145,234);
$black          : rgba(0,0,0,.8);
$white          : rgba(255,255,255,1);