/*==================================================

  HELPERS & VARIABLES
  
==================================================*/

// FLUID – min & max screen sizes
$min-vw: 50rem;
$max-vw: 150rem;

// Fluid helper
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}


/*==================================================

  FLUID
  
==================================================*/

@mixin test($values) {

  $u1: unit($min-vw);
  $u2: unit($max-vw);

  @if length($values) == 1 {
    $u3: unit($values);
    $u4: unit($values);

  }
  @if length($values) == 2 {
    $u3: unit(nth($values, 1));
    $u4: unit(nth($values, 2));
  }
  @if length($values) == 3 {

  }
  @if length($values) == 4 {

  }

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min} + #{strip-unit($max - $min)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max;
      }
    }
  }
}

@mixin fluid($max, $min, $prop) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min);
  $u4: unit($max);

  & {
    #{$prop}: $min;
    @media screen and (min-width: $min-vw) {
      #{$prop}: calc(#{$min} + #{strip-unit($max - $min)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }
    @media screen and (min-width: $max-vw) {
      #{$prop}: $max;
    }
  }
}


/*==================================================

  SCROLL ANIMATIONS

==================================================*/

@mixin scroll-animation-left() {
  transform: translateX(-50%);
  transition: $scroll-transition;
  &.enter { opacity: 1 !important; transform: translateX(0); }
}

@mixin scroll-animation-right() {
  transform: translateX(50%);
  transition: $scroll-transition;
  &.enter { opacity: 1 !important; transform: translateX(0); }
}

@mixin scroll-animation-top() {
  transform: translateY(-50%);
  transition: $scroll-transition;
  &.enter { opacity: 1 !important; transform: translateY(0); }
}

@mixin scroll-animation-bottom() {
  transform: translateY(50%);
  transition: $scroll-transition;
  &.enter { opacity: 1 !important; transform: translateY(0); }
}

@mixin scroll-animation-fade-in() {
  transition: $scroll-transition;
  &.enter { opacity: 1 !important; }
}


/*==================================================

  LIGHTEN & DARKEN
  
==================================================*/

@function lighten($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function darken($color, $percentage) {
  @return mix(black, $color, $percentage);
}