/*==================================================

  TYPOGRAPHY

==================================================*/

html { font-family: sans-serif; }

p, h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 {
  text-align: center;
  font-family: "open sans light";
  font-size: 36px;
}
h2 {

  color: #333A42;
  font-family: "open sans light";
  font-size: 32px;
}
h3 {

  color: #333A42;
  font-family: "open sans light";
  font-size: 28px;
}
h4 {
  color: #333A42;
  font-family: "open sans light";
  font-size: 24px;
}
h5 {
  color: #333A42;
  font-family: "open sans light";
  font-size: 20px;
}
h6 {
  color: #333A42;
  font-family: "open sans light";
  font-size: 16px;
}

p {
  color: #333A42;
  font-family: "open sans light";
  font-size: 14px;
}

.link {
  text-decoration-skip: ink;
  color: #0000ee;
  &:visited { color: #551a8b; }
}


/*==================================================

  LISTS

==================================================*/

ul.vertical {
  list-style: none;
  margin: 0;
  padding: 0;
  li { display: block; }
}
ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
  li { display: inline-block; }
}

