/*==================================================

  VARIABLES

==================================================*/

// Fonts
$font-regular: 'PTR'; // inputs.scss
$font-bold: 'PTB'; // buttons.scss, inputs.scss

// Transitions
$transition: all .25s ease; // buttons.scss, inputs.scss