/*==================================================

  VARIABLES

==================================================*/

// Fonts
$font-regular: 'PTR';
$font-bold: 'PTB';

// Colors
$black: #464646;
$white: #ffffff; 

// Transitions
$transition: all .25s ease;