/*==================================================

  Helpers

==================================================*/


/*
 * Hide & show
 */

.hide-xs  { @media (max-width: $screen-xs) { display: none; } }
.hide-s   { @media (max-width: $screen-s) { display: none; } }
.hide-m   { @media (max-width: $screen-m) { display: none; } }

.show-xs  { display: none; @media (max-width: $screen-xs) { display: inline-block; } }
.show-s   { display: none; @media (max-width: $screen-s) { display: inline-block; } }
.show-m   { display: none; @media (max-width: $screen-m) { display: inline-block; } }


/*
 * Flexbox component
 */

[class*="flex"] {
  display         : flex;
  height          : 100%;
  flex-wrap       : wrap;
  flex-direction  : column; /* Default */
  align-items     : center; /* Default */
  justify-content : center; /* Default */

  &[class*="--row"] { flex-direction: row; }
  &[class*="--col"] { flex-direction: column; }

  &[class*="--ai-center"]   { align-items: center; }
  &[class*="--ai-start"]    { align-items: flex-start; }
  &[class*="--ai-end"]      { align-items: flex-end; }
  &[class*="--ai-stretch"]  { align-items: stretch; }

  &[class*="--jc-center"]   { justify-content: center; }
  &[class*="--jc-start"]    { justify-content: flex-start; }
  &[class*="--jc-end"]      { justify-content: flex-end; }
  &[class*="--jc-around"]   { justify-content: space-around; }
  &[class*="--jc-between"]  { justify-content: space-between; }
  &[class*="--jc-evenly"]   { justify-content: space-evenly; }

}


/*
 * Text align
 */

[class*="align-left"]     { text-align: left; }
[class*="align-center"]   { text-align: center; }
[class*="align-right"]    { text-align: right; }
[class*="align-justify"]  { text-align: justify; }


/*
 * Paddings & margins
 */

[class*="p-a-xs"] { @include fluid(10px, 5px, padding); }
[class*="p-a-s"]  { @include fluid(20px, 10px, padding); }
[class*="p-a-m"]  { @include fluid(40px, 20px, padding); }
[class*="p-a-l"]  { @include fluid(80px, 40px, padding); }
[class*="p-a-xl"] { @include fluid(160px, 80px, padding); }

[class*="p-x-xs"] { @include fluid(10px, 5px, padding-left); @include fluid(10px, 5px, padding-right); }
[class*="p-x-s"]  { @include fluid(20px, 10px, padding-left); @include fluid(20px, 10px, padding-right); }
[class*="p-x-m"]  { @include fluid(40px, 20px, padding-left); @include fluid(40px, 20px, padding-right); }
[class*="p-x-l"]  { @include fluid(80px, 40px, padding-left); @include fluid(80px, 40px, padding-right); }
[class*="p-x-xl"] { @include fluid(160px, 80px, padding-left); @include fluid(160px, 80px, padding-right); }

[class*="p-y-xs"] { @include fluid(10px, 5px, padding-top); @include fluid(10px, 5px, padding-bottom); }
[class*="p-y-s"]  { @include fluid(20px, 10px, padding-top); @include fluid(20px, 10px, padding-bottom); }
[class*="p-y-m"]  { @include fluid(40px, 20px, padding-top); @include fluid(40px, 20px, padding-bottom); }
[class*="p-y-l"]  { @include fluid(80px, 40px, padding-top); @include fluid(80px, 40px, padding-bottom); }
[class*="p-y-xl"] { @include fluid(160px, 80px, padding-top); @include fluid(160px, 80px, padding-bottom); }

[class*="p-t-xs"] { @include fluid(10px, 5px, padding-top); }
[class*="p-t-s"]  { @include fluid(20px, 10px, padding-top); }
[class*="p-t-m"]  { @include fluid(40px, 20px, padding-top); }
[class*="p-t-l"]  { @include fluid(80px, 40px, padding-top); }
[class*="p-t-xl"] { @include fluid(160px, 80px, padding-top); }

[class*="p-r-xs"] { @include fluid(10px, 5px, padding-right); }
[class*="p-r-s"]  { @include fluid(20px, 10px, padding-right); }
[class*="p-r-m"]  { @include fluid(40px, 20px, padding-right); }
[class*="p-r-l"]  { @include fluid(80px, 40px, padding-right); }
[class*="p-r-xl"] { @include fluid(160px, 80px, padding-right); }

[class*="p-b-xs"] { @include fluid(10px, 5px, padding-bottom); }
[class*="p-b-s"]  { @include fluid(20px, 10px, padding-bottom); }
[class*="p-b-m"]  { @include fluid(40px, 20px, padding-bottom); }
[class*="p-b-l"]  { @include fluid(80px, 40px, padding-bottom); }
[class*="p-b-xl"] { @include fluid(160px, 80px, padding-bottom); }

[class*="p-l-xs"] { @include fluid(10px, 5px, padding-left); }
[class*="p-l-s"]  { @include fluid(20px, 10px, padding-left); }
[class*="p-l-m"]  { @include fluid(40px, 20px, padding-left); }
[class*="p-l-l"]  { @include fluid(80px, 40px, padding-left); }
[class*="p-l-xl"] { @include fluid(160px, 80px, padding-left); }

[class*="m-a-xs"] { @include fluid(10px, 5px, margin); }
[class*="m-a-s"]  { @include fluid(20px, 10px, margin); }
[class*="m-a-m"]  { @include fluid(40px, 20px, margin); }
[class*="m-a-l"]  { @include fluid(80px, 40px, margin); }
[class*="m-a-xl"] { @include fluid(160px, 80px, margin); }

[class*="m-x-xs"] { @include fluid(10px, 5px, margin-left); @include fluid(10px, 5px, margin-right); }
[class*="m-x-s"]  { @include fluid(20px, 10px, margin-left); @include fluid(20px, 10px, margin-right); }
[class*="m-x-m"]  { @include fluid(40px, 20px, margin-left); @include fluid(40px, 20px, margin-right); }
[class*="m-x-l"]  { @include fluid(80px, 40px, margin-left); @include fluid(80px, 40px, margin-right); }
[class*="m-x-xl"] { @include fluid(160px, 80px, margin-left); @include fluid(160px, 80px, margin-right); }

[class*="m-y-xs"] { @include fluid(10px, 5px, margin-top); @include fluid(10px, 5px, margin-bottom); }
[class*="m-y-s"]  { @include fluid(20px, 10px, margin-top); @include fluid(20px, 10px, margin-bottom); }
[class*="m-y-m"]  { @include fluid(40px, 20px, margin-top); @include fluid(40px, 20px, margin-bottom); }
[class*="m-y-l"]  { @include fluid(80px, 40px, margin-top); @include fluid(80px, 40px, margin-bottom); }
[class*="m-y-xl"] { @include fluid(160px, 80px, margin-top); @include fluid(160px, 80px, margin-bottom); }

[class*="m-t-xs"] { @include fluid(10px, 5px, margin-top); }
[class*="m-t-s"]  { @include fluid(20px, 10px, margin-top); }
[class*="m-t-m"]  { @include fluid(40px, 20px, margin-top); }
[class*="m-t-l"]  { @include fluid(80px, 40px, margin-top); }
[class*="m-t-xl"] { @include fluid(160px, 80px, margin-top); }

[class*="m-r-xs"] { @include fluid(10px, 5px, margin-right); }
[class*="m-r-s"]  { @include fluid(20px, 10px, margin-right); }
[class*="m-r-m"]  { @include fluid(40px, 20px, margin-right); }
[class*="m-r-l"]  { @include fluid(80px, 40px, margin-right); }
[class*="m-r-xl"] { @include fluid(160px, 80px, margin-right); }

[class*="m-b-xs"] { @include fluid(10px, 5px, margin-bottom); }
[class*="m-b-s"]  { @include fluid(20px, 10px, margin-bottom); }
[class*="m-b-m"]  { @include fluid(40px, 20px, margin-bottom); }
[class*="m-b-l"]  { @include fluid(80px, 40px, margin-bottom); }
[class*="m-b-xl"] { @include fluid(160px, 80px, margin-bottom); }

[class*="m-l-xs"] { @include fluid(10px, 5px, margin-left); }
[class*="m-l-s"]  { @include fluid(20px, 10px, margin-left); }
[class*="m-l-m"]  { @include fluid(40px, 20px, margin-left); }
[class*="m-l-l"]  { @include fluid(80px, 40px, margin-left); }
[class*="m-l-xl"] { @include fluid(160px, 80px, margin-left); }