/**
 * Theme
 *
 * Adjustable theme settings.
 *
 *============================================================================*/





/* Map of CSS variables
 *============================================================================*/

$colors: (
        primary: (
                base     : #3f51b5,
                primary  : rgba(255,255,255,1),
                secondary: rgba(255,255,255,.7),
                border   : rgba(255,255,255,.3)
        ),
        accent: (
                base     : #ff4081,
                primary  : rgba(255,255,255,1),
                secondary: rgba(255,255,255,.7),
                border   : rgba(255,255,255,.3)
        ),
        warn: (
                base     : #dc143c,
                primary  : rgba(255,255,255,1),
                secondary: rgba(255,255,255,.7),
                border   : rgba(255,255,255,.3)
        ),
        light: (
                base     : #f2f2f2,
                primary  : rgba(0,0,0,.87),
                secondary: rgba(0,0,0,.54),
                border   : rgba(0,0,0,.12)
        ),
        dark: (
                base     : #12161a,
                primary  : rgba(255,255,255,1),
                secondary: rgba(255,255,255,.7),
                border   : rgba(255,255,255,.3)
        )
);

$fonts: (
        primary  : sans-serif,
        secondary: serif,
        tertiary : monospace

);





/* Generating CSS variables in :root
 *============================================================================*/

:root {
  @each $group-name, $group in $colors {
    @each $color-name, $color-value in $group {
      --#{$group-name}-#{$color-name}: #{$color-value};
    }
  }
  @each $font-name, $font-value in $fonts {
    --font-#{$font-name}: #{$font-value};
  }
}